{#
/**
 * @file
 * Theme implementation for a 'webform' element.
 *
 * This is an copy of the webform.html.twig theme_wrapper which includes the
 * 'title_prefix' and 'title_suffix' variables needed for
 * contextual links to appear.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the webform.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_webform()
 * @see _webform_form_after_build()
 *
 * @ingroup themeable
 */
#}
<form{{ attributes }}>
    {{ title_prefix }}
    {{ children }}
    {{ title_suffix }}
    <p class="webform-dl-document-mentionsLegales">Vous êtes informé(e) que les informations que vous communiquez notamment du fait des formulaires qui sont présents sur ce site permettent de répondre à vos demandes et sont uniquement destinées à Orange, en tant que responsable du traitement, à des fins de gestion administrative et commerciale.<br />
        Vous disposez, conformément à la loi française n° 78-17 du 6 janvier 1978 modifiée relative à l’informatique, aux fichiers et aux libertés, d’un droit d’accès, de rectification, de modification et de suppression des données qui vous concernent.<br />
        Vous pouvez exercer vos droits d’accès, de rectification, de modification et de suppression en nous contactant par courrier à l’adresse suivante : Orange SA, 78 rue Olivier de Serres, 75505 PARIS cedex 15.</p>
</form>
