/* Bouton avec bordures blanches, et fond noir */
a.btn-white-border,
.cke_show_borders a.btn-white-border{
    color: #fff;
    background-color: #000 ;
    border-color: #fff;
}
.btn-white-border a:hover {
    color:#000;
    background-color: #fff;
}
/* Bouton avec un fond orange, sans bordures */
.btn-primary,
.bg_white .btn-primary{
    color: #fff;
    background-color: #f16e00;
    border-color: #fff;
    margin-right: 2rem;
    padding-right: 3rem;
    padding-left: 3rem;
    font-family: HelvNeueOrange, Arial, sans-serif;
    font-weight: 700;
}
.btn-primary:focus,
.btn-primary:hover,
.bg_white .btn-primary:focus,
.bg_white .btn-primary:hover{
    color: #fff;
    background-color: #f16e00;
    border-color: #fff;
}

.btn-primary i {
    padding-right: 1rem;
}

.noborder {
    border-color: transparent !important;
    white-space: normal;

}
.noborder a:hover {
    text-decoration: none !important;
}

.btn{
    text-decoration: none !important;
}

.module_telechargement .btn{
    font-size: 0.875em !important;
    line-height: 1em !important;
}

.btn-pdf-mss {
  margin: 30px 0;
}
