/* USAGE
<div class="row">
  <div class="row-height">
    <div class="col-xs-2 col-xs-height col-xs-middle">
      <div class="inside"></div>
    </div>
    <div class="col-xs-4 col-lg-5 col-xs-height col-xs-middle">
      <div class="inside"></div>
    </div>
  </div>
</div>
*/
@media (max-width: 767px) {
    html {
        font-size: 8px;
    }
    h1{
        font-size: 3.4rem;
    }
    h2{
        font-size: 3rem;
    }
    h3{
        font-size: 2.4rem;
    }
    h4{
        font-size: 2rem;
    }
    h5{
        font-size: 1.8rem;
    }
}
@media (min-width: 768px) {
    html {
        font-size: 9px;
    }
    h1{
        font-size: 3.4rem;
    }
    h2{
        font-size: 3rem;
    }
    h3{
        font-size: 2.4rem;
    }
    h4{
        font-size: 2rem;
    }
    h5{
        font-size: 1.8rem;
    }
}
@media (min-width: 1220px) {
    html {
        font-size: 10px;
    }
}
.no-padding{
    padding: 0 !important;
}
.no-margin{
    margin: 0 !important;
}

.width-xxs-1,
.width-xs-1,
.width-sm-1,
.width-md-1,
.width-lg-1,
.width-xl-1{
    width: 10%;
}
.width-xxs-2
.width-xs-2,
.width-sm-2,
.width-md-2,
.width-lg-2,
.width-xl-2{
    width: 20%;
}
.width-xxs-3,
.width-xs-3,
.width-sm-3,
.width-md-3,
.width-lg-3,
.width-xl-3{
    width: 30%;
}
.width-xxs-4,
.width-xs-4,
.width-sm-4,
.width-md-4,
.width-lg-4,
.width-xl-4{
    width: 40%;
}
.width-xxs-5,
.width-xs-5,
.width-sm-5,
.width-md-5,
.width-lg-5,
.width-xl-5{
    width: 50%;
}
.width-xxs-6,
.width-xs-6,
.width-sm-6,
.width-md-6,
.width-lg-6,
.width-xl-6{
    width: 60%;
}
.width-xxs-7,
.width-xs-7,
.width-sm-7,
.width-md-7,
.width-lg-7,
.width-xl-7{
    width: 70%;
}
.width-xxs-8,
.width-xs-8,
.width-sm-8,
.width-md-8,
.width-lg-8,
.width-xl-8{
    width: 80%;
}
.width-xxs-9,
.width-xs-9,
.width-sm-9,
.width-md-9,
.width-lg-9,
.width-xl-9{
    width: 90%;
}
.width-xxs-10,
.width-xs-10,
.width-sm-10,
.width-md-10,
.width-lg-10,
.width-xl-10{
    width: 100%;
}

@media (max-width: 480px) {
    .width-xxs-1{
        width: 10%;
    }
    .width-xxs-2{
        width: 20%;
    }
    .width-xxs-3{
        width: 30%;
    }
    .width-xxs-4{
        width: 40%;
    }
    .width-xxs-5{
        width: 50%;
    }
    .width-xxs-6{
        width: 60%;
    }
    .width-xxs-7{
        width: 70%;
    }
    .width-xxs-8{
        width: 80%;
    }
    .width-xxs-9{
        width: 90%;
    }
    .width-xxs-10{
        width: 100%;
    }
}
@media (min-width: 480px) {
    .width-xs-1{
        width: 10%;
    }
    .width-xs-2{
        width: 20%;
    }
    .width-xs-3{
        width: 30%;
    }
    .width-xs-4{
        width: 40%;
    }
    .width-xs-5{
        width: 50%;
    }
    .width-xs-6{
        width: 60%;
    }
    .width-xs-7{
        width: 70%;
    }
    .width-xs-8{
        width: 80%;
    }
    .width-xs-9{
        width: 90%;
    }
    .width-xs-10{
        width: 100%;
    }
}
@media (min-width: 768px) {
    .width-sm-1{
        width: 10%;
    }
    .width-sm-2{
        width: 20%;
    }
    .width-sm-3{
        width: 30%;
    }
    .width-sm-4{
        width: 40%;
    }
    .width-sm-5{
        width: 50%;
    }
    .width-sm-6{
        width: 60%;
    }
    .width-sm-7{
        width: 70%;
    }
    .width-sm-8{
        width: 80%;
    }
    .width-sm-9{
        width: 90%;
    }
    .width-sm-10{
        width: 100%;
    }
}
@media (min-width: 980px) {
    .width-md-1{
        width: 10%;
    }
    .width-md-2{
        width: 20%;
    }
    .width-md-3{
        width: 30%;
    }
    .width-md-4{
        width: 40%;
    }
    .width-md-5{
        width: 50%;
    }
    .width-md-6{
        width: 60%;
    }
    .width-md-7{
        width: 70%;
    }
    .width-md-8{
        width: 80%;
    }
    .width-md-9{
        width: 90%;
    }
    .width-md-10{
        width: 100%;
    }
}
@media (min-width: 1220px) {
    .width-lg-1{
        width: 10%;
    }
    .width-lg-2{
        width: 20%;
    }
    .width-lg-3{
        width: 30%;
    }
    .width-lg-4{
        width: 40%;
    }
    .width-lg-5{
        width: 50%;
    }
    .width-lg-6{
        width: 60%;
    }
    .width-lg-7{
        width: 70%;
    }
    .width-lg-8{
        width: 80%;
    }
    .width-lg-9{
        width: 90%;
    }
    .width-lg-10{
        width: 100%;
    }
}
@media (min-width: 1380px) {
    .width-xl-1{
        width: 10%;
    }
    .width-xl-2{
        width: 20%;
    }
    .width-xl-3{
        width: 30%;
    }
    .width-xl-4{
        width: 40%;
    }
    .width-xl-5{
        width: 50%;
    }
    .width-xl-6{
        width: 60%;
    }
    .width-xl-7{
        width: 70%;
    }
    .width-xl-8{
        width: 80%;
    }
    .width-xl-9{
        width: 90%;
    }
    .width-xl-10{
        width: 100%;
    }
}

/* content styles */

.inside {
    margin-top: 20px;
    margin-bottom: 20px;
    #background: #ededed;
    #background: -webkit-gradient(linear, left top, left bottom,color-stop(0%, #f4f4f4), color-stop(100%, #ededed));
    #background: -moz-linear-gradient(top, #f4f4f4 0%, #ededed 100%);
    #background: -ms-linear-gradient(top, #f4f4f4 0%, #ededed 100%);
}
.inside-full-height {
    /*
    // if you want to give content full height give him height: 100%;
    // with content full height you can't apply margins to the content
    // content full height does not work in ie http://stackoverflow.com/questions/27384433/ie-display-table-cell-child-ignores-height-100
    */
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

/* columns of same height styles */

.row-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}
.col-height {
    display: table-cell;
    float: none;
    height: 100%;
}
.col-top {
    vertical-align: top;
}
.col-middle {
    vertical-align: middle;
}
.col-bottom {
    vertical-align: bottom;
}

@media (min-width: 480px) {
    .row-xs-height {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%;
    }
    .col-xs-height {
        display: table-cell;
        float: none;
        height: 100%;
    }
    .col-xs-top {
        vertical-align: top;
    }
    .col-xs-middle {
        vertical-align: middle;
    }
    .col-xs-bottom {
        vertical-align: bottom;
    }

}

@media (min-width: 768px) {
    .row-sm-height {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%;
    }
    .col-sm-height {
        display: table-cell;
        float: none;
        height: 100%;
    }
    .col-sm-top {
        vertical-align: top;
    }
    .col-sm-middle {
        vertical-align: middle;
    }
    .col-sm-bottom {
        vertical-align: bottom;
    }

}

@media (min-width: 992px) {
    .row-md-height {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%;
    }
    .col-md-height {
        display: table-cell;
        float: none;
        height: 100%;
    }
    .col-md-top {
        vertical-align: top;
    }
    .col-md-middle {
        vertical-align: middle;
    }
    .col-md-bottom {
        vertical-align: bottom;
    }

    #related-content-slick-carousel .slick-list{
        width:100% !important;
    }
}

@media (min-width: 1200px) {
    .row-lg-height {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%;
    }
    .col-lg-height {
        display: table-cell;
        float: none;
        height: 100%;
    }
    .col-lg-top {
        vertical-align: top;
    }
    .col-lg-middle {
        vertical-align: middle;
    }
    .col-lg-bottom {
        vertical-align: bottom;
    }


    #related-content-slick-carousel .slick-list{
        width:100% !important;
    }
}

/* centering styles for jsbin */

html,
body {
    width: 100%;
    height: 100%;
}
html {
    display: table;
}
body {
    display: table-cell;
    vertical-align: middle;
   /* background-color: #ffffff;*/
    background-color: #eee;

}
body.path-subhome-iot-products,
body.path-subhome-iot-achievement {
    background-color: #fff;
}

body > .main-container{
   /* margin-bottom: 3rem; */
    padding-left: 0;
    padding-right: 0;
}

@media (max-width: 767px) {
    body > .main-container{
        /*max-width: 100%;*/
        padding: 0;
        margin-right: 0;
        margin-left: 0;
    }
}

body.cke_editable.cke_editable_themed {
    vertical-align: top !important;
    font-size: 1.6rem;
}
section.left-column{
    padding-left: 0;
    padding-right: 1rem;
}
aside.right-column{
    padding-right: 0;
    padding-left: 1rem;
}

@media (max-width: 767px) {
    aside.right-column {
        padding-left: 0;
        padding-right: 1rem;
    }
}

section.left-column > .region,
aside.right-column > .region{
     background-color: white;
    padding-right: 3rem;
    padding-left: 3rem;
}
@media (max-width: 767px) {
    /*section.left-column,
    aside.right-column{
        padding: 0;
    }*/

    section.left-column > .region,
    aside.right-column > .region{
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

.row.nomargin {
    margin-right: 0!important;
    margin-left: 0!important;
}

.img-popout{
    bottom: 0;
    height: 100%;
    overflow: hidden;
    position: absolute;
    right: 80px;
}

.img-popout-background {
    top: 0 !important;
    left: 0 !important;
}
.img-popout img{
    width: 100%;
    height: 100%;
}

.inline{
    display: inline;
}

.contact_margin {
    margin-left: 5rem;

}
.contact_icons {
   margin-top: 2.2rem;
}
.contact_margin i:first-child{
    margin-left: 0;
}
.contact_blockquote {
    font-size: 1.6rem ;
    line-height: 2rem;
    border-left: 1px solid #fff;
}
.contact_blockquote a{
    text-decoration: none !important;
}
.contact_button {
    margin-top:20px;
    width: 147px;
    font-size: 1.6rem;
    line-height: 1.4rem;
    min-height: 40px;
    text-align: center;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

#contact_module.sticky-module .title {
    display: none;
}

@media(max-width: 767px) {
    .contact_blockquote {
        border-left: none;
        padding-left: 0;
    }

    .pull-right{
        margin-right: 2.5rem;
        font-size: 1.2rem;
    }

    .contact_chevron {
        font-size: 1.6rem;
        margin-top: 0.8rem;
    }

    .contact_margin {
        font-size: 2.4rem;
        margin-left: 1rem;
    }

    .contact_icons {
        font-size: 1.2rem;
    }

    .contact_button{
        margin-bottom: 20px;
        margin-top: 0px;
        font-size: 1.4rem;
        line-height: 1.6rem;
    }

    a.contact_link {
        font-size: 1.6rem;
    }
}

.module_related_content .image {
    margin-bottom: 20px;
}

.separator {
    border-bottom: 1px solid white;
    height: 1rem;
}

.center {
    text-align: center;
}

.borderWhite {
    border-right: solid 1px #fff;
}

.hr_top_bottom {
    border: 0;
    border-bottom: 1px solid #CBCBCB;
    border-top: 1px solid #CBCBCB;
    padding: 1.5rem 0 0.5rem 0;
    margin-top: 2.5rem;
    margin-bottom: 3.5rem;
}

.bubble
{
    position: relative;
    margin: 20px 0px 20px 0px;
    padding: 25px 20px 15px 20px;
    background: #FFFFFF;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: #CCCCCC solid 1px;
}

.bubble:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 12px 7px 12px 0;
    border-color: transparent #CCCCCC;
    display: block;
    width: 0;
    z-index: 1;
    left: -7px;
    top: 19px;
}

.bubble:before
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 12px 7px 12px 0;
    border-color: transparent #CCCCCC;
    display: block;
    width: 0;
    z-index: 0;
    left: -8px;
    top: 19px;
}

.verbatim-image {
    padding: 20px 0px 20px 0px;
}
.nextimage-bubble {
    margin: 0px;
    height: 175px;
    display: table-cell;
    vertical-align: middle;
}

.nopaddingleft{
    padding-left: 0px !important;
}
.nopaddingright{
    padding-right: 0px !important;
}






#related-content-slick-carousel .image img {
    margin: 0 auto;
    width: 100%;
    height: auto;
}
#highlights-container .highlights-items .item .inner .text .title {
    font-size: 2em;
    line-height: 1.2em;
    margin: 5px 8px 10px;
    color: black;
}
#highlights-container .highlights-items {
    margin: 0 -10px;
}

.related-content-column-label {
    color: black;
    font-size: 2rem;
    margin: 1.5rem 2rem 1rem;
    font-weight: bold;
}

.highlight {
    font-size: 1.3rem;
    margin: 0 20px 60px 20px;
    color: black;
    text-decoration: none;
    min-height : 25px;
}
.related-content-content .highlight{
    font-size: 1.6rem;
}

.related-content-content{
    background-color: #ffffff;
    padding:0;
}

#related-content-slick-carousel{
    margin-top: 1rem;
    padding: 2rem;
}


.item-related-content {
    padding: 0;
    width: 30%;
    float: none;
    display: table-cell !important;
    background-color: white;
    border-right: 2rem solid black;
    border-left: 2rem solid black;
    border-bottom: 4rem solid black;
    vertical-align: top;
}

#slider_direct_access{
  width: 100%;
}

/*For Mobile*/
@media (max-width: 480px) {
  /* For 3 items */
  div.location-bar-direct-access-3-items-1 {
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
  }

  div.location-bar-direct-access-3-items-2 {
    padding-top: 7%;
    border-right: 1px solid #eee;
  }

  div.location-bar-direct-access-3-items-3 {
    padding-top: 7%;
  }

  div.location-bar-direct-access-3-items-4 {
    padding-top: 7%;
  }

  /* For 4 items */
  div.location-bar-direct-access-4-items-1 {
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
  }

  div.location-bar-direct-access-4-items-2 {
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
  }

  div.location-bar-direct-access-4-items-3 {
    border-right: 1px solid #eee;
    padding-top: 7%;
  }

  div.location-bar-direct-access-4-items-4 {
    padding-top: 7%;
  }
}

/*For Desktop*/
@media (min-width: 480px) {
  /* For 3 items */
  div.location-bar-direct-access-3-items-1 {
    border-right: 1px solid;
    border-right-color: #bbb;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 6.5rem;
  }
  div.location-bar-direct-access-3-items-2 {
    border-right: 1px solid;
    border-right-color: #bbb;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 6.5rem;
  }
  div.location-bar-direct-access-3-items-3 {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 6.5rem;
  }

  /* For 4 items */
  div.location-bar-direct-access-4-items-1 {
    border-right: 1px solid;
    border-right-color: #bbb;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 6.5rem;
  }
  div.location-bar-direct-access-4-items-2 {
    border-right: 1px solid;
    border-right-color: #bbb;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 6.5rem;
  }
  div.location-bar-direct-access-4-items-3 {
    border-right: 1px solid;
    border-right-color: #bbb;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 6.5rem;
  }
  div.location-bar-direct-access-4-items-4 {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 6.5rem;
  }
}

.item-direct-access {
  width: 20%;
  float: left;
}

#related-content-slick-carousel article.media  {
    margin-top: 0px !important;
}

#views-exposed-form-subhomes-page-document.subhomes-filterbar-background{
    padding: 20px 20px !important;
}

#views-exposed-form-subhomes-page-iot-products.subhomes-filterbar-background,
#views-exposed-form-subhomes-page-achievements-iot.subhomes-filterbar-background {
  background-color: #fff;
}

#views-exposed-form-subhomes-page-iot-products.subhomes-filterbar-background > div > fieldset > legend,
#views-exposed-form-subhomes-page-achievements-iot.subhomes-filterbar-background > div > fieldset > legend {
  border: none;
}

/*For Desktop*/
@media (min-width: 480px) {
  .subhomes-filterbar-background {
    background-color: #ededed;
    padding: 20px 30px;
    margin-left: -30px;
    margin-right: -30px;
  }
  #views-exposed-form-subhomes-page-iot-products.subhomes-filterbar-background,
  #views-exposed-form-subhomes-page-achievements-iot.subhomes-filterbar-background {
    margin-left: -20px;
  }
}
/*for Mobile */
@media (max-width: 480px) {
  .subhomes-filterbar-background {
    padding: 20px 45px 0 30px;
    margin-left: -30px;
    margin-right: -30px;
  }
}

.subhomes-filterbar select{
    /*style des form-select a definir*/
}

#edit-submit-subhomes{
    background: black;
    color: #fff;
    margin-right: 1rem;
}

.subhome-view-press .view-filters.form-group #edit-submit-subhomes{
  background: black;
  color: #fff;
  margin-left: 0.5rem;
  margin-bottom: 2rem;
}

#edit-submit-subhomes-archive {
  margin-left: 1rem;
  padding-bottom: 0.7rem;
}

#edit-submit-subhomes:hover,
#edit-submit-subhomes:active{
    background: white;
    color: #000;
}

.subhome-image{
    height: 125px;
}

.slick-dots{
    width: 90%;
}




#homepage-playlist-slick-carousel .image img {
    margin: 0 auto;
    width: 100%;
}
#homepage-playlist-slick-carousel article.media  {
    margin-top: 0px !important;
}
#homepage-playlist-slick-carousel{
    padding:20px;
}
#homepage-playlist-slick-carousel .slick-list{
    width:100% !important;
}
.item-homepage-playlist {
    padding: 0px 20px 40px 20px;
    width: 30%;
    float: left;
}

.row .top-zone-homepage {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
