.field--type-oab-text ul,
.cke_show_borders ul{
    list-style-type: square;
}

.obs_introductory_text{
    font-weight: 700;
}
.obs_title_h3{
    font-size: 1.8rem;
    color:#191919;
    font-weight: 400;
}
.obs_title_h4{
    font-size: 1.6rem;
    color:#191919;
    font-weight: 400;
}
.obs_title_h5{
    font-size: 1.5rem;
    color:#191919;
    font-weight: 700;
}
.obs_introducy_about{
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
}
.obs_date_or_author {
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #666666;
}
.obs_blog_title_h2{
    color:#000000;
    font-size: 3rem;
    line-height:3.6rem;
    font-weight: 700;
}
.obs_blog_title_h3{
    line-height: 2.6rem;
    margin-top: 3.5rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
}
.obs_blog_title_h4 {
    color: #444444;
    line-height: 2.2rem;
    font-weight: 700;
    margin-top: 3rem;
}


/*
*  TEMPLATE CALL TO ACTION
*/

p.callToAction.highlight {
    font-family: HelvNeueOrange, Arial, sans-serif;
    font-weight: 700;
    font-size: 3em !important;
    /*font-weight: bold; /* A remplacer par le numéro correspondant dans la police (~600)*/
    line-height: 4.5rem;
    margin-bottom:3.5rem;
}

/*
*  TEMPLATE RELATED CONTENT
*/
.related_content h2{
    font-family: HelvNeueOrange, Arial, sans-serif;
    font-weight: 700;
    font-size: 2.5em !important;
    color: white;
    margin-bottom: 2.5rem;
    margin-top: 1rem;
}
.related_content h3{
    font-family: HelvNeueOrange, Arial, sans-serif;
    font-weight: 700;
    font-size: 1.7em !important;
    margin-top: 0;
    margin-bottom: 1.5rem;
}
.related_content p.highlight{
    font-family: HelvNeueOrange, Arial, sans-serif;
    font-weight: 700;
    font-size: 2.5em !important;
    line-height: 3.5rem;
    margin-bottom:3.5rem;
}
.related_content p.related_type{
    margin-bottom: 0;
    padding-bottom: 1rem;
    background-color: black;
    color: white;
}
.related_content .articles{
    margin-bottom: 3rem;
}
.related_content article{
    /*min-height: 430px;*/
    margin-bottom: 2rem;
}
.related_content article,
.related_content article.nopaddingLeft,
.related_content article.nopaddingRight,
.related_content article.halfpadding{
    padding: 0 !important;
}
.related_content article.nopaddingLeft{
    border-right: 1rem solid black;
    border-bottom: 2rem solid black;
}
.related_content article.nopaddingRight{
    border-left: 1rem solid black;
}
.related_content article.halfpadding{
    border-right: 0.5rem solid black;
    border-left: 0.5rem solid black;
}
@media (max-width: 767px) {
    .related_content article.nopaddingLeft,
    .related_content article.nopaddingRight,
    .related_content article.halfpadding{
        border: 0;
    }
}
.related_content p.short_description{
    font-family: HelvNeueOrange, Arial, sans-serif;
    font-weight: 700;
    font-size: 1.1em;
    line-height: 1.5rem;
}
.related_content a{
    font-family: HelvNeueOrange, Arial, sans-serif;
    font-weight: 700;
    font-size: 1.1em;
    text-decoration: none;
}

p.normal {
    font-family: HelvNeueOrange, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.3em !important;
    margin-bottom:3rem;
}

p.auteur {
    font-family: HelvNeueOrange, Arial, sans-serif;
    font-weight: 700;
    font-size: 1.7rem !important;

}

p.modulecontent {
    font-family: HelvNeueOrange, Arial, sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.4rem;
}

.module_telechargement p.titre {
    font-family: HelvNeueOrange, Arial, sans-serif;
    font-weight: 700;
    font-size: 1.25em;
    line-height: 1.2em !important;
}

.module_telechargement p.titre,
.module_related_content p.titre
{
    font-family: HelvNeueOrange, Arial, sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.4rem !important;
}

.module_related_content p.titre{
    margin-bottom: 2rem !important;
}


.module_related_content .field--name-field-image{
    max-height: 185px;
}
p.intro {
    font-family: HelvNeueOrange, Arial, sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.6rem !important;
    margin-top:4rem;
}

.module_telechargement p.intro,
.module_related_content p.intro{
    margin-top: 0 !important;
}

p.date {
    font-family: HelvNeueOrange, Arial, sans-serif;
    font-weight: 400;
    font-size: 1em !important;
    font-weight: bold;
}

p.title {
    font-family: HelvNeueOrange, Arial, sans-serif;
    font-weight: 700;
    font-size: 1.3rem !important;
    color: #f60;
}

p.header {
    font-family: HelvNeueOrange, Arial, sans-serif;
    font-weight: 700;
    font-size: 6rem !important;
    line-height: 7rem;
    margin: 0;
    color: #fff;
}
p.image p{
    margin: 0 0 0rem;
}

p.source {
    font-family: HelvNeueOrange, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2em !important;
    margin-bottom:3rem;
    color: #fff;
}


blockquote {
    font-size: 2em;
}

p.number  {
    font-family: HelvNeueOrange, Arial, sans-serif;
    font-weight: 700;
    font-size: 6em;
    line-height: 1em;
    position: relative;
    top: 15px;
}
@media (max-width: 768px) {
    p.number.text-align-right  {
        text-align: left;
    }
}

p.subtitle {
    font-family: HelvNeueOrange, Arial, sans-serif;
    font-weight: 700;
    font-size: 2em !important;
    color: #000;
}


p.highlight {
    font-family: HelvNeueOrange, Arial, sans-serif;
    font-weight: 700;
    font-size: 3em !important;
    line-height: 4.5rem;
    margin-bottom:3.5rem;
}

p.center.highlight {
   vertical-align: middle;
}

.text_white {
    color: #fff!important ;
}
.text_black {
    color: #000!important ;
}
.text_orange {
    color: #f60!important ;
}

.text_orange2 {
    color: #F16E00!important ;
}

/*
*  TEMPLATE SPEAK TO AN EXPERT
*/

/*
*  TEMPLATE SUBSCRIBE NEWSLETTER
*/

/*
*  TEMPLATE BENEFITS
*/

/*
*  TEMPLATE POPULAR SERVICES
*/

/*
*  TEMPLATE NEED SOLUTION
*/

/*
*  TEMPLATE MY CUSTOMER
*/

/*
*  TEMPLATE LISTEN RESPOND
*/

/*
*  TEMPLATE KEEP YOUR BUSINESS
*/

/*
*  TEMPLATE CUSTOMER STORY
*/

/*
*  TEMPLATE HEADER BANNER
*/
.banner{
    margin: 0;
}
.banner .frame-icon-rel{
    z-index: 1;
}

.banner .frame-popout{
    z-index: 2;

}
.banner .title{
    font-size: 0.15em;
}
.banner .description{
    font-family: HelvNeueOrange, Arial, sans-serif;
    font-weight: 700;
    font-size: 3em;
    font-weight: bold;
    line-height: 1em;
    margin-top: 50px;
    position: relative;
    z-index: 1;
}
.banner .img-popout{
    right: 2.5rem;
    top: 2.5rem;
}
@media (max-width: 480px) {
    .banner .description{
        font-size: 1.5em;
    }
}
@media (min-width: 480px) {
    .banner .description{
        font-size: 2em;
    }
}
@media (min-width: 768px) {
    .banner .description{
        font-size: 2em;
    }
}
@media (min-width: 980px) {
    .banner .description{
        font-size: 3em;
    }
}
@media (min-width: 1220px) {

}


/* Limitation d'une div, avec un lien "more" pour dérouler, et un
lien "less" pour réduire. Ces termes sont modifiables dans le JS */

a.morelink {
    text-decoration: underline;
    outline: none;
}
.morecontent span {
    display: none;
}
.comment {
    width: 850px;
    margin: 10px;
}

a.contact_link {
    font-size: 1.8rem;
    text-decoration: none !important;
    font-weight: bold;
    margin-left: 1rem;
}
.contact_anchorlink{
    margin-top: 0.9rem;
}
.contact_anchorlink a{
    text-decoration: none !important;
}

/* Guidelines for the links :
- white background : black colour unselected, black or orange and underlined on rollover
- black background : white colour unselected, white or orange and underlined on rollover
- supporting colour background : black colour unselected, black or orange and underlined on rollover */
.bg_black a{
    color: #fff;
    text-decoration: none;
}

.bg_black a:hover,
.cke_show_borders .bg_black a:hover{
    color: #f60;
    text-decoration: underline;
}

.black_link a:hover,
.cke_show_borders .black_link a:hover{
    color: #000 !important;
    text-decoration: underline;
}

.white_link a:hover,
.cke_show_borders .white_link a:hover {
    color: #fff !important;
    text-decoration: underline;
}


.bg_white a{
    color: #000;
    text-decoration: none;
}

.bg_white a:hover,
.cke_show_borders .bg_white a:hover{
    color: #f60;
    text-decoration: underline;
}


.bg_orange a{
    color: #000;
    text-decoration: none;
}

.bg_orange a:hover,
.cke_show_borders .bg_orange a:hover{
    color: #000;
    text-decoration: underline;
}

.region-content article a{
    text-decoration: underline;
}
.region-content article .nav-tabs a,
.region-content article .nav-tabs a:hover,
.region-content article .nav-tabs a.active{
    text-decoration: none !important;
}

/*
*  TEMPLATE CONTENU LIE
*/
.banner-linked-content{

}
.banner-linked-content .description{
    font-size: 2rem;
    font-family: HelvNeueOrange, Arial, sans-serif;
    font-weight: 700;
    z-index: 1;
    position: relative;
    line-height: 2.4rem;
}
.banner-linked-content .description p{
    margin: 0;
}
.banner-linked-content a.btn-primary{
    margin-top: 3rem;
    border: 0;
    text-decoration: none !important;
    font-size: 1.4rem;
}
.banner-linked-content a.btn-primary:hover,
.banner-linked-content a.btn-primary:focus{
    text-decoration: underline !important;
}
.banner-linked-content .img-popout-background{
    z-index: 0;
}

/*
*  TEMPLATE ESSENTIEL V2
*/
.banner-essentiel{
    padding: 0;
}
.banner-essentiel .col:first-child,
.img-popout-background{
    min-height: 200px;
}
.banner-essentiel .frame-icon-rel{
    font-size: 16rem;
    left: 1rem;
    top: 3rem;
}
.banner-essentiel .frame-icon-rel .frame-text{
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2rem;
    text-align: center;
}
.banner-essentiel .description{
    font-size: 2rem;
    font-family: HelvNeueOrange, Arial, sans-serif;
    font-weight: 700;
    z-index: 1;
    position: relative;
    line-height: 2.4rem;
    padding: 1.2rem 2rem;
}
.banner-essentiel .description p{
    margin: 0;
}
.banner-essentiel a.btn-primary{
    margin-top: 3rem;
    border: 0;
    text-decoration: none !important;
    font-size: 1.4rem;
}
.banner-essentiel a.btn-primary:hover,
.banner-essentiel a.btn-primary:focus{
    text-decoration: underline !important;
}

p.intertitre {
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: 700;
}
p.contenu {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 400;
}

.orangelink a{
    color: rgb(255,121, 0) !important;
}

/*
*  TEMPLATE PRODUCT
*/
.bg-partner{
    margin-bottom: 1.5rem;
}
.bg-partner .img {
    text-align: center;
    background-color: #ededed;
    height: 130px;
}
.node-axiome-partners .bg-partner .img img{
    margin: auto;
    max-width: 10.5rem;
    max-height: 13rem;
}
.node-axiome-partners .bg-partner .img{
    display: flex;
}
.node-axiome-partners .bg-partner .img a{
    display: inherit;
    margin: auto;
}
.bg-partner .img article,
.bg-partner .img > div{
    display: flex;
    height: 100%;
}
.bg-partner .img > div drupal-entity{
    width: 100%;
}
.bg-partner .img article img{
    margin: auto;
    max-width: 10.5rem;
    max-height: 13rem;
}
.verbatim-source {
    font-family: HelvNeueOrange, Arial, sans-serif;
    font-size: 1.4rem;
    line-height: 1.6rem !important;
}
.verbatim-title{
    font-size: 1.8rem;
    font-family: HelvNeueOrange, Arial, sans-serif;
    font-weight: 700;
    line-height: 2rem;
    margin-bottom: 1.2rem;
}
/*
* MODULE KEY FIGURES
 */
.module_key_figures_1,
.module_key_figures_2,
.module_key_figures_3{
    float: none;
}
.module_key_figures_2,
.module_key_figures_3{
    display: flex;
}
@media (max-width: 767px) {
    .module_key_figures_2,
    .module_key_figures_3 {
        display: block;
    }
}
.module_key_figures_1,
.module_key_figures_2 .bg,
.module_key_figures_3 .bg {
    padding: 3rem 3rem;
}
.module_key_figures_1 img,
.module_key_figures_2 img,
.module_key_figures_3 img{
    margin: auto;
    max-width: 90%;
    max-height: 90%;
}
.module_key_figures_1 article,
.module_key_figures_2 article,
.module_key_figures_3 article{
    height: 100%;
    display: flex;
}
.key_figure_big,
.key_figure_small{
    font-weight: bold;
}
.key_figure_big{
    font-size: 10rem;
    line-height: 10rem;
}
.key_figure_small{
    font-size: 6rem;
    line-height: 6rem;
}
.module_key_figures_1 .titre3,
.module_key_figures_2 .titre3,
.module_key_figures_3 .titre3{
    margin-bottom: 0.5rem !important;
}

/*
* MODULE  POURQUOI ORANGE
 */
.pourquoi{
    border: 1px solid #CCC;
    display: table;
    width: 100%;
    table-layout: fixed;
}
.pourquoi .col{
    width: 33.33%;
    border-right: 1px solid #CCC;
    padding: 3.5rem 2.5rem;
    vertical-align: top;
}
.pourquoi .col:last-child{
    border: none;
}
.pourquoi .col div.ligne{
    border-bottom: 1px solid #CCC;
    padding: 3.5rem 2.5rem;
    margin-left: -2.5rem;
    margin-right: -2.5rem;
}
.pourquoi .col div.ligne:first-child{
    padding-top: 0;
}
.pourquoi .col div.ligne:last-child{
    padding-bottom: 0;
    border: none;
}
.pourquoi .col div.ligne p:last-child{
    margin-bottom: 0;
}
.pourquoi .col div.ligne img,
.pourquoi .col div.ligne p > img {
    max-width: 200px;
    width: 100%;
    height: auto;
}
.pourquoi .col div.ligne .small-image{
    width: auto !important;
}


@media (max-width: 767px) {
    .pourquoi table,
    .pourquoi tr,
    .pourquoi td{
        display: block;
    }
    .pourquoi .col {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #CCC;
        padding: 1rem;
    }
    .pourquoi .col div.ligne{
        border-bottom: 1px solid #CCC;
        padding: 1rem;
        margin-left: -1rem;
        margin-right: -1rem;
    }
}

/*
* MODULE  LOCAL NAV
 */
.local_nav{
    border: 1px solid #CCC;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: white;
    transition: top 0.8s ease;
}
.local_nav ul{
    margin: 0;
    padding: 0;
}
.local_nav ul li{
    list-style: none;
    float: left;
}
.local_nav a{
    font-weight: 700;
    font-size: 1.6rem;
    margin-right: 2rem;
}

/*.local_nav.sticky-module .container{ margin-left: 0px; }*/

#mobile_dropdown_subnav .btn-default{
    color: black;
    width: 100%;
    background-color: white;
    border-color: white;
}
#mobile_dropdown_subnav .btn-default span.caret{
    margin-left: 5px;
}
#mobile_local_nav {
    width: 100%;
}
#mobile_dropdown_subnav ul li{
    line-height: 3rem;
}

.page-node-type-solution .node-socialbar{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.videoEmbedFull iframe{
    width: 100%;
}
@media (max-width: 767px) {
    .module_key_figures_1,
    .module_key_figures_2 .bg,
    .module_key_figures_3 .bg {
        padding: 3rem 1rem;
    }
}
.clearboth{
    clear: both;
}
.node-axiome-tarifs .title{
    text-align: center;
}
.node-axiome-tarifs .bg_black{
    padding: 3rem;
}
.node-axiome-tarifs .price{
    font-size: 2.4rem;
    color: rgb(255, 121, 0);
}
.node-axiome-tarifs .details{
    background-color: #ccc;
}
.node-axiome-tarifs .bloc1{
    border-bottom: 1px solid #666666;
}
.node-axiome-tarifs .bloc1 div,
.node-axiome-tarifs .bloc2 div{
    padding: 3rem;
}
