<div class="obs_template two_columns_33_66">
	<div class="col first">
  	<p>Put the text of the first column here</p>
  </div>
  <div class="col second last">
  	<p>Put the text of the second column here</p>
  </div>
</div>
<div></div>
