
@mixin step($step, $inverse: false) {
  &[data-show="#{$step}"] {
    [data-step]:not([data-step="#{$step}"]) {
      display: none
    }

    @if $inverse {
      .left-zone {
        padding-right: 25%;
        width: 70%
      }

      .right-zone {
        width: 30%;
        min-width: 400px;
      }
    } @else {
      .left-zone {
        width: 30%;
        min-width: 400px;
      }

      .right-zone {
        width: 70%;
      }
    }
  }
}


.modal.modal-product-formule {
  z-index: 3000;

  .modal-dialog {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: initial;
    margin: 0;

    button.close {
      position: absolute;
      top: 3rem;
      right: 6rem;
      z-index: 9000;
      font-size: 14px;
    }

    .modal-content {
      height: 100%;
      padding: 0;
      flex-direction: row;

      @include step('reception', true);
      @include step('process');
      @include step('contact-form');
      @include step('result');

      & > div {
        padding: 2rem;
      }

      .product-label {
        color: $gray3;
      }

      .left-zone, .right-zone {
        padding: 0 4rem;
        display: flex;
        align-items: center;
        transition: width .5s;
      }

      .right-zone {
        background-color: #f4f4f4;
        overflow-y: scroll;

        & > div {
          padding-top: 2rem;
          padding-bottom: 2rem;
          opacity: 0;
          transition: opacity .5s ease-in;
        }

      }

      .left-zone > .content {
        width: 100%;
        max-width: 350px;
      }

      .product-label {
        margin-bottom: 0;
        padding-bottom: 0;
      }

      .formule-label {
        padding-top: 0;
      }

    }
  }
}
