.modal.modal-product-formule {
  z-index: 3000;

  .modal-dialog {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: initial;
    margin: 0;

    button.close {
      position: absolute;
      top: 3rem;
      right: 6rem;
      z-index: 9000;
      font-size: 14px;

      &::before {
        content: '\00D7';
        font-size: 34px;
      }
    }

    .modal-content {
      height: 100%;
      padding: 0;
      flex-direction: row;

      & > div {
        padding: 2rem;
      }

      .product-label {
        color: $gray3;
      }

      .left-zone, .right-zone {
        padding: 0 4rem;
        display: flex;
        align-items: center
      }

      &[data-show=reception] {
        [data-step]:not([data-step=reception]) {
          display: none
        }

        .left-zone {
          flex-grow: 1;
          padding-right: 25%;
          background-color: #f4f4f4;
        }

        .right-zone {
          width: 30%;
          min-width: 400px;
        }
      }
      &[data-show=process] {
        [data-step]:not([data-step=process]) {
          display: none
        }

        .left-zone {
          width: 30%;
          min-width: 400px;
          background-color: #f4f4f4;
        }

        .right-zone {
          flex-grow: 1
        }
      }

      .product-label {
        margin-bottom: 0;
        padding-bottom: 0;
      }

      .formule-label {
        padding-top: 0;
      }


    }
  }
}
