{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}


<div class="container">
  <div class="row">
    <div class="col-md-12">
      {# Display the map #}
      <img src="http://www.presse-citron.net/wordpress_prod/wp-content/uploads/2015/05/Google-maps-disponible-hors-ligne.jpeg" />
    </div>
  </div>
  <br />

  <div class="row">
    <div class="col-md-6">
      {# Display the contact form #}
      <form{{ attributes }}>
        {{ children }}
      </form>
    </div>

    <div class="col-md-6">
       {# Display the push images block #}

    </div>
  </div>
</div>

