{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 *
 * @ingroup templates
 */
#}
{%
  set classes = [
    'region',
    'region-' ~ region|clean_class,
  ]
%}
{% if content %}


 {# <footer {{ attributes.addClass(classes) }}> #}

  <div class="container">
        <div class="row">
            <div class="o-footer">
                {#Begin Footer Social Bar#}
                    <div class="container-fluid o-footer-top">
                         <div class="row">
                             <div class="col-md-12">
                                  {{ elements.footersocialblock }}
                             </div>
                         </div>
                    </div>
                    <div style="border-top:1px solid #999999; margin-top:10px">
                    <div class="container-fluid o-footer-top">
                        {{ elements.theme_boosted_footer }}
                        <div class='row'><div class="col-xs-12">
                            <ul class="nav navbar-nav footer-iconbar">
                                <li><a href="#"><span class="icon-footer icon-control_centre"></span> Contact us</a></li>
                                <li><a href="#"><span class="icon-footer icon-location_pin_compass"></span> Locate a store</a></li>
                                <li><a href="#"><span class="icon-footer icon-Map"></span> Coverage map</a></li>
                                <li><a href="#"><span class="icon-footer icon-business_lounge"></span> Business</a></li>
                                <li><a href="#"><span class="icon-footer icon-child_protection"></span> Child protection</a></li>
                            </ul>
                        </div></div>
                    </div>

             {{ elements.bottomfooterbar }}
          </div>

       </div>
</div>

 {# </footer> #}
{% endif %}
