/* border for ckeditor iframe */
.cke_editable .col{
    border: 2px dashed yellow !important;
}


.col-sm-4.tabled{

}


/* To remove padding from bootstrap columns */
.nopadding {
    padding: 0 !important;
}
.halfpadding {
    padding: 0 0.5rem !important;
}
.nopaddingLeft {
    padding-left: 0 !important;
}
.nopaddingRight {
    padding-right: 0 !important;
}
.col.tabled,
.tabled {
    display: table-cell;
    float: none;
    vertical-align: top;
    padding: 1.5rem 2.5rem;
}
@media (max-width: 990px) {
    .tabled {
        display: block !important;
        float: left !important;
    }
}

.image img{
    width: 100%;
}
.bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

.bg {
    padding: 2rem 2.5rem;
    overflow: hidden;
    position: relative;
}
/*
*fond blanc : texte noir, lien orange
*/
.bg_white {
    color: #000;
    background-color: #fff;
}

/*.bg_white a {
    color: #f60;
    background-color: #fff;
}*/

/*
*fond orange : texte blanc, lien noir
*/
.bg_orange {
    color: #fff;
    background-color: #f60;
}

/*.bg_orange a {
    color: #000;
    background-color: #f60;
}*/

.bg_orange .btn-primary {
    color: #fff;
}

/*
*fond noir ou gris: texte blanc, lien orange
*/

.bg_black {
    color: #fff;
    background-color: #000;

}

.bg_black .btn:hover{
    color: #f60;
}

/*.bg_black a {
    color: #f60;
    background-color: #000;
}*/

.bg_green {
    background-color: #55bc87;
    color: #000;
}

.bg_purple {
    background-color: #a786d5;
    color: #000;
}

.bg_yellow {
    background-color: #ffd200;
}

.bg_pink {
    background-color: #ffb4e6;
}

.bg_darkgrey {
    background-color: #8F8C87;
    color: #fff;
}

.bg_darkergrey {
    background-color: #58595b;
    color: #fff;
}

.bg_blue {
    background-color: #4bb4e6;
}

p[class^='bg_'],
p[class*='bg_']{
  margin: 0;
}


/* Frames on image */

.img-container {
    position: relative;
    display: inline-block;
    padding: 0;
}

.frame-icon {
    position: absolute;
    /*text-align: center;*/
    font-size: 180pt;
    font-size: 12vw;
    top: 50px;
    left: 50px;
}
.frame-icon-rel {
    position: relative;
    /*text-align: center;*/
    font-size: 20em;
    top: 20px;
}

.frame-popout {
    text-align: right;
    top: 50% !important;
    left: 50% !important;
}

.frame-text {
    font-size: 32pt;
    font-size: 1.8vw;
    font-family: HelvNeue75, Arial, sans-serif;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    color: black;
    margin: 0;
}

@media (max-width: 480px) {
    .frame-icon-rel {
        font-size: 8em;
    }
}
@media (min-width: 480px) {
    .frame-icon-rel {
        font-size: 10em;
    }
}
@media (min-width: 768px) {
    .frame-icon-rel {
        font-size: 10em;
    }
}
@media (min-width: 980px) {
    .frame-icon-rel {
        font-size: 20em;
    }
}
@media (min-width: 1220px) {
}
