/* USAGE
<div class="row">
  <div class="row-height">
    <div class="col-xs-2 col-xs-height col-xs-middle">
      <div class="inside"></div>
    </div>
    <div class="col-xs-4 col-lg-5 col-xs-height col-xs-middle">
      <div class="inside"></div>
    </div>
  </div>
</div>
*/
.width-xxs-1,
.width-xs-1,
.width-sm-1,
.width-md-1,
.width-lg-1,
.width-xl-1{
    width: 10%;
}
.width-xxs-2
.width-xs-2,
.width-sm-2,
.width-md-2,
.width-lg-2,
.width-xl-2{
    width: 20%;
}
.width-xxs-3,
.width-xs-3,
.width-sm-3,
.width-md-3,
.width-lg-3,
.width-xl-3{
    width: 30%;
}
.width-xxs-4,
.width-xs-4,
.width-sm-4,
.width-md-4,
.width-lg-4,
.width-xl-4{
    width: 40%;
}
.width-xxs-5,
.width-xs-5,
.width-sm-5,
.width-md-5,
.width-lg-5,
.width-xl-5{
    width: 50%;
}
.width-xxs-6,
.width-xs-6,
.width-sm-6,
.width-md-6,
.width-lg-6,
.width-xl-6{
    width: 60%;
}
.width-xxs-7,
.width-xs-7,
.width-sm-7,
.width-md-7,
.width-lg-7,
.width-xl-7{
    width: 70%;
}
.width-xxs-8
.width-xs-8,
.width-sm-8,
.width-md-8,
.width-lg-8,
.width-xl-8{
    width: 80%;
}
.width-xxs-9,
.width-xs-9,
.width-sm-9,
.width-md-9,
.width-lg-9,
.width-xl-9{
    width: 90%;
}
.width-xxs-10,
.width-xs-10,
.width-sm-10,
.width-md-10,
.width-lg-10,
.width-xl-10{
    width: 100%;
}

@media (max-width: 480px) {
    .width-xxs-1{
        width: 10%;
    }
    .width-xxs-2{
        width: 20%;
    }
    .width-xxs-3{
        width: 30%;
    }
    .width-xxs-4{
        width: 40%;
    }
    .width-xxs-5{
        width: 50%;
    }
    .width-xxs-6{
        width: 60%;
    }
    .width-xxs-7{
        width: 70%;
    }
    .width-xxs-8{
        width: 80%;
    }
    .width-xxs-9{
        width: 90%;
    }
    .width-xxs-10{
        width: 100%;
    }
}
@media (min-width: 480px) {
    .width-xs-1{
        width: 10%;
    }
    .width-xs-2{
        width: 20%;
    }
    .width-xs-3{
        width: 30%;
    }
    .width-xs-4{
        width: 40%;
    }
    .width-xs-5{
        width: 50%;
    }
    .width-xs-6{
        width: 60%;
    }
    .width-xs-7{
        width: 70%;
    }
    .width-xs-8{
        width: 80%;
    }
    .width-xs-9{
        width: 90%;
    }
    .width-xs-10{
        width: 100%;
    }
}
@media (min-width: 768px) {
    .width-sm-1{
        width: 10%;
    }
    .width-sm-2{
        width: 20%;
    }
    .width-sm-3{
        width: 30%;
    }
    .width-sm-4{
        width: 40%;
    }
    .width-sm-5{
        width: 50%;
    }
    .width-sm-6{
        width: 60%;
    }
    .width-sm-7{
        width: 70%;
    }
    .width-sm-8{
        width: 80%;
    }
    .width-sm-9{
        width: 90%;
    }
    .width-sm-10{
        width: 100%;
    }
}
@media (min-width: 980px) {
    .width-md-1{
        width: 10%;
    }
    .width-md-2{
        width: 20%;
    }
    .width-md-3{
        width: 30%;
    }
    .width-md-4{
        width: 40%;
    }
    .width-md-5{
        width: 50%;
    }
    .width-md-6{
        width: 60%;
    }
    .width-md-7{
        width: 70%;
    }
    .width-md-8{
        width: 80%;
    }
    .width-md-9{
        width: 90%;
    }
    .width-md-10{
        width: 100%;
    }
}
@media (min-width: 1220px) {
    .width-lg-1{
        width: 10%;
    }
    .width-lg-2{
        width: 20%;
    }
    .width-lg-3{
        width: 30%;
    }
    .width-lg-4{
        width: 40%;
    }
    .width-lg-5{
        width: 50%;
    }
    .width-lg-6{
        width: 60%;
    }
    .width-lg-7{
        width: 70%;
    }
    .width-lg-8{
        width: 80%;
    }
    .width-lg-9{
        width: 90%;
    }
    .width-lg-10{
        width: 100%;
    }
}
@media (min-width: 1380px) {
    .width-xl-1{
        width: 10%;
    }
    .width-xl-2{
        width: 20%;
    }
    .width-xl-3{
        width: 30%;
    }
    .width-xl-4{
        width: 40%;
    }
    .width-xl-5{
        width: 50%;
    }
    .width-xl-6{
        width: 60%;
    }
    .width-xl-7{
        width: 70%;
    }
    .width-xl-8{
        width: 80%;
    }
    .width-xl-9{
        width: 90%;
    }
    .width-xl-10{
        width: 100%;
    }
}

/* content styles */

.inside {
    margin-top: 20px;
    margin-bottom: 20px;
    #background: #ededed;
    #background: -webkit-gradient(linear, left top, left bottom,color-stop(0%, #f4f4f4), color-stop(100%, #ededed));
    #background: -moz-linear-gradient(top, #f4f4f4 0%, #ededed 100%);
    #background: -ms-linear-gradient(top, #f4f4f4 0%, #ededed 100%);
}
.inside-full-height {
    /*
    // if you want to give content full height give him height: 100%;
    // with content full height you can't apply margins to the content
    // content full height does not work in ie http://stackoverflow.com/questions/27384433/ie-display-table-cell-child-ignores-height-100
    */
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
}
.content {
    padding: 12px 3px;
}

/* columns of same height styles */

.row-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}
.col-height {
    display: table-cell;
    float: none;
    height: 100%;
}
.col-top {
    vertical-align: top;
}
.col-middle {
    vertical-align: middle;
}
.col-bottom {
    vertical-align: bottom;
}

@media (min-width: 480px) {
    .row-xs-height {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%;
    }
    .col-xs-height {
        display: table-cell;
        float: none;
        height: 100%;
    }
    .col-xs-top {
        vertical-align: top;
    }
    .col-xs-middle {
        vertical-align: middle;
    }
    .col-xs-bottom {
        vertical-align: bottom;
    }
}

@media (min-width: 768px) {
    .row-sm-height {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%;
    }
    .col-sm-height {
        display: table-cell;
        float: none;
        height: 100%;
    }
    .col-sm-top {
        vertical-align: top;
    }
    .col-sm-middle {
        vertical-align: middle;
    }
    .col-sm-bottom {
        vertical-align: bottom;
    }
}

@media (min-width: 992px) {
    .row-md-height {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%;
    }
    .col-md-height {
        display: table-cell;
        float: none;
        height: 100%;
    }
    .col-md-top {
        vertical-align: top;
    }
    .col-md-middle {
        vertical-align: middle;
    }
    .col-md-bottom {
        vertical-align: bottom;
    }
}

@media (min-width: 1200px) {
    .row-lg-height {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%;
    }
    .col-lg-height {
        display: table-cell;
        float: none;
        height: 100%;
    }
    .col-lg-top {
        vertical-align: top;
    }
    .col-lg-middle {
        vertical-align: middle;
    }
    .col-lg-bottom {
        vertical-align: bottom;
    }
}

/* centering styles for jsbin */

html,
body {
    width: 100%;
    height: 100%;
}
html {
    display: table;
}
body {
    display: table-cell;
    vertical-align: middle;
}

.row.nomargin {
    margin-right: 0!important;
    margin-left: 0!important;
}

.img-popout{
    bottom: 0;
    height: 100%;
    overflow: hidden;
    position: absolute;
    right: 80px;
}

.img-popout-background {
    top: 0 !important;
    left: 0 !important;
}
.img-popout img{
    width: 100%;
    height: 100%;
}

.inline{
    display: inline;
}

.contact_margin {
    margin-left: 5rem;

}
.contact_blockquote {
    font-size:1.2em ;
}
.contact_blockquote a{
    text-decoration: none !important;
}
.contact_button {
    margin-top:20px;
}
@media(max-width: 480px) {
    .contact_blockquote {
        border-left: none;
    }

    .pull-right{
        margin-right: 2.5rem;
    }

    .contact_margin {
        font-size: 2.4rem;
        margin-left: 1rem;
    }

    .contact_icons {
        font-size: 1rem;
    }

    .contact_button{
        margin-bottom: 20px;
        margin-top: 0px;
    }
}

.module_related_content .image {
    margin-bottom: 20px;
}

.separator {
    border-bottom: 1px solid white;
}

.center {
    text-align: center;
}