/* ********
* Cette feuille de style s’applique aux contenus migrés :
* Billets blogs.
* Articles de magazine.
* Communiqués de presse.
* Documents (bibliothèque).
************/

.path-node h1.page-header{
    margin-bottom: 0;
    max-width: 850px;
    border: 0 none;
}

article.node.full,
article.node.document{
    padding: 0;
}
article.node.full > .content,
article.node.document > .content{
    padding: 0;
    max-width: 850px;
}

article.node.document > .content{
   margin-top: 20px;
}

.obs_blog_title_h3{
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.5em;
    margin-top: 35px;
    margin-bottom: 5px;
}

.field--type-oab-text{
    font-size: 1.6rem;
}

.field--type-oab-text table{
    border : 0 !important;
}

.field--type-oab-text table td {
    border : none;
}

.field--type-oab-text p{
    text-align: left !important;
}

.content_info{
    font-weight: bold;
}
.content_info .date{
    border-right: 2px solid black;
    margin-right: 2px;
    padding-right: 5px;
}
.content_info .field--type-entity-reference{
    display: inline-block;
}
.content_info a{
    color: #f16e00;
}
.node-socialbar{
    margin: 35px 0 35px 0;
    /*margin: 65px 0 130px 0; ref.guidelines*/
}
.node-socialbar p{
    margin: 0;
}
.node-socialbar .fa-stack{
    width: 1.7em;
}

.node.profil-redacteur.teaser{
    background-color: #f6f6f6;
    margin-top: 50px;
}
.node.profil-redacteur.teaser img{
    width: 100%;
    height: 100%;
}
.node.profil-redacteur.teaser > .content{
    padding: 0;
}
.node.profil-redacteur.teaser .col{
    padding: 0;
}
.node.profil-redacteur.teaser .bloc_textuel{
    padding: 40px;
}
.node.profil-redacteur.teaser .bloc_textuel .title{
    font-size: 1.8rem;
    font-weight: 700;
}
.node.profil-redacteur.teaser .bloc_textuel .field--name-body{
    font-size: 1.4rem;
    line-height: 1.4rem;
}

article.node.full .field-comments,
article.node.document .field-comments{
    margin-top: 60px;
    padding: 0;
}
article.node.full .field-comments h2,
article.node.document .field-comments h2{
    font-size: 1.8em;
    margin-bottom: 25px;
}
article.node.full .field-comments label,
article.node.document .field-comments label{
    font-size: 1.15em;
}
article.node.full .field-comments .comment-form > .container,
article.node.document .field-comments .comment-form > .container{
    margin-bottom: 2rem;
}

article.node.full .obs_introductory_text,
article.node.document .obs_introductory_text{
    font-weight: bold;
}


article.node.full > .nowidthlimit,
article.node.document > .nowidthlimit {
    width: 100%;
    max-width: none !important;
}

/* Guidelines : Text should underline on rollover and change to orange #F16E00 */
article.node.full .field--type-oab-text a,
article.node.document .field--type-oab-text a{
    text-decoration: underline;
}
article.node.full a:hover,
article.node.document a:hover{
    text-decoration: underline;
}

.content .document_content .subtitle
{
    font-size: 1.5em;
    font-weight: bold;
}

.content_info .type {
    border-right: 2px solid black;
    margin-right: 5px;
    padding-right: 5px;
}

article.node.document .document_field_image{
    padding: 0 !important;
}

.verbatim {
    padding: 20px;
    background-color: #595959;
    line-height: 30px;
    color: #fff;
}
.content_verbatim {
    font-size: 1.250em;
    line-height: 1.2em;
    font-weight: bold;
}
.source_verbatim {
    font-size: 0.875em;
    font-weight: bold;
    margin-top: 24px;
}

.image_blogger {
    max-width:160px;
}