.icon_whitebg {
     background-color: white;
     color: black;
 }

.icon_orangebg span,
.icon_orangebg a {
   color: #fff!important ;
}

.icon_blackbg {
    background-color: black;
    color: white;
}