/*-- Different background --*/
.block-versionbar.local {
  background: #67b2e0;
  color: #000000;
}

.block-versionbar.dev {
  background: #fdb3e5;
  color: #000000;
}

.block-versionbar.int {
  background: #ffd200;
  color: #000000;
}

.block-versionbar.prp {
  background: #32c732;
  color: #000000;
}

.block-versionbar.prod {
  background: #ff7900;
  color: #000000;
}

/*-- Div placement --*/
.fixed-version-bar {
  position: fixed;
  z-index: 99999;
  left: 0;
  bottom: 0;
  width: 100%;
}

.version-bar-table {
  width: 100%;
  display: flex;
  padding: 0.5rem;
}
.version-bar-table a{
  color: #000000;
  text-decoration: underline;
}

.version-bar-cell {
  margin-left: 0.5rem;
  margin-right: 0.7rem;
}

/*-- Custom text  --*/
.version-bar-text-bold {
  text-transform: uppercase;
  font-weight: bold;
}

