.views-col{
}

.views-col{
    background: transparent url("../images/checkmark.svg") no-repeat center center;
    background-size: 0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    text-align: center;
    width: 14%;
    padding:  10px;
    margin: 0 10px 10px 0;
    border: 1px solid #ccc;
}
.view-display-id-entity_browser_media .views-col{
    min-height: 150px;
}
.view-display-id-entity_browser_file .views-col{
    min-height: 100px;
}

.views-col.checked {
    background-size: 54px 54px;
}

.views-col.checked{
    border: 1px solid green;
}
.views-col.checked .views-field-field-image img{
    opacity: 0.3;
}

.views-col .views-field-entity-browser-select{
    display: none;
}
.views-col .views-field-name{
    overflow: hidden;
}
.views-col i.fa{
    display: block;
}

#views-exposed-form-medias-entity-browser-entity-browser-1.form--inline .form-actions {
    float: left !important;
}
#views-exposed-form-medias-entity-browser-entity-browser-1.form-item, .form-actions {
    margin-bottom: 1em !important;
   /* margin-left: 2em;*/
    margin-top: 2em !important;
    clear: none !important;
    float: left !important;
}
.view-filters{
    margin-bottom: 15px;
}
