.list-item {
  margin-bottom: 1.875rem;
  @include media-breakpoint-up(md) {
    margin-bottom: 2.8125rem;
  }

  & > div {
    margin-bottom: 1.875rem;
    @include media-breakpoint-up(md) {
      margin-bottom: 2.8125rem;
    }
  }

  &:last-child {
    margin-bottom: 0;

    div {
      margin-bottom: 0;
    }

    hr {
      display: none;
    }
  }
}
