.step-slider {

  @include media-breakpoint-down(md) {
    overflow-x: auto;
    flex-wrap: initial;
    scrollbar-width: none;

    padding-top: 1rem;
    padding-bottom: 3rem;

    & > .col {
      min-width: 50%;
    }
  }

  @include media-breakpoint-down(sm) {
    & > .col {
      min-width: calc(100% - 2rem);
    }
  }


  .step {

    .step-header {
      display: flex;

      .countdown {
        position: relative;
        height: 44px;
        width: 44px;

        .step-position {
          color: $gray3;
          z-index: 3;
          border: 1px solid $gray4;
          border-radius: 100%;
          min-height: 44px;
          min-width: 44px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          font-size: 1.25rem;
          text-align: center;
          line-height: 40px;
        }

        svg {
          position: absolute;
          display: none;
          top: 0;
          right: 0;
          width: 50px;
          height: 50px;
          transform: rotateY(-180deg) rotateZ(-90deg);

          circle {
            stroke-dasharray: 125px;
            stroke-dashoffset: 0;
            stroke-linecap: round;
            stroke-width: 3px;
            stroke: $orange2;
            fill: none;

            @keyframes countdown {
              from {
                stroke-dashoffset: 125px;
              }
              to {
                stroke-dashoffset: 250px;
              }
            }
          }
        }
      }

      hr.separator {
        flex-grow: 1;
        align-self: center;
        display: none;
      }
    }

    .step-content {
      li {
        color: $gray3;

        &::before {
          background-color: $gray3;
        }
      }

      strong {
        color: $gray3;
      }
    }

    &.active, &:hover {
      box-shadow: 0 16px 32px -8px $gray4;

      .step-header {
        .step-position {
          font-weight: bold;
          border-color: $gray3;
          border-width: 2px;
        }
      }

      .step-content {
        li {
          color: $black;

          &::before {
            background-color: $orange2;
          }
        }

        strong {
          color: $black;
        }
      }
    }

    &.active {

      .step-header {
        .step-position {
          border: none;
        }

        svg {
          display: initial;

          circle {
            animation: countdown 10s linear forwards;
          }
        }
      }

      hr.separator {
        display: initial;
        background-color: $gray4;
      }
    }

    &.done {
      .step-header {
        .step-position {
          border-color: $gray3;
        }

        hr.separator {
          display: initial;
          background-color: $gray3;
        }
      }

      &:hover {
        .step-header {
          .step-position {
            border-color: $orange1;
            border-width: 3px;
          }
        }
      }

      .step-content {
        li {
          color: black;

          &::before {
            background-color: $orange2;
          }
        }

        strong {
          color: $black;
        }
      }
    }
  }
}
