zend_extension=xdebug

[xdebug]
xdebug.mode=develop,debug
# Le domain de host n'est pas reconnu dans le conteneur.
# On utilisera donc l'IP directement.
# xdebug.client_host=host.docker.internal
xdebug.client_host=192.168.67.3
xdebug.discover_client_host=false
xdebug.start_with_request=trigger
xdebug.trigger_value='xdebug'