
.block_principal_offices_map .addresses-list .labelList{
  color: #666666;
  font-size: 1.077em;
  line-height: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.page-offices-map h2 {
  margin-bottom: 1rem;
}

.oab-offices-map-regions-countries-form .form-group select {
  min-width: 15rem;
}

.offices-addresses {
  height: 340px;
  overflow: auto;
}


@media (min-width: 480px) and (max-width: 735px) {
  .oab-offices-map-regions-countries-form .form-group:not(.form-actions) {
    width: 50%;
    padding-right: 1rem;
  }

  .oab-offices-map-regions-countries-form .form-group select {
    width: 100%;
    min-width: initial;
  }

  .oab-offices-map-regions-countries-form .form-group select.form-control,
  .oab-offices-map-regions-countries-form .form-group select.form-control ~ .form-control-placeholder{
    max-width: initial;
  }
}

@media (max-width: 479px) {
  .oab-offices-map-regions-countries-form .form-group,
  .oab-offices-map-regions-countries-form .form-group select {
    width: 100%;
  }

  .oab-offices-map-regions-countries-form .form-group select.form-control,
  .oab-offices-map-regions-countries-form .form-group select.form-control ~ .form-control-placeholder{
    max-width: initial;
  }
}



/* Some overrides of styleMarkersList */
li.office-address .views-field-field-additionnal,
li.office-address .views-field-field-street,
li.office-address .views-field-field-postal-code,
li.office-address .views-field-field-city,
li.office-address .views-field-field-office-country,
li.office-address .views-field-field-phone-number{
  padding-top: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.4285714286;
  display:inline-block;
}

li.office-address .contact a,
li.office-address .link_region_content a{
  font-size: 0.75rem;
}

li.office-address .o-link-arrow:hover {
  text-decoration-color: #f16e00;
}
li.office-address .o-link-arrow::after {
  position: initial;
}

li.office-address a.show_on_map {
  font-size: 1rem;
}

li.office-address a.show_on_map:hover {
  text-decoration: underline;
  text-decoration-color: #f16e00;
}

li.office-address a.show_on_map::after {
  font-family: icon-orange;
  content: "";
  font-size: 0.625rem;
  display: inline-block;
  padding: 0 0.625rem;
  color: #f16e00;
}
ul.offices-addresses-list{
  float: initial;
}
