include:
  - local: .dev.gitlab-ci.yml
    rules:
      - if: $CI_COMMIT_BRANCH == "dev"

stages:          # List of stages for jobs, and their order of execution
  #- build
  - deploy


variables:
  DOCKER_COMPOSE_FILE: "$CI_PROJECT_PATH/docker-compose.dev.yml"

deploy_dev:
  stage: deploy
  before_script:
    - 'command -v ssh-agent >/dev/null || ( apk update && apk add openssh-client )'
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    #- echo "$SSH_PRIVATE_KEY" | tr -d '\r'
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    #- echo "$SSH_PRIVATE_KEY" | tr -d '\r' >> ~/.ssh/id_rsa
    #- chmod 600 ~/.ssh/id_rsa
  script:
    #First : stop current container and delete code
    #- echo $CI_PROJECT_PATH
    - |
      ssh -o StrictHostKeyChecking=no $SSH_USER@$SSH_DEV_IP "
        [ -f $DOCKER_COMPOSE_FILE ] && docker -f $DOCKER_COMPOSE_FILE stop;
        [ -d $CI_PROJECT_PATH ] && rm -r $CI_PROJECT_PATH;
        mkdir -p $CI_PROJECT_PATH"
    #- ssh -o StrictHostKeyChecking=no $SSH_USER@$SSH_DEV_IP mkdir -p $CI_PROJECT_PATH
    - scp -r $(pwd)/* $SSH_USER@$SSH_DEV_IP:$CI_PROJECT_PATH







