include:
  - local: .dev.gitlab-ci.yml
    rules:
      - if: $CI_COMMIT_BRANCH == "dev"

stages:          # List of stages for jobs, and their order of execution
  #- build
  - deploy


variables:
  DEPLOY_DIR: "/var/www/ruby_test"
  DOCKER_COMPOSE_FILE: "$DEPLOY_DIR/docker-compose.dev.yml"

deploy_dev:
  stage: deploy
  before_script:
    - 'command -v ssh-agent >/dev/null || ( apk update && apk add openssh-client )'
    - eval $(ssh-agent -s)
    #- echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    #- echo "$SSH_PRIVATE_KEY" | tr -d '\r'
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' >> ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - cat ~/.ssh/id_rsa
    - ls -la ~/.ssh
  script:
    #First : stop current container and delete code
    - |
      ssh -o StrictHostKeyChecking=no $SSH_USER@$SSH_DEV_IP "
        if [ -f $DOCKER_COMPOSE_FILE ]; then
          docker -f $DOCKER_COMPOSE_FILE stop
          rm -r $DEPLOY_DIR
          
        fi
        mkdir -p $DEPLOY_DIR"
    #- ssh -o StrictHostKeyChecking=no $SSH_USER@$SSH_DEV_IP mkdir -p $DEPLOY_DIR
    - ls -la $(pwd)
    - scp -r $(pwd) $SSH_USER@$SSH_DEV_IP:$DEPLOY_DIR







