include:
  - local: .dev.gitlab-ci.yml
    rules:
      - if: $CI_COMMIT_BRANCH == "dev"

stages:          # List of stages for jobs, and their order of execution
  #- build
  - deploy


variables:
  DEPLOY_DIR: "/var/www/ruby_test"
  DOCKER_COMPOSE_FILE: "docker-compose.dev.yml"

deploy_dev:
  stage: deploy
  before_script:
    - 'command -v ssh-agent >/dev/null || ( apk update && apk add openssh-client )'
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    #First : stop current container and delete code
    - ssh SSH_USER@$SSH_DEV_IP ls -la
    #- ssh -o StrictHostKeyChecking=no $SSH_USER@$SSH_DEV_IP mkdir -p $DEPLOY_DIR
    #- scp $SSH_USER@$SSH_DEV_IP:$(pwd) $DEPLOY_DIR







