# Ignore configuration files that may contain sensitive information
/sites
/core
/vendor
/modules/README.txt
/modules/contrib
/profiles/README.txt
/themes/README.txt
/themes/contrib
/.csslintrc
/.editorconfig
/.eslintignore
/.eslintrc.json
/.gitattributes
/.ht.router.php
/.htaccess
/autoload.php
/example.gitignore
/index.php
/INSTALL.txt
/LICENSE.txt
/README.txt
/robots.txt
/update.php
/web.config

# Ignore IDE conf
/.idea

# Ignore config data
/config/data
/config/logs
/log
