# DEFINE DEV SPECIFIC VARIABLES AND JBS
include:
  - local: /ci/.cloud.gitlab-ci.yml
    rules:
      - if: $CI_COMMIT_BRANCH == "dev" || $CI_COMMIT_BRANCH == "integration" || $CI_COMMIT_BRANCH == "commerce/RUBYPORTAILOBS-3841" || $CI_COMMIT_BRANCH == "commerce/dev"
  - local: /ci/.fe.gitlab-ci.yml
    rules:
      - if: $CI_COMMIT_TAG

# Hack to get a "visible job" if none of the files is included
dummy_job:
  stage: .pre
  rules:
    - when: never
  script:
    - echo 'This job should not run'

