# DEFINE DEV SPECIFIC VARIABLES AND JBS
include:
  - local: /ci/.dev.gitlab-ci.yml
    rules:
      - if: $CI_COMMIT_BRANCH == "dev"
  - local: /ci/.fe.gitlab-ci.yml
    rules:
      - if: $CI_COMMIT_TAG
