include:
  - local: .dev.gitlab-ci.yml
    rules:
      - if: $CI_COMMIT_BRANCH == "dev"

stages:          # List of stages for jobs, and their order of execution
  - build
  - deploy


variables:


build_drupal:
  stage: build
  image: php:7.4
  before_script:
    ## Install Composer
    - apt-get update
    - apt-get install -y git zip unzip
    - php -r "copy('https://getcomposer.org/installer', 'composer-setup.php');"
    - php composer-setup.php
    - php -r "unlink('composer-setup.php');"
    - apt-get install -y --no-install-recommends libmagickwand-dev imagemagick > /dev/null
    - pecl install imagick > /dev/null
    - docker-php-ext-enable imagick > /dev/null
    - docker-php-ext-configure gd --with-gd --with-jpeg-dir --with-freetype-dir > /dev/null
    - docker-php-ext-install gd > /dev/null
    - docker-php-ext-enable gd > /dev/null
  script:
    - php composer.phar install
  after_script:
    - rm composer.phar
  artifacts:
    paths:
      - .





