version: "3.1"
services:

  memcached:
    image: memcached:alpine
    container_name: $CONTAINER_MEMCACHED
    networks:
      - memcached

  nginx:
    build:
      context: config/docker/local/nginx
    container_name: $CONTAINER_NGINX
    working_dir: /application
    environment:
      CONTAINER_PHP_FPM: $CONTAINER_PHP_FPM
    depends_on:
      - php-fpm
    volumes:
      - .:/application
      - ${DRUPAL_SITES_FILES_DIR:-./sites/default/files}:/application/sites/default/files
    networks:
      - master_proxy
      - default

  php-fpm:
    build:
      context: config/docker/local/php-fpm
      args:
        UID: $UID
        GID: $GID
    container_name: $CONTAINER_PHP_FPM
    working_dir: /application
    volumes:
      - .:/application
      - ./config/docker/local/php-fpm/php-ini-overrides.ini:/usr/local/etc/php/conf.d/99-overrides.ini
      - ${DRUPAL_SITES_FILES_DIR:-./sites/default/files}:/application/sites/default/files
    networks:
      - master_db
      - default
      - memcached

networks:
  master_db:
    external: true
  master_proxy:
    external: true
  memcached:
