  <div {{ attributes.addClass('d-flex')}} style="height: 23px;width: 98px")}}>
    <img alt="{{ content.field_media_svg['#object'].name.value }}" src="{{ content.field_media_svg.0['#markup'] }}">
  </div>

