<table class="pourquoi">
    <tr>
        <td class="col">
            <div class="ligne">
                <p>colonne 1</p>
            </div>
        </td>
        <td class="col">
            <div class="ligne">
                <p>colonne 2</p>
            </div>
            <div class="ligne">
                <p>colonne 3</p>
            </div>
        </td>
        <td class="col">
            <div class="ligne">
                <p>colonne 4</p>
            </div>
            <div class="ligne">
                <p>colonne 5</p>
            </div>
        </td>
    </tr>
</table>