<table class="pourquoi">
    <tr>
        <td class="col">
            colonne 1
        </td>
        <td class="col">
            colonne 2
        </td>
        <td class="col">
            colonne 3
        </td>
    </tr>
</table>