.field--name-field-file .media-file{
    margin-top: 2rem;
    margin-bottom: 6rem;
}

.field--type-file .glyphicon{
    padding-right: 1rem;
}

.field--type-file .file a{
    text-decoration: underline;
    font-weight: 700;
}