.field--name-field-file .media-file{
    margin-top: 2rem;
    margin-bottom: 6rem;
}

.field--type-file .glyphicon{
    padding-right: 1rem;
}

.field--type-file .file a{
    text-decoration: underline;
    font-weight: 700;
}


.display-subhomes .field--name-field-file {
    margin: 0 !important;
    font-weight: 200 !important;
}

.icon-lg-active {
  font-size: 3rem;
  padding-top: 1.5rem;
  transform: scaleX(-1);
}

.icon-lg {
  font-size: 3rem;
  padding-top: 1.5rem;
  color: #d8d9d8;
  transform: scaleX(-1);
}

.csp-tech-info {
  text-align: center;
  font-weight: bold;
}

.csp-type {
  text-align: center;
  font-size: 3rem;
  padding-top: 0.5rem;
  font-weight: bold;
}
