footer > .container{
    padding: 0;
}
div.followbar {
    padding: 0px;
    background: black;
    display: inline-block;
    height: auto;
    overflow: hidden;
    font-size: 10px;
    line-height: 10px;
    margin-top:-8px;
    margin-left:15px;
}


h2.footer_link_title {
    font-family: HelvNeueOrange, Arial, sans-serif;
    font-weight: 700;
    font-size: 1.5em;
}

#sharebar .content, .followbar .content {display: inline !important; margin-left: 10px;}

span.icon-footer {
    font-size: 2em;
}

.footer-iconbar li {
    margin-right: 20px;
    margin-top: -30px;
}

.o-footer .o-footer-bottom ul {
    text-align: left;
    margin-left: 0;
}

.o-footer .o-footer-top ul {
    padding: 20px 0;
}

#block-contactbar{
    background-color: #333;
    color: white;
    padding: 2rem 0;
}
/*#block-contactbar > .container > .row{
    margin: 0 2rem;
}*/
#block-contactbar .wrapper_numero{
    display: inline-block;
    background-color: white;
}