#main_nav .logo img{

}

.icon-control_centre
{
  font-family: 'icon-orange' !important;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-size: 3rem;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  /*"margin-top:30px;*/
  margin-left:20px;
  speak: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-share {
  font-family: 'icon-orange' !important;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-size: 3rem;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  margin: 20px;
  speak: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#navbar-collapse-mega .glyphicon{
  position: relative;
  top: 20px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-size: 25px;
  margin-left: 20px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
    margin-bottom:0;
}

.subnav {
  margin:0;
  top: 0px;
  z-index: 1020;
  border-bottom: 1px solid #E1E1E1;
  padding: 8px 0px 0px 0px;
}


.subnav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}

#block-topnavbarmenu .navbar-nav > li > a {
  font-size: 1.4rem;
}

/*#main_nav .navbar-header.logo,
#main_nav .navbar-right {
  position: absolute;
  top: 0px;
}*/