#navtop{
    background: black;
}
#top_navbar{
    padding: 0;
}
#top-navbar-collapse{
    padding: 0;
}
#top-navbar-collapse a{
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 0;
}
#top-navbar-collapse a:hover,
#top-navbar-collapse a:focus{
    color: rgb(255,121, 0);
}
#navtop .navbar-nav{
    margin: 0;
}

#navtop .navbar-right .navbar-nav > li > a{
    padding-left: 2rem;
    padding-right: 0;
}

.navbar-header{
    padding-left: 0;
    margin: 0 !important;
}
@media (max-width: 767px) {
    .navbar-header {
        padding-left: 10px;
    }
    #main_nav .logo img {
        width: 125px;
    }
}
#main_nav .logo img{
    width: 140px;
}

.icon-share {
  font-family: 'icon-orange' !important;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-size: 2.6rem;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  margin-left: 20px;
  margin-top: 35px;
  speak: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-email
{ 
  font-family: 'icon-orange' !important; 
  /* use !important to prevent issues with browser extensions that change fonts */
  font-size: 2.6rem !important;
  font-style: normal; 
  font-weight: normal; 
  font-variant: normal; 
  line-height: 1; 
  text-transform: none; 
  margin-top:30px; 
  margin-left:20px; 
  speak: none; 
/*   Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale; 
} 

.icon-control_centre:hover,
.icon-email:hover,
#navbar-collapse-mega .glyphicon:hover,
.icon-share:hover
{
  color: rgb(255,121,0);
  cursor: pointer;
}
#navbar-collapse-mega .glyphicon{
  position: relative;
  top: 20px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-size: 2.6rem;
  /*margin-left: 20px;*/
  margin-right: 40px;
  margin-top: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 1219px) {
    #navbar-collapse-mega .glyphicon,
    .icon-share{
        margin-right: 10px;
        margin-left: 10px;
    }
}

.navbar {
    margin-bottom:0;
    min-height: inherit;
}

.subnav {
  margin:0;
  top: 0px;
  /*z-index: 1020;*/
  border-bottom: 1px solid #E1E1E1;
  padding: 25px 0px 0px 0px;
  border-color: black;
  border-top: 1px solid grey;
}


.subnav.navbar-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
    border-color: black;
}
#block-topnavbarmenu .navbar-nav > li > a {
    font-size: 1.4rem;
    font-weight: bold;
}

#block-topnavbarmenu .navbar-nav > li > a:focus,
#block-topnavbarmenu .navbar-nav > li > a:hover,
#block-topnavbaren .navbar-nav > li > a:focus,
#block-topnavbaren .navbar-nav > li > a:hover {
    color: rgb(255,121,0);
}

#block-topnavbaren {
    color: white;
    margin-top: 2rem !important;
    display: inline;
}

.menu .nav {
    color: white;
}


.mega-menu.navbar .nav > li > a:hover, .mega-menu.navbar .nav > li > a:focus {
    color: white;
}

.mega-menu.navbar .nav > li > a {
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 0;
}

.mega-menu.navbar .nav > li.open > a {
    color: rgb(255,121, 0) !important;
}


@media (max-width: 1219px) {
    .mega-menu .navbar .nav > li{
        padding-right: 10px;
    }
    .mega-menu.navbar .nav > li > a {
        padding-right: 1rem;
    }
}

#block-menuducomptedelutilisateur .navbar-nav > li > a {
    font-size: 1.125em;
    color: white;
}

.navbar-header .logo img {
  vertical-align: middle;
  margin-bottom: 20px;
}
#main_nav .navbar-right a{
  color: white;
}

#block-socialshareblock{
    width: 100%;
    padding: 0;
    z-index: 1;
}
#block-socialshareblock #social-share{
  text-align: right;
}
#block-socialshareblock #social-share #sharebar{
  padding-right: 10px;
}
#block-socialshareblock #social-share #counterlabel{
  display: none;
}

#block-socialshareblock #social-share #sharebar a.visited{
  background-color: white;
  border-color: black;
}
#block-socialshareblock #social-share #sharebar a.visited *{
  fill: black;
}

#block-main-navigation-en,
#block-main-navigation-fr,
#block-main-navigation-ru {
  position: static;
}

.navbar-nav > .contextual-region {
    position: static;
}

.dropdown-menu {
    top:auto !important;
}

#items_megamenu h2 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: bold;
    color: white;
    font-size: 2.4rem;
}

#items_megamenu h3 {
    font-weight: bold;
    color: white;
    margin-left: -10px !important;
    margin: 0;
    padding-bottom: 10px;
}


#items_megamenu a {
    font-weight: bold;
    font-size:1.6rem;
    color: white;
    padding-left: 0;
}

#items_megamenu a:hover {
    color: rgb(255,121, 0);
}

#items_megamenu {
   color: white;
    padding-bottom: 30px;
}

@media (max-width: 768px) {
    #items_megamenu {
        padding-left: 30px;
        padding-bottom: 0px;
    }

    .mega-menu .dropdown-menu .row {
        padding-bottom: 0;
        padding-top: 0;
    }

    #items_megamenu h3 {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .mega-menu ul.menu.nav.navbar-nav > li {
        border-top: 1px solid #333333;
        padding: 0.5rem 0;
    }

    #items_megamenu > div h3 {
        border-bottom: 1px solid #333333;
    }

    #items_megamenu > div li {
        border-top: 1px solid #333333;
    }

    #items_megamenu > div li:first-child {
        border-top: none;
    }

    #items_megamenu > div li:last-child {
        border-bottom: 1px solid #333333;
    }

    #items_megamenu > div:last-child li:first-child {
        border-top: 1px solid #333333;
    }

    #items_megamenu > div:last-child li:last-child {
        border-bottom: none;
    }

    #items_megamenu > div:last-child h3 {
        border-bottom: none;
    }

    .sous-items li {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }


}

.sous-items li {
    margin-left: -50px !important;
    padding-bottom: 10px;
}

.mega-menu .nav-item.dropdown .dropdown-menu {

    background-color: black;
}

#main_nav .container,
#top_navbar .container{
  padding-right:0;
  padding-left:0;
}

.navbar-nav > li > a,
.navbar-nav > li:first-child > a{
    padding-left: 0;
    padding-right: 2rem;
}

/* barre de navigation en langue EN */
.navbar-en {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 9999;
    position: absolute;
    background-color: #000;
    list-style-position: b;

}

.navbar-en > li > a,
.navbar-en > li:first-child > a{
    margin: 0px;
    padding-left: 2rem;
}

.navbar-en > li {
    float: none;
    margin-left: 10px;
}

/*guidelines p.63 pour la navigation principale */
.mega-menu .nav, .mega-menu .collapse {
    position: static;
    margin-left: 15px;
    margin-top: 5px
}

.mega-menu .navbar .nav > li {
    padding-right: 20px;
    margin-top: 5px
}

#block-searchblock{
    width: 100%;
    padding: 0;
    z-index: 1;
}

.navbar-nav > li > .dropdown-menu {
    border-color: black;
}

#block-righticonblock {
    margin-top: -22px;
}
.li_link{
    font-family: HelvNeueOrange,Helvetica,Arial,sans-serif;
}

.link_icon {
    font-size: 2.4rem;
    font-weight: bold;
    color: #fff;
}

.link_icon_items a {
    display: inline-block !important;
    padding: 0 !important;
    bottom: 4px;
}

.link_icon_items {
    padding-left: 3rem;
    padding-top: 1rem;
}

.sticky-module {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    border-color: grey;
}

.navbar-btn{
    margin-top: 0;
}
/*
@media (min-width: 1300px) {
    .region-header .container-fluid {
        margin-left: auto;
        margin-right: auto;
        padding-left: 264px;
        padding-right: 264px;
    }
    .mega-menu .dropdown-menu .row {
        padding: 20px 5px;
    }
}

@media (min-width: 1220px) {
    .region-header .container-fluid {
        margin-left: auto;
        margin-right: auto;
        padding-left: 218px;
        padding-right: 218px;
    }
    .mega-menu .dropdown-menu .row {
        padding: 20px 5px;
    }
}
@media (min-width: 1200px) {
    .region-header .container-fluid {
        margin-left: auto;
        margin-right: auto;
        padding-left: 114px;
        padding-right: 114px;
    }
    .mega-menu .dropdown-menu .row {
        padding: 20px 5px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (max-width: 767px) {

}
*/

@media (min-width: 480px) {
    .container-fluid-navbar {
        max-width: 468px;
        margin-right: auto;
        margin-left: auto
    }
}
@media (min-width: 768px) {
    .container-fluid-navbar {
        max-width: 744px;
        margin-right: auto;
        margin-left: auto
    }
    .mega-menu .dropdown-menu .row {
        padding: 20px calc((100% - 744px + 12px)/2);
    }
}
@media (min-width: 980px) {
    .container-fluid-navbar {
        max-width: 960px;
        margin-right: auto;
        margin-left: auto
    }
    .mega-menu .dropdown-menu .row {
        padding: 20px calc((100% - 960px + 12px)/2);
    }
}
@media (min-width: 1220px) {
    .container-fluid-navbar {
        max-width: 1200px;
        margin-right: auto;
        margin-left: auto
    }
    .mega-menu .dropdown-menu .row {
        padding: 20px calc((100% - 1200px + 12px)/2);
    }
}
@media (min-width: 1380px) {
    .container-fluid-navbar {
        max-width: 1320px;
        margin-right: auto;
        margin-left: auto
    }
    .mega-menu .dropdown-menu .row {
        padding: 20px calc((100% - 1320px + 12px)/2);
    }
}


@media (max-width: 767px) {
    .mega-menu .nav, .mega-menu .collapse {
        margin-left: 0;
        margin-top: 0px;
    }

    .mega-menu .navbar-collapse {
        padding-left: 0 !important;
    }

    .mega-menu.navbar .nav > li > a {
        font-size: 1.6rem;
        padding: 10px 10px;
    }

    .iconblock .icon-email {
        margin-left: 0;
    }

    .textlink-contactbar {
        margin-top: -50px;
    }
}

@media (min-width: 980px) {

    .mega-menu .nav-item.dropdown .dropdown-menu {
        margin-top: 10px;
    }
}


.sandwich-button .close-env-info{
    display:none;
    font-size: 3.2rem;
    margin-top: -0.5rem;
    color: #F16E00;
    margin-right: 2px;
}
.sandwich-button.panel-chevron-open .close-env-info{
    display:block;
}
.sandwich-button .icon-bar{
    display:block;
}

.sandwich-button.panel-chevron-open .icon-bar{
    display:none;
}
.mega-menu.navbar .navbar-toggle:hover {
    background: none;
}