#navtop{
    background: black;
}
#top_navbar{
    padding: 0;
}
#top-navbar-collapse{
    padding: 0;
}
#top-navbar-collapse a{
    color: white;
    font-size: 1.125em;
    font-weight: bold;
}
#top-navbar-collapse a:hover,
#top-navbar-collapse a:focus{
    color: rgb(255,121, 0);
}
#navtop .navbar-nav{
    margin: 0;
}

#navtop .navbar-right .navbar-nav > li > a{
    padding-left: 2rem;
    padding-right: 0;
}

.navbar-header{
    padding-left: 0;
    margin: 0 !important;
}
#main_nav .logo img{

}

.icon-share {
  font-family: 'icon-orange' !important;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-size: 2em;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  margin-left: 20px;
  margin-top: 35px;
  speak: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-control_centre, .icon-email
{ 
  font-family: 'icon-orange' !important; 
  /* use !important to prevent issues with browser extensions that change fonts */
  font-size: 2em !important; 
  font-style: normal; 
  font-weight: normal; 
  font-variant: normal; 
  line-height: 1; 
  text-transform: none; 
  margin-top:30px; 
  margin-left:20px; 
  speak: none; 
/*   Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale; 
} 

.icon-control_centre:hover,
.icon-email:hover,
#navbar-collapse-mega .glyphicon:hover,
.icon-share:hover
{
  color: rgb(255,121,0);
  cursor: pointer;
}
#navbar-collapse-mega .glyphicon{
  position: relative;
  top: 20px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-size: 1.8em;
  /*margin-left: 20px;*/
  margin-right: 40px;
  margin-top: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
    margin-bottom:0;
    min-height: 6.8rem !important;
}

.subnav {
  margin:0;
  top: 0px;
  /*z-index: 1020;*/
  border-bottom: 1px solid #E1E1E1;
  padding: 8px 0px 0px 0px;
}


.subnav.navbar-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}
#block-topnavbarmenu .navbar-nav > li > a {
    font-size: 1.125em;
    font-weight: bold;
}

#block-topnavbarmenu .navbar-nav > li > a:focus,
#block-topnavbarmenu .navbar-nav > li > a:hover,
#block-topnavbaren .navbar-nav > li > a:focus,
#block-topnavbaren .navbar-nav > li > a:hover {
    color: rgb(255,121,0);
}

#block-topnavbaren {
    color: white;
    margin-top: 20px;
}

.menu .nav {
    color: white;
}


.mega-menu.navbar .nav > li > a:hover, .mega-menu.navbar .nav > li > a:focus {
    color: rgb(255,121, 0);
}

.mega-menu.navbar .nav > li > a {
    font-size: 1.313em;
    font-weight: bold;
}

#block-menuducomptedelutilisateur .navbar-nav > li > a {
    font-size: 1.125em;
    color: white;
}

.navbar-header .logo img {
  vertical-align: middle;
  margin-bottom: 15px;
}
#main_nav .navbar-right a{
  color: white;
}

#block-stickyhomeblock{
    width: 100%;
    padding: 0;
    z-index: 1;
}
#block-stickyhomeblock #social-share{
  text-align: right;
}
#block-stickyhomeblock #social-share #sharebar{
  padding-right: 10px;
}
#block-stickyhomeblock #social-share #counterlabel{
  display: none;
}

#block-stickyhomeblock #social-share #sharebar a.visited{
  background-color: white;
  border-color: black;
}
#block-stickyhomeblock #social-share #sharebar a.visited *{
  fill: black;
}

#block-theme-boosted-navigationprincipale {
  position: static;
}

#items_megamenu h2 {
  margin-top:0rem;
  margin-bottom:1.3em;
  font-weight: bold;
  color: white;
  font-size: 3em;
}

#items_megamenu h3 {
    margin-top:0rem;
    margin-bottom:2rem;
    font-weight: bold;
    color: white;
    margin-left: -10px !important;
}


#items_megamenu a {
  font-weight: bold;
  font-size:1.3em;
    color: white;
    line-height: 2.5em;
}

#items_megamenu {
    margin: 20px 140px;
    color: white;
}

#sous-items li {
    margin-left: -50px !important;
}
.mega-menu .nav-item.dropdown .dropdown-menu {

    background-color: black;
}

#main_nav .container,
#top_navbar .container{
  padding-right:0;
  padding-left:0;
}

.navbar-nav > li > a,
.navbar-nav > li:first-child > a{
    padding-left: 0;
    padding-right: 2rem;
}

/* barre de navigation en langue EN */
.navbar-en {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 9999;
    position: absolute;
    background-color: #000;
    list-style-position: b;

}

.navbar-en > li > a {
    margin: 0px;
}

.navbar-en > li {
    float: none;
    margin-left: 10px;
}

/*guidelines p.63 pour la navigation principale */
.mega-menu .nav, .mega-menu .collapse, .mega-menu .dropdown {
    position: static;
    margin-left: 30px;
}

.mega-menu .navbar .nav > li {
    padding-right: 20px;
}

#block-searchblock{
    width: 100%;
    padding: 0;
    z-index: 1;
}