/**
 CSS Spécifique pour adapter le style aux pages qui possèdent un background
 */

.oab_background_image .view-business-insight .view-filters {
    padding-bottom: 2rem;
}


/* Suppression du background-color: black sur la navbar tout en haut (celle avec Global) */
.oab_background_image header #navtop,
.oab_background_image header .navbar-default {
    background: none;
}

/* Suppression du background-color:black pour la main nav */
.oab_background_image .mega-menu.navbar,
.oab_background_image .navbar-inverse,
.oab_background_image .oab-synomia-search-header-block-form .top-block-search-form .form-text {
    background: none;
}

/* Changement de la bordure : elle ne prend plus toute la longueur, mais que la taille du navbar */
.oab_background_image .subnav {
    /* Je supprime la bordure qui prend toute la largeur */
    border: none;

    /*Je supprime les paddings pour les transférer sur le container fluid qui a la bonne taille */
    padding: 0;
}

.oab_background_image .subnav .container-fluid-navbar {
    /* Je rajoute les borders */
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;

    /* Je réapplique les padding supprimés precedement */
    padding: 25px 0 20px 0;
}

.oab_background_image .menu.navbar-nav .nav-item.dropdown span.caret {
    display: none;
}

.oab_background_image .menu.navbar-nav .nav-item.dropdown.open > a {
    border: none;
}

.oab_background_image .fieldset-field-insight-type .btn,
.oab_background_image .fieldset-field-insight-type .btn.btn-primary {
    background-color: transparent;
    border: none;
}

.oab_background_image .subhomes-filterbar-background {
    background-color: transparent;
}

.oab_background_image .fieldset-field-insight-type .fieldset-legend {
    display: none;
}


.oab_background_image .view-business-insight .btn-primary label {
    color: #f16e00;
    font-weight: bold;
}

.oab_background_image .view-business-insight .btn-info:hover {
    color: #fff;
}

.oab_background_image .view-business-insight h1 {
    color: #fff;
    font-weight: normal;
    font-size: 2.5rem;
    margin: 3rem 0;
}