/**
 CSS Spécifique pour adapter le style aux pages qui possèdent un background
 */

.oab_background_image .view-business-insight .view-filters {
    padding-bottom: 2rem;
}


/* Suppression du background-color: black sur la navbar tout en haut (celle avec Global) */
.oab_background_image header #navtop {
    background-color: rgba(0, 0, 0, 0.6);
}
.oab_background_image header .navbar-default {
    background: none;
}

/* Suppression du background-color:black pour la main nav */
.oab_background_image .mega-menu.navbar {
    background-color: rgba(0, 0, 0, 0.6);
}

.oab_background_image .navbar-inverse,
.oab_background_image .oab-synomia-search-header-block-form .top-block-search-form .form-text {
    background: none;
}

/* Changement de la bordure : elle ne prend plus toute la longueur, mais que la taille du navbar */
.oab_background_image .subnav {
    /* Je supprime la bordure qui prend toute la largeur */
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;

    /*Je supprime les paddings pour les transférer sur le container fluid qui a la bonne taille */
    padding: 0;
}

.oab_background_image .subnav.navbar-fixed {
    border-top: none;
}

.oab_background_image .subnav .container-fluid-navbar {
    /* Je réapplique les padding supprimés precedement */
    padding: 25px 0 20px 0;
}

.oab_background_image .menu.navbar-nav .nav-item.dropdown span.caret {
    display: none;
}

.oab_background_image .menu.navbar-nav .nav-item.dropdown.open > a {
    border: none;
}

.oab_background_image .fieldset-field-insight-type .btn,
.fieldset-field-insight-type .btn.btn-primary {
    background-color: transparent;
    border: none;
}

.oab_background_image .subhomes-filterbar-background {
    background-color: transparent;
}

.oab_background_image .fieldset-field-insight-type .fieldset-legend {
    display: none;
}


.oab_background_image .view-business-insight .btn-primary {
    color: #f16e00;
}
/* Petit test */
.path-business-insight.oab_background_image .mega-menu.navbar {
    background: none;
}

.path-business-insight.oab_background_image header #navtop {
    background: none;
}

.path-business-insight.oab_background_image .subnav.navbar-fixed {
    background-color: rgba(0, 0, 0, 0.6);
}

@media(max-width: 767px) {

    .oab_background_image .view-business-insight h1 {
        padding: 3rem 0;
        font-size: 2.9rem;
        border-bottom: solid 1px #BBB;
    }

    .oab_background_image .business-insight-field-insight select.form-control {
        background-color: #fff;
        color: #000;
        height: 35px;
        font-size: 2rem;
        width: 100%;
    }

    .oab_background_image .fieldset-field-insight-type .btn {
        padding: .3rem 1.8rem 1rem 0rem;
    }

    .oab_background_image .view-business-insight .view-filters {
        width: 90%;
        margin: auto;
        padding: 0 10px;
    }

    .oab_background_image .fieldset-field-insight-type {
        padding-left: 10px;
    }

    .oab_background_image .view-business-insight .view-content .views-row .tile .title_node {
        font-size: 2.7rem
    }

    .oab_background_image .view-business-insight .view-content .views-row {
        width: auto;
        padding: 20px;
    }
}

@media(max-width: 576px) {

    .oabs_background_image .view-business-insight .view-filters {
        padding: 0;
    }
}
