#social-share {
  /*border-top: 1px solid grey;
  padding-top: 10px;*/
  background-color: white;
  position: relative;
}

.breadcrumb {
    padding-left: 0;
}

@media (max-width: 480px) {
    .container .row{
        margin: 0;
    }
}
