#social-share {
  /*border-top: 1px solid grey;
  padding-top: 10px;*/
  background-color: white;
  position: relative;
}

.breadcrumb {
    padding-left: 0;
    padding-top: 3rem;
    padding-bottom: 0;
    margin-bottom: 0;
}
.breadcrumb .icon-home{
    font-size: 2rem;
}
.breadcrumb > li{
    float: none;
    display: inline;
}
.breadcrumb > li + li::before{
    padding: 0 5px 0 10px;
}

@media (max-width: 480px) {
    .container .row{
        margin: 0;
    }
}

#search-form {
    background-color: black;
    position: relative;
    padding: 20px 10px;
}
#search-form #searchbar input{
    height: 50px;
    background-color: black;
    color: white;
    width: calc(100% - 100px);
}
#search-form .search-icon {
    color: white;
    padding-left: 30px;
    font-size: 2.7em;
    vertical-align: middle;
}
#search-form h2 {
    color: white;
    padding-bottom: 10px;
    margin-top: 5px;
}

.page-header{
    margin-top: 6rem;
    padding-bottom: 2rem;
    line-height: 3.4rem;
}