.link_direct_access {
    color: black;
    font-size: 4rem;
    font-weight: bold;
}
.div_direct_access a:hover .text_direct_access,
.div_direct_access a:focus .text_direct_access{
    text-decoration: underline;
}

.text_direct_access {
    font-size: 1.4rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: block;
    margin-top: 2rem;
}

.div_direct_access {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 6.5rem;
}

.border-right {
    border-right: 1px solid black;
}

#slider_direct_access .item-direct-access:last-child .border-right {
    border-right: none;
}

@media (min-width: 1200px) {
    /* line 22, ../sass/global.sass */
    .bs-slide-lg {
        display: block !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    /* line 25, ../sass/global.sass */
    .bs-slide-md {
        display: block !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    /* line 28, ../sass/global.sass */
    .bs-slide-sm {
        display: block !important;
    }
}

.link-contactbar {
    vertical-align: middle;
    display: table-cell;
    height: 30px;
}
@media (max-width: 767px) {
    /* line 31, ../sass/global.sass */
    .bs-slide-xs {
        display: block !important;
    }

    .textlink-contactbar {
        vertical-align: baseline !important;
    }

    .link-contactbar {
        height: 15px !important;
    }
}

.swiper-container {
    width: 600px;
    height: 300px;
}

#block-contactbarstandard {
    background-color: #333;
    color: white;
    padding-left: 0;
    padding-right: 0;
}

.solaris-contactbar {
    font-size: 4rem !important;
    padding-right: 1rem;
    line-height: 1;
}

.arrow-contactbar {
    text-align: right;
    margin-top: 10px;
}

.textlink-contactbar {
    font-size: 1.6rem;
    font-weight: bold;
    display: inline-block;
    height: 100%;
}
.textlink-contactbar a{
    color: white;
}
.textlink-contactbar a:hover {
    color: rgb(255,121,0);
}


.iconblock {
    cursor: pointer;
}

.iconblock .icon-email {
    margin:0;
}

.iconblock a {
    color: white;
}


.iconblock a:hover {
    color: rgb(255,121,0);
    cursor: pointer;
}

#block-contactbarenstandard,
#block-contactbarrustandard,
#block-contactbarbrstandard,
#block-contactbaresstandard,
#block-contactbarpress,
#block-contactbaranalyst
{
    background-color: #333;
    color: white;
    padding-left: 0;
    padding-right: 0;
}

.text-needhelp
{
    font-size: 1.6rem;
    font-weight: bold;
}
#contactbar-container-light {
    padding: 1rem 0rem;
}

#contactbar-container-standard {
    padding: 2rem 1rem;
}

.expandContactBar{
    padding-top: 5px;
   // position: absolute;
}

#block-contactbarstandard.affix,
#block-contactbaranalyst.affix,
#block-contactbarpress.affix,
#block-contactbarrustandard.affix,
#block-contactbarenstandard.affix,
#block-contactbardvi.affix,
#block-contactbarbrstandard.affix,
#block-contactbaresstandard.affix,
#block-contactbar.affix,
.block-contactbar.affix{
    bottom: 0;
    height: auto;
    width: 100%;
    position: fixed;
    z-index: 10;
}


#block-contactbarstandard.affix-bottom,
#block-contactbaranalyst.affix-bottom,
#block-contactbarpress.affix-bottom,
#block-contactbarrustandard.affix-bottom,
#block-contactbarenstandard.affix-bottom,
#block-contactbardvi.affix-bottom,
#block-contactbarbrstandard.affix-bottom,
#block-contactbaresstandard.affix-bottom,
#block-contactbar.affix-bottom,
.block-contactbar.affix {
    width: 100%;
   /* position: relative;*/
    z-index: 10;
   /* top: 0 !important;*/
}


#block-contactbardvi {
    background-color: #333;
    color: white;
    padding-left: 0;
    padding-right: 0;
}