.link_direct_access {
    color: black;
    font-size: 4rem;
    font-weight: bold;
}

.text_direct_access {
    font-size: 1.6rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.div_direct_access {
    margin-top: 20px;
    margin-bottom: 20px;
}

.border-right {
    border-right: 1px solid black;
}

@media (min-width: 1200px) {
    /* line 22, ../sass/global.sass */
    .bs-slide-lg {
        display: block !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    /* line 25, ../sass/global.sass */
    .bs-slide-md {
        display: block !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    /* line 28, ../sass/global.sass */
    .bs-slide-sm {
        display: block !important;
    }
}
@media (max-width: 767px) {
    /* line 31, ../sass/global.sass */
    .bs-slide-xs {
        display: block !important;
    }
}

.swiper-container {
    width: 600px;
    height: 300px;
}