#edit-save.entity-browser-modal-submit.button.form-submit
{
    display: none;
}
#entity-browser-browse-medias-iframe-form #edit-status-information,
#entity-browser-browse-media-modal-form #edit-status-information
{
    display: none;
}
.node-form .form-actions .dropbutton-widget{
    display: none;
}
.ui-dialog .ui-widget-content.ui-dialog-content{
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}

#entity-browser-browse-media-modal-form #edit-actions{
    float: right !important;
}