#edit-save.entity-browser-modal-submit.button.form-submit
{
    display: none;
}
#entity-browser-browse-medias-iframe-form #edit-status-information,
#entity-browser-browse-media-modal-form #edit-status-information
{
    display: none;
}
.node-form .form-actions .dropbutton-widget{
    /*display: none;*/
}
.ui-dialog .ui-widget-content.ui-dialog-content{
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}

#entity-browser-browse-media-modal-form #edit-actions,
#entity-browser-browse-medias-iframe-form #edit-actions{
   /* float: right !important;*/
}

.view-display-id-entity_browser_media .filesize{
    font-weight: 700;
}

#edit-group-classify .field--type-entity-reference{
    float: left;
    padding-right: 25px;
    padding-bottom: 25px;
}
#edit-group-classify .field--type-entity-reference select[multiple=multiple]{
    min-height: 200px;
}

.margin-right-5{
    margin-right: 5px;
}
.environnement-info{
    padding: 3px 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 100;
}

.atlwdg-trigger.atlwdg-SUBTLE {
    z-index: 200;
}


.embedded-entity.align-left{
    margin-right: 10px;
}
.embedded-entity.align-right{
    margin-left: 10px;
}

#edit-field-hub-portal-wrapper{
    clear:left;
}