{% block paragraph %}
  <div {{ attributes.addClass("my-md-5", "container-fluid", "site-width") }}>
    {% block content %}
      <div class="col-12 pr-0 pr-md-1">
        <div class="row">
          <h2 class="col-12 col-md-7 pl-0">{{ content.field_title }}</h2>
          <div class="col-12 col-md-7 lead font-weight-bold px-0">
            {{ content.field_highlight }}
          </div>
          <div class="col-12 px-0">
            {{ content.field_item }}
          </div>
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock %}
