{% block paragraph %}
  <div {{ attributes.addClass("my-3", "mt-md-5") }}>
    {% block content %}
      <div class="row">
        <div id="Temoignage" class="col-12 small font-weight-bold text-gray3 pl-0 pb-1 container-fluid site-width">
          {{ "Testimonials"|t }}
        </div>
        <div class="col-12 custom-slider">
          <div class="row">
            <div class="col-12 container-fluid site-width pb-2">
              <div class="row justify-content-between" >
                <h2 class="no-signature col-12 col-md-7 mb-md-3 px-0 pt-1 pb-0">{{ content.field_title }}</h2>
                {% if content.field_testimonial['#items']|length > 2 %}
                  <div class="col-md-2 d-none d-md-inline-flex justify-content-end slider-controller">
                    <button class="btn btn-secondary" type="button" data-direction="left" ><span class="icon icon-arrow-previous" aria-hidden="true"></span></button>
                    <button class="btn btn-secondary" type="button" data-direction="right"><span class="icon icon-arrow-next" aria-hidden="true"></span></button>
                  </div>
                {% endif %}
              </div>
            </div>
            <div class="col-12 p-0 bg-gray2">
              {{ content.field_testimonial }}
            </div>
          </div>
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock %}
