
<div class="col-12">
  <div class="row">
    <h2 class="w-100">{{ content.field_title }}</h2>
    <div class="col-4 lead font-weight-bold px-0">
      {{ content.field_highlight }}
    </div>
    <div class="col-12 px-0">
      {{ content.field_item }}
    </div>
  </div>
</div>

