.styleguide {
  summary {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
  }

  &__info summary {
    padding: 1rem;
    font-size: 1rem;
    text-decoration: double;
  }

  details + details {
    margin-top: 1rem;
  }

  code {
    display: inline-flex;
    flex-wrap: nowrap;
    background-color: #eee;
  }

  h3 {
    font-size: 1rem;
    margin: 0.25rem;
  }
}