

// Hack for admin toolbar
#toolbar-administration > nav {
  z-index: 2000;
}

header#navbar {
  padding-top: 1px;
  background-color: $black;

  .navbar.supra {
    border-bottom: none;
    opacity: 1;
    visibility: visible;
    transition:
      visibility $header_transition_time linear,
      opacity $header_transition_time linear,
      height $header_transition_time linear,
      min-height $header_transition_time linear;
  }

  &.is-sticky {
    .navbar.supra {
      visibility: hidden;
      opacity: 0;
      height: 0;
      min-height: 0;
    }
  }

}

.page-menu-category-block.sticky-top {
  transition: top $header_transition_time linear;
}

.page-menu-modular-product.sticky-top {
  transition: top $header_transition_time linear;
}


