

// Hack for admin toolbar
#toolbar-administration > nav {
  z-index: 2000;
}

header#navbar {
  padding-top: 1px;
  background-color: $black;

  .navbar.supra {
    border-bottom: none;
  }

  &.transition {
    transition: top $header_transition_time, transform $header_transition_time;
  }

  &.is-visible {
    transform: translateY(100%);
    z-index: 1020;
    position: fixed;
    left: 0;
    right: 0;

    .navbar.supra {
      display: none;
    }

    #main_nav {
      .navbar-brand img {
        width: 112px;
        height: auto;
        padding-bottom: 0.9375rem;
      }
    }
  }
}

.page-menu-category-block.transition {
  transition: top $header_transition_time, transform $header_transition_time;
}

.page-menu-modular-product.transition {
  transition: top $header_transition_time, transform $header_transition_time;
}


