// Hack for admin toolbar
#toolbar-administration > nav {
  z-index: 2000;
}

header#navbar {
  padding-top: 1px;
  background-color: $black;
  z-index: 1020;
  transition: top $header_transition_time ease;
  position: sticky;
  opacity: 1;
  left: 0;
  right: 0;

  .navbar.supra {
    border-bottom: none;
    opacity: 1;
    visibility: visible;
    transition:
      visibility $header_transition_time linear,
      opacity $header_transition_time linear,
      height $header_transition_time linear,
      min-height $header_transition_time linear;
  }

  @include media-breakpoint-up(md) {
    position: initial;
  }
}

.page-menu-category-block.sticky-top {
  transition: top $header_transition_time ease;
}

.page-menu-modular-product.sticky-top {
  transition: top $header_transition_time ease;
}


