

// Hack for admin toolbar
#toolbar-administration > nav {
  z-index: 2000;
}

header#navbar {
  padding-top: 1px;
  background-color: $black;
  .navbar.supra {
    opacity: 1;
    visibility: visible;
    transition:
      visibility $header_transition_time linear,
      opacity $header_transition_time linear,
      height $header_transition_time linear,
      min-height $header_transition_time linear;
  }

  z-index: 1020;

  &.transition {
    transition: top 1s, transform 1s;
  }

  &.not-visible{
    visibility: hidden;

    &.no-transition {
      transition: none;
    }
  }

  &.is-visible{
    opacity: 1;
    position: fixed;
    left: 0;
    right: 0;
    transform: translateY(100%);
  }
}

.sticky.local-nav.transition {
  transition: top 1s, transform 1s;
}

.page-menu-category-block.sticky-top {
  transition: top $header_transition_time linear;
}

.page-menu-modular-product.sticky-top {
  transition: top $header_transition_time linear;
}


