
<div class="cookie-compliance-container hidden" id="{{ elements.content['#block_id'] }}">

    <div class="container-fluid-navbar cookie-compliance-content">
        <a class="" id="cookie-compliance-hide" href="#">X</a>
        <span class="block-message">{{ elements.content['#message'] }}</span>
        <a href="{{  elements.content['#link_url'] }}" class="link">{{  elements.content['#link_text'] }}</a>
    </div>
</div>