.filter_month{
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.menu_filter_month{
    text-align: center !important;
    margin-bottom: 40px;
}
.menu_filter_month li.onglet{
    background-color: #ddd;
    color: #000;
    display: inline-block;
    font-weight: bold;
    padding: 0rem 1rem 0rem 1rem;
    position: relative;
}

.menu_filter_month .onglet:hover,
.menu_filter_month .onglet:hover a,
.menu_filter_month .onglet.active,
.menu_filter_month .onglet.active a,
.menu_filter_month li.onglet a:hover{
    background-color: #f16e00;
    color: #ffffff;
}

.filter_shadowsite {
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 30px;
}


/** TABLEAU */
.data_zone_bbp th{
    color: #7f7f7f;
    text-align: center;
}
.data_zone_bbp th span {
    color: black;
    display: block;
}
.data_zone_bbp .td_label{
    background-color: #f8f8f8;
    border: medium none;
    font-weight: bold;
    color: #414141;
}
.data_zone_bbp .td_data {
    border: medium none;
    text-align: center;
}
.data_zone_bbp{

}
.menu_filter_shadowsite {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
}


.menu_filter_shadowsite .oab-backbones-filter-performance-data-form .container{
    display: inline-block !important;
    vertical-align: middle;
}

.menu_filter_shadowsite .oab-backbones-filter-performance-data-form .container .form-item-shadowsites{
    display: none;
}
.menu_filter_shadowsite .oab-backbones-filter-performance-data-form .container label,
.menu_filter_shadowsite .oab-backbones-filter-performance-data-form .container .row,
.menu_filter_shadowsite .oab-backbones-filter-performance-data-form .container select{
    display: inline-block;
}
.menu_filter_shadowsite .oab-backbones-filter-performance-data-form input{
    display: inline-block;
    margin-top: -5px;
}

.backbones-performance-front {
    display: inline-block;
}