.paragraph--type--module-text-video-image{
  margin-top: 100px;
  margin-bottom: 100px;

  .col-img-video{
    div{
      width: 100%;
      height: 100%;
    }
    .img-video {
      max-width: 630px;
      max-height: 630px;
      .field--name-field-video {
        .divParentIframeYoutube {
          iframe {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}



