.example-items {
  .img-module-exemple {
    img {
      width: 100%;
      height: auto;
    }
  }

  .example-title {
    cursor: pointer;
    a {
      color: $white;

      &.active {
        font-weight: bold;
      }

      &:hover {
        color: $gray4;
      }
    }
  }

  .example-content {
    flex-wrap: initial;
    overflow-x: scroll;
    scrollbar-width: none;

    .o-link-arrow {
      color: $white;
      &:hover{
        color: $gray4;
      }
    }
  }

  .progress-indicator {
    height: 6px;
    .ob1-progress-bar-determined-inner {
      animation-delay: initial;
    }
  }
}
