.items-module-detail-offre {

  .detail-offre-item {
    @include media-breakpoint-down(md) {
      position: relative;
    }

    button.see-more {
      position: absolute;
      bottom: 0;
      padding-right: 3rem;
      @include media-breakpoint-up(md) {
        max-width: 82%;
        padding-right: 1rem;
        position: absolute;
        bottom: 0;
      }

    }

    &.item-close {
      max-height: 19rem;
      overflow: hidden;
      @include media-breakpoint-up(md) {
        max-height: 33.125rem;
      }

      button.see-more {
        background: $white;
        max-width: 100%;
        padding-top: 2rem;
        @include media-breakpoint-up(md) {
          max-width: 88%;
          padding-right: 2rem;
          padding-top: 8.125rem;
          background: linear-gradient(rgba(255, 255, 255, 0) 20%, white, white);
        }
      }
    }

    &.item-open {
      button.see-more {
        position: initial;
        max-width: 100%;
        padding-right: 2rem;
        @include media-breakpoint-up(md) {
          position: absolute;
          max-width: 88%;
          padding-right: 2rem;
        }
      }
    }
  }

  .field-items-modules {
    @include media-breakpoint-up(md) {
      overflow-x: scroll;
      overflow-y: hidden;
      flex-wrap: unset;
      scrollbar-width: none;
    }

    .custom-link {
      &.icon-Redo {
        display: block;
        font-weight: bold;
        padding: 0.625rem 0 0.625rem;
      }

      &.o-link-arrow {
        text-decoration: none;
      }

      &.btn {
        width: 100%;
        @include media-breakpoint-up(md) {
          width: auto;
        }
      }
    }
  }

  .liste-offres {
    .collapsed-header {
      display: flex;
      padding-top: 0;
      padding-bottom: 0;

      &.o-link-arrow {
        &::after {
          color: black;
          right: 0;
        }
      }
    }
    .exclus-icon {
      li::before {
        content: "Ó¶ù";
        color: $red;
        font-size: 0.6875rem;
      }
    }
  }
}
