.offres-gamme {
  .call-to-action {
    margin: auto;
    margin-right: 0 !important;

    > div.cta-two-1 {
      margin-bottom: 0.75rem;
    }

    .custom-link {
      &.o-link-arrow {
        text-decoration: none;
        margin-right: 1rem;
        padding: 0.8125rem 0;
        @include media-breakpoint-up(md){
          padding: 0;
        }
      }

      &.icon-Redo {
        padding: 0.8125rem 0;
        @include media-breakpoint-up(md){
          padding: 0;
        }
      }

      &.btn {
        width: 100%;
        @include media-breakpoint-up(md) {
          width: auto;
        }
      }
    }
  }

  button.see-details {
    &[aria-expanded="false"] {
      span.text-reduce {
        display: none;
      }
    }

    &[aria-expanded="true"] {
      span.text-voir-detail {
        display: none;
      }

      span.text-reduce {
        display: inline;
      }
    }

    &.o-link-arrow {
      &:active {
        color: black;
      }
    }
  }
}
