.item-logo {
  .business-case-items {
    overflow-x: scroll;
    flex-wrap: unset;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
    @include media-breakpoint-up(md) {
      overflow-x: hidden;
      flex-wrap: wrap;
    }
  }

  .customer-logo {
    min-height: 30px;
  }
}

