.paragraph--type--module-blog{
  margin-top: 4rem;
  margin-bottom: 6rem;
  .field--name-field-image {
    min-width: 100%;
    img {
      width: 100%;
      min-width: 100%;
      height: auto;
      margin: auto;
    }
  }
  a{
    &:hover, &:focus{
      .o-link-arrow{
        color: $black;
        text-decoration-color: $black;
        text-decoration: underline;
      }
    }
  }

}
