.example-items {
  .img-module-exemple {
    img {
        width: 100%;
        height: auto;

    }
  }

  .example-titles {
    a {
      cursor: pointer;
      color: $white;
      display: flex;
      flex-direction: column;

      &.active {
        font-weight: bold;
      }

      &:hover {
        color: $gray4;
      }

      .example-progress-bar {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        min-height: 6px;

        & > * {
          width: 100%
        }

        & > div {
          display: inline-block;
        }
      }
    }
  }

  .example-content {
    flex-wrap: initial;
    overflow-x: hidden;

    &.scroll-mobile {
      @include media-breakpoint-down(md) {
        overflow-x: scroll;
        scrollbar-width: none;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }


    .o-link-arrow {
      &:hover{
        color: $gray4 !important;
      }
    }
  }

  .progress-indicator {
    //height: 6px;
    .ob1-progress-bar-determined-inner {
      animation-delay: initial;
    }
  }
}
