.paragraph--type--module-text-video-image{
  margin-top: 5rem;
  margin-bottom: 5rem;

  .img-video {
    min-width: 100%;
  }
  img {
    width: 100%;
    min-width: 100%;
    height: auto;
    margin: auto;
  }
}



