.faq-visual {
  img {
    max-width: 580px;
    width: 100%;
  }
}

.modal-faq.modal {

  .modal-dialog {
    position: fixed;
    right: 0;
    bottom: 0;

    .modal-body {
      h3 {
        span.icon::before {
          font-size: 3.5rem;
        }
      }

      .question-answer {
        overflow-y: scroll;
        scrollbar-width: none ;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }

  }

  @include media-breakpoint-up(md) {
    &.fade {
      .modal-dialog {
        transition: transform .5s ease-out !important;
        transform: translate(100%, 0) !important;
      }
    }

    &.show {
      .modal-dialog {
        transform: none !important;
      }
    }

    .modal-dialog .modal-content {
      .modal-header {
        top: 3.75rem;
        right: 3.75rem;
      }

      .modal-body h3 div {
        margin: auto 0;
      }
    }
  }
}
