.domain-card {
  transition: transform 0.2s linear;

  @include hover {
    transform: translate3d(-10px, -10px, 0);
  }

  img {
    width: auto;
    min-height: px-to-rem(60);
    max-height: px-to-rem(60);
  }

  &--default img {
    @include media-breakpoint-up(md) {
      min-height: px-to-rem(90);
      max-height: px-to-rem(90);
    }
  }
}