.testimonial-right-img {
  position: absolute;
  bottom: -7rem;
  right: 0;
}

.testimonial-left-img {
  position: absolute;
  top: -6.3rem;
  left: 0;
}

.testimonial-item-container {
  max-width: 100%;
  flex-wrap: inherit;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
