#detail-offre {
  .product-cta-button {
    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }
}

.items-module-detail-offre {
  .field-items-modules {

    button {
      @include media-breakpoint-down(md) {
        width: 100%;
      }
    }

    .detail-offre-item {
      @include media-breakpoint-down(md) {
        position: relative;
      }

      button.see-more {
        position: absolute;
        bottom: 0;
        padding-right: 3rem;
        @include media-breakpoint-up(md) {
          max-width: 82%;
          padding-right: 1rem;
          position: absolute;
          bottom: 0;
        }

      }

      &.item-close {
        height: 23rem;
        overflow: hidden;

        @include media-breakpoint-down(md) {
          &.onlyText {
            height: 16rem;

            &.see-full {
              height: 21.5rem;
            }

            .detail-offre-content-header {
              height: 9rem;
            }
          }
          &.onlyPrice {
            height: 18rem;

            &.see-full {
              height: 24rem;
            }

            .detail-offre-content-header {
              height: 11rem;
            }
          }
          &.onlyOneCta {
            height: 20rem;

            &.see-full {
              height: 27rem;
            }

            .detail-offre-content-header {
              height: 13rem;
            }
          }
          &.onlyCtas {
            height: 23.5rem;

            &.see-full {
              height: 31rem;
            }

            .detail-offre-content-header {
              height: 17rem;
            }
          }
          &.oneCtaAndPrice {
            height: 24rem;

            &.see-full {
              height: 30rem;
            }

            .detail-offre-content-header {
              height: 17rem;
            }
          }
          &.allElem {
            height: 27rem;

            &.see-full {
              height: 35rem;
            }

            .detail-offre-content-header {
              height: 20.5rem;
            }
          }
        }

        @include media-breakpoint-up(md) {
          height: 38rem;
        }


        button.see-more {
          background: $white;
          max-width: 100%;
          padding-top: 0.7rem;
          transition: visibility 0s, opacity 0.5s linear;

          @include media-breakpoint-up(md) {
            max-width: 24.375rem;
            padding-right: 2rem;
            padding-top: 8.125rem;
            background: linear-gradient(rgba(255, 255, 255, 0) 25%, white, white);

            &.btn-hidden {
              opacity: 0;
              visibility: hidden;
            }

            &:not(.btn-hidden) {
              opacity: 1;
              visibility: visible;
            }

          }
          @include media-breakpoint-up(lg) {
            max-width: 18rem;
          }
          @include media-breakpoint-up(xl) {
            max-width: 20rem;
          }
          @include media-breakpoint-up(xxl) {
            max-width: 24rem;
          }

          span.text-voir-tout {
            @media (max-width: 735px) {
              display: none;
            }
          }
        }
      }

      &.item-open {
        height: 100%;

        button.see-more {
          position: initial;
          max-width: 100%;
          padding-right: 2rem;
          @include media-breakpoint-up(md) {
            position: absolute;
            max-width: 88%;
            padding-right: 2rem;
          }

          span.text-voir-tout {
            @media (max-width: 735px) {
              display: none;
            }
          }
        }
      }

      .detail-offre-content-header {
        .offre-title {
          min-height: 4rem;
        }

        .accroche {
          min-height: 2.75rem;
        }
      }
    }

    @include media-breakpoint-up(md) {
      overflow-x: scroll;
      overflow-y: hidden;
      flex-wrap: unset;
      scrollbar-width: none;

      &:first-child {
        padding-left: 0;
      }

      &::-webkit-scrollbar {
        display: none;
      }

      .col-3-5 {
        max-width: 24.375rem;
        flex: 0 0 100%;

        button.see-more {
          max-width: 20rem !important;
        }
      }
    }

    .custom-link {
      &.icon-Redo {
        display: block;
        padding: 0.8125rem 0;
        @include media-breakpoint-up(md) {
          padding: 0.8125rem 0;
        }

        &::before {
          color: $orange2;
        }
      }

      &.o-link-arrow {
        padding: 0.8125rem 0;
        @include media-breakpoint-up(md) {
          padding: 0.8125rem 0;
        }
      }

      &.btn {
        width: 100%;
        @include media-breakpoint-up(md) {
          width: auto;
        }
      }
    }

    .call-to-action {
      .field > div {
        margin-bottom: 1rem;
      }
    }
  }
}
