.paragraph--type--module-presentation{
  margin-top: 6rem;
  margin-bottom: 6rem;

  .for_who_block {


  .subtitle{
    margin-bottom: 1rem;
  }

    .callout {
      margin-top: 1rem;
      padding: 1.25rem;
      border-left: 4px solid $gray4;

      &:hover, &:active {
        border-left-color: $primary;
        background-color: $gray2;
      }
    }
  }
  .img-video {
    min-width: 100%;
  }
  img {
    width: 100%;
    min-width: 100%;
    height: auto;
    margin: auto;
  }
}
