.paragraph--type--module-download {
  img {
    border-radius: 0 0 12px 0;
    box-shadow: 14px 14px 44px 0 rgba(0, 0, 0, 0.14);
    width: px-to-rem(112);
    height: px-to-rem(158);

    @include media-breakpoint-up(md){
      width: px-to-rem(199);
      height: px-to-rem(282);
    }
  }
}
