.js .dropbutton-wrapper.open .dropbutton-widget ul li {
  max-width: none;
}

.dropbutton__item:first-of-type > :focus:hover, .dropbutton__item:first-of-type > .button:focus:hover {
  box-shadow: 0 0 0 2px $white, 0 0 0 5px #f16000;
}

.dropbutton__item:first-of-type ~ .dropbutton__item > :focus {
  border-color: #f16000 !important;
  box-shadow: inset 0 0 0 1px #f16000, 0 0 0 1px #f16000;
}
