/* Sortable cell's active state. */

.sortable-heading {
  &.is-active {
    & > a {
      color: $orange;

      &::before {
        border-bottom: 0.1875rem solid $orange;
      }
    }
  }
}

.form-item--multiple{
  .field-multiple-table{
    .has-multiple-fields-remove-button{
      padding-right: 0 !important;
    }
  }
}

