<div class="col col-md-12 bg">
    <h2>The benefits</h2>

    <div class="col col-md-6">
        <p><span class="fa fa-4x fa-desktop"></span></p>

        <p class="title">Keep your businness running seamlessly</p>

        <p>Web Protection Suite proactively blocks malware and spyware, so downtime and remediations of infected desktops are eliminated. This overall reduces load on internal resoucrces, hardware, software and bandwidth.</p>
    </div>

    <div class="col col-md-6">
        <p><span class="fa fa-4x fa-lock"></span></p>

        <p class="title">Retain total control</p>

        <p>Web Protection Suite offers a web-based centralised administration and reporting consol, allowing you to control, manage, and admninister your own security policies. You can implement a global web usage policy for your whole organization; or you can create and enforce different access policies to suit different areas of your organization.</p>
    </div>
</div>

<div class="col col-md-12 bg">
    <div class="col col-md-6">
        <p><span class="fa fa-4x fa-globe"></span></p>

        <p class="title">Maintain security no matter where your employees are</p>

        <p>Perimeter-less security allows you to enforce your security whether the end user is inside or outside the corporate network. Web filtering improves staff productivity by limiting time spent on non-business related surfing and ensures confidentiality by masking user details when they access sites that colect information.</p>
    </div>

    <div class="col col-md-6">
        <p><span class="fa fa-4x fa-signal"></span></p>

        <p class="title">Obtain full visibility</p>

        <p>The Web filtering sevice includes streamlined configuration through a graphical dashboard, real-time rule-based filters, and a best-in-class URL database. The portal provides real-time policy enforcement. Web security trends and data can also be viewed through at-a-glance graphical displays and detailed forensic audits.</p>
    </div>
</div>
