<div class="col col-md-12">
    <div class="col col-md-2 col-xs-12">
        <p class="number text-align-right"><strong>1</strong></p>
    </div>

    <div class="col col-md-10">
        <h1 class="highlight">The need</h1>

        <p class="normal">The European Space Agency (ESA) is Europe's gateway to space. ESA is an intergovernmental organisation, created in 1975, with the mission to shape the development of Europe’s space capability and ensure that investment in space delivers benefits to the citizens of Europe and the world. ESA has 20 Member States: Austria, Belgium, the Czech Republic, Denmark, Finland, France, Germany, Greece, Ireland, Italy, Luxembourg, the Netherlands, Norway, Poland, Portugal, Romania, Spain, Sweden, Switzerland and the United Kingdom, of whom 18 are Member States of the EU. ESA has Cooperation Agreements with eight other Member States of the EU and is discussing an Agreement with the one remaining (Bulgaria). Canada takes part in some ESA programmes under a Cooperation Agreement. By coordinating the financial and intellectual resources of its members, ESA can undertake programmes and activities far beyond the scope of any single European country. ESA develops the launchers, spacecraft and ground facilities needed to keep Europe at the forefront of global space activities. Today, it launches satellites for Earth observation, navigation, telecommunications and astronomy, sends probes to the far reaches of the Solar System and cooperates in the human exploration of space.</p>
    </div>
</div>

<div class="col col-md-12">
    <div class="col col-md-2 col-xs-12">
        <p class="number text-align-right"><strong>2</strong></p>
    </div>

    <div class="col col-md-10">
        <h1 class="highlight">The solution</h1>

        <p class="normal">We implemented a highly secure Orange Flexible Computing IaaS private cloud solution that is robust, flexible and scalablee for fast self-provisionning.<br />
            The on-premise private cloud is based in two mirrored ESA data centers that deliver complete redundancy for applications and services and predictable pay-as-you-go costs.<br />
            It offers high security with rigorous role-based access control and security design customized to specific requirements of the various ESA user communities.</p>
    </div>
</div>

<div class="col col-md-12">
    <div class="col col-md-2 col-xs-12">
        <p class="number text-align-right"><strong>3</strong></p>
    </div>

    <div class="col col-md-10">
        <h1 class="highlight">The result</h1>

        <p class="normal">The agency now benefits from best-in class virtualization, networking, computing, and storage that is fully integrated into the ESA IT environment. Their robust, reliable, flexible and scalable platform allows for rapid self-provisionning access to major computing power in minutes rather in months.<br />
            This approach has reduced costs, and provided a stronger data protection capability whilst remaining compliant with complex business continuity and disaster recovery requirements.<br />
            Overall, Orange's solution has enabled the ESA to improve efficiency accross its geography distributed community - boosting communication and collaboration over their shared mission to shape the development of Europe's space capability</p>
    </div>
</div>
