<div class="col-md-12 verbatim-image">
    <div class="col-md-3 hidden-sm hidden-xs nopadding">
        <drupal-entity data-embed-button="media_browser" data-entity-embed-display="entity_reference:media_thumbnail" data-entity-embed-display-settings="{&quot;image_style&quot;:&quot;medium&quot;,&quot;image_link&quot;:&quot;&quot;}" data-entity-type="media" data-entity-uuid="5f68034c-a22d-4b55-9d9a-6dce0318ba33"></drupal-entity>
    </div>

    <div class="col-md-9 col-sm-12 nopadding">
        <div class="bubble nextimage-bubble">
            <div class="verbatim-title">Eximilia ille frui publicae omnia ut ille utilitatem properat tam frui publicae frui ille propter senator ut properat aliud tam.</div>

            <p class="verbatim-source">Daniel Marion, Directeur des Systèmes d'Information de l'UEFA</p>
        </div>
    </div>
</div>
