<div class="col col-md-12 col-xs-12 col-sm-12 nopadding">
    <div class="bubble">
        <div class="verbatim-title">Eximilia ille frui publicae omnia ut ille utilitatem properat tam frui publicae frui ille propter senator ut properat aliud tam.</div>

        <p class="verbatim-source">Daniel Marion, Directeur des Systèmes d'Information de l'UEFA</p>
    </div>
</div>

<!-- Ancien code du Verbatim (JIRA RUBYPORTAILOBS-2458)
<div class="col col-md-12 bg bg_black nopadding">
    <div class="col col-md-6 bg">
        <p class="callToAction highlight">"Our business has been able to jump ahead in time more than five years."</p>

        <p class="auteur">Filippo Angelucci</p>

        <p class="normal">CIO and Head of the Information<br />
            Technology Department, ESA</p>
    </div>

    <div class="col col-md-6 nopadding image">
        <drupal-entity data-embed-button="media_browser" data-entity-embed-display="entity_reference:entity_reference_entity_view" data-entity-embed-settings="{&quot;view_mode&quot;:&quot;default&quot;}" data-entity-type="media" data-entity-uuid="e1ee2c89-1a8a-423b-8e76-678a7678fca8"></drupal-entity>
    </div>
</div>
-->
