<div class="module_key_figures_1 col col-md-12 bg bg_black">
    <div class="key_figure_small"><span class="orange">71%</span></div>
    <div class="titre3">C'est la quantité de conférences où au moins un des participants s'est connecté depuis un terminal mobile</div>
    <div class="key_source">source : lorem ipsum tadadoum</div>
</div>
