<table class="table o-responsive-table">
    <caption>Responsive Table</caption>
    <thead class="cf">
    <tr>
        <th scope="col" class="header">header1</th>
        <th scope="col" class="header">header2</th>
        <th scope="col" class="header">header3</th>
        <th scope="col" class="header">header4</th>
        <th scope="col" class="header">header5</th>
        <th scope="col" class="header">header6</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope='row'>row1</th>
        <td data-title="number">data1</td>
        <td data-title="place called">data1</td>
        <td data-title="call class">data1</td>
        <td data-title="duration">data1</td>
        <td data-title="cost">0.214</td>
    </tr>
    <tr>
        <th scope='row'>row2</th>
        <td data-title="number">data2</td>
        <td data-title="place called">data2</td>
        <td data-title="call class">data2</td>
        <td data-title="duration">data2</td>
        <td data-title="cost">0.158</td>
    </tr>
    <tr>
        <th scope='row'>row3</th>
        <td data-title="number">data3</td>
        <td data-title="place called">data3</td>
        <td data-title="call class">data3</td>
        <td data-title="duration">data3</td>
        <td data-title="cost">0.089</td>
    </tr>
    <tr>
        <th scope='row'>row4</th>
        <td data-title="number">data4</td>
        <td data-title="place called">data4</td>
        <td data-title="call class">data4</td>
        <td data-title="duration">-</td>
        <td data-title="cost">0.10</td>
    </tr>
    </tbody>
</table>