{# Ne sert plus
le CKEditor pointe vers le même dans themes/theme_boosted/template/node/socialbar.html.twig
#}
<div class="node-socialbar">
    <p class="titre">
        <strong>Share</strong>
    </p>
    <p>
        <a href="http://www.twitter.com" class="twitter" target="_blank" title="Share on twitter">
            <span class="fa-lg fa-stack text_black"> <i class="fa fa-circle-thin fa-stack-2x"></i> <i class="fa fa-twitter fa-stack-1x"></i> </span>
        </a>
        <a href="http://www.facebook.com" class="facebook" target="_blank" title="Share on facebook">
            <span class="fa-lg fa-stack text_black"> <i class="fa fa-circle-thin fa-stack-2x"></i> <i class="fa fa-facebook fa-stack-1x"></i> </span>
        </a>
        <a href="https://www.instagram.com/" class="instagram" target="_blank" title="Share on instagram">
            <span class="fa-lg fa-stack text_black"> <i class="fa fa-circle-thin fa-stack-2x"></i> <i class="fa fa-instagram fa-stack-1x"></i> </span>
        </a>
        <a href="https://plus.google.com" class="gplus" target="_blank" title="Share on googleplus">
            <span class="fa-lg fa-stack text_black"> <i class="fa fa-circle-thin fa-stack-2x"></i> <i class="fa fa-google-plus fa-stack-1x"></i> </span>
        </a>
        <a href="https://www.youtube.com" class="youtube" target="_blank" title="Share on youtube">
            <span class="fa-lg fa-stack text_black"> <i class="fa fa-circle-thin fa-stack-2x"></i> <i class="fa fa-youtube-play fa-stack-1x"></i> </span>
        </a>
        <a href="http://www.linkedin.com" class="linkedin" target="_blank" title="Share on linkedin">
            <span class="fa-lg fa-stack text_black"> <i class="fa fa-circle-thin fa-stack-2x"></i> <i class="fa fa-linkedin fa-stack-1x"></i> </span>
        </a>
    </p>
</div>