<div class="bg bg_white col col-md-12 nopadding">
    <p class="intertitre text-max-witdh"> Intertitre Lorem ispum </p>
    <p class="contenu text-max-witdh"> Contenu du bloc, dont la largeur maximale est de 850px.</p>
</div>
