/* Partie Classify - add part */
@media screen and (min-width: 85em) {
  #edit-group-classify .claro-details__content--vertical-tabs-item {
    margin: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #edit-group-classify .claro-details__content > .field--type-entity-reference {
    width: 33%;
  }

  #edit-group-classify .claro-details__content > .field--type-entity-reference .form-element--type-select-multiple {
    width: 85%;
  }

  #edit-group-classify #edit-field-country-wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 85em) {

  #edit-group-classify .claro-details__content > .field--type-entity-reference .form-element--type-select-multiple {
    width: 95%;
  }
}

.claro-details__wrapper--vertical-tabs-item::before {
  display: initial;
}

.claro-details__summary:hover {
  color: #f16e00;
}

[open] .claro-details__summary--accordion,
[open] .claro-details__summary--accordion-item,
[open] .claro-details__summary--vertical-tabs-item {
  color: #f16e00;
}

.claro-details[open] > .claro-details__summary:focus {
  color: #f16e00;
}

.claro-details__summary::after {
  box-shadow: inset 0 0 0 3px #f16e00;
}

[open] > .claro-details__summary--accordion:not(:focus):not(:active)::after,
[open] > .claro-details__summary--accordion-item:not(:focus):not(:active)::after,
.collapse-processed[open] > .claro-details__summary--accordion .details-title:not(:focus)::after,
.collapse-processed[open] > .claro-details__summary--accordion-item .details-title:not(:focus)::after,
[open] > .claro-details__summary--vertical-tabs-item:not(:focus):not(:active)::after,
.collapse-processed[open] > .claro-details__summary--vertical-tabs-item .details-title:not(:focus)::after {
  border-left: 3px solid #f16e00;
}
