.cke_show_borders {
    overflow: scroll !important;
}
.cke_show_borders a{
    color: black;
    text-decoration: underline;
}
.cke_show_borders a:hover,
.cke_show_borders a:focus{
    text-decoration: underline;
}
.cke_show_borders .btn {
    border-width: 2px;
    font-size: 1.6rem;
    line-height: 1.25;
    padding: 0.7rem 1.8rem 0.9rem;
    border-radius: 0;
}
.cke_show_borders .btn-default {
    background-color: transparent;
    border-color: #000;
    color: #000;
    text-decoration: none;
}
.cke_show_borders .btn-default:hover,
.cke_show_borders .btn-default.hover,
.cke_show_borders .btn-default:focus,
.cke_show_borders .btn-default.focus {
    color: #fff;
    background-color: #000;
    border-color: #000;
}
.cke_show_borders .btn-primary {
    background-color: #f16e00;
    border-color: #fff;
    color: #fff;
    font-family: HelvNeueOrange,Arial,sans-serif;
    font-weight: 700;
    margin-right: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    text-decoration: none;
}
.cke_show_borders .btn-primary:hover,
.cke_show_borders .btn-primary.hover,
.cke_show_borders .btn-primary:focus,
.cke_show_borders .btn-primary.focus {
    color: #fff;
    background-color: #f16e00;
    border-color: #fff;
}

div.titre1{
    font-size: 3.4rem;
    font-family: HelvNeueOrange, Arial, sans-serif;
    font-weight: 700;
    line-height: 3.4rem;
    margin-bottom: 4rem;
}
div.titre2{
    font-size: 2.4rem;
    font-family: HelvNeueOrange, Arial, sans-serif;
    font-weight: 700;
    line-height: 2.6rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
div.titre3{
    font-size: 1.8rem;
    font-family: HelvNeueOrange, Arial, sans-serif;
    font-weight: 700;
    line-height: 3rem;
    padding-bottom: 3rem;
}
div.titre4{
    font-size: 2rem;
    font-family: HelvNeueOrange, Arial, sans-serif;
    font-weight: 700;
    line-height: 2.2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

div.textlimit{
    max-width: 850px;
}

ul.orange,
ul.black,
ul.white,
ul.grey{
    list-style-type: square;
}
p.highlight1{
    font-size: 1.6rem;
    font-family: HelvNeueOrange, Arial, sans-serif;
    font-weight: 700;
    line-height: 2rem;
    margin-bottom: 1rem;
}

p.axiometext {
    font-size: 1.6rem;
    font-family: HelvNeueOrange, Arial, sans-serif;
    font-weight: normal;
    line-height: 2rem;
    margin-bottom: 1rem;
}

p.axiomedescription {
    font-size: 1.6rem;
    font-family: HelvNeueOrange, Arial, sans-serif;
    font-weight: normal;
    line-height: 2rem;
    margin-bottom: 1rem;
}

p.highlight1 + .titre4{
    margin-top: 2rem;
}

p.highlight1 + .titre2{
    margin-top: 3rem;
}


p.date{
    font-size: 1.4rem;
    font-family: HelvNeueOrange, Arial, sans-serif;
    font-weight: 700;
}

p.insight_banniere {
    font-size: 3rem;
    font-family: HelvNeueOrange, Arial, sans-serif;
    font-weight: 700;
    line-height: 3rem;
}

span.downloadPDF {
    font-size: 1.4rem;
    font-family: HelvNeueOrange, Arial, sans-serif;
    font-weight: 700;
    text-decoration: underline;
}

a:hover.downloadPDF{
    color: #f16e00;
}

ul.orange,
span.orange{
    color: #FF7900;
}
ul.black,
span.black{
    color: #000;
}
ul.white,
span.white{
    color: #FFF;
}
ul.grey,
span.grey{
    color: #ccc;
}
span.blue{
    color: #4bb4e6;
}

div.titre-insight{
    font-size: 1.875em;
}
div.titre-insight span{
    line-height: 2.875rem;
}
@media (max-width:767px){
    .banner-topzone .frame-icon-rel:before {
        margin-left: 6px;
    }
}

.cke_show_borders .align-left{
    margin-right: 10px;
}
.cke_show_borders .align-right{
    margin-left: 10px;
}