.obs_template.one_column p,
.obs_template.two_columns_33_66 p,
.obs_template.two_columns_66_33 p,
.obs_template.three_columns p,
.obs_template.four_columns p,
.obs_template.two_columns p
{
  padding: 10px;
}

.obs_template.obs_background_blue{
  background-color: #4bb4e6;
  padding: 10px;
}
.obs_template.obs_background_green{
  background-color: #50be87;
  padding: 10px;
}
.obs_template.obs_background_purple{
  background-color: #A885D8;
  padding: 10px;
}
.obs_template.obs_background_pink{
  background-color: #ffb4e6;
  padding: 10px;
}
.obs_template.obs_background_yellow{
  background-color: #ffd200;
  padding: 10px;
}

.obs_template.obs_background_black{
  background-color: #000000;
  padding: 10px;
  color: #FFFFFF;
}
.obs_template.obs_background_dark_grey{
  background-color: #595959;
  padding: 10px;
}
.obs_template.obs_background_white{
  background-color: #FFFFFF;
  padding: 10px;
}
.obs_template.obs_background_moderate_grey{
  background-color: #8F8F8F;
  padding: 10px;
}
.obs_template.obs_background_orange{
  background-color: #FF7900;
  padding: 10px;
}
.obs_template.obs_background_light_grey{
  background-color: #D6D6D6;
  padding: 10px;
}
.obs_template.obs_background_lighter_grey{
    background-color: #EEE;
    padding: 10px;
}

/* Liens de couleur noire sur fond de couleur primaire et secondaire */
.obs_template.div[class*=" obs_background_"] a{
    color: #000000;
    text-decoration: underline;
}

.obs_template.div[class*=" obs_background_"] a:hover,
.obs_template.div[class*=" obs_background_"] a:focus{
    color: #000000;
    text-decoration: underline;
}

/* Liens de couleur blanche sur fond noir */
.obs_template.obs_background_black a{
	color:white;
}

.obs_template.obs_background_black a:hover,
.obs_template.obs_background_black a:focus,
.obs_template.obs_background_white a:hover,
.obs_template.obs_background_white a:focus,
.obs_template.obs_background_light_grey a:hover,
.obs_template.obs_background_light_grey a:focus,
.obs_template.obs_background_lighter_grey a:hover,
.obs_template.obs_background_lighter_grey a:focus,
.obs_template.obs_background_moderate_grey a:hover,
.obs_template.obs_background_moderate_grey a:focus,
.obs_template.obs_background_dark_grey a:hover,
.obs_template.obs_background_dark_grey a:focus{
  color:#FF7900;
}

.obs_template > .col-md-8 img,
.obs_template > .col-md-8 p > img {
    max-width: 480px;
    width: 100%;
    height: auto;
}
.node.full-html.full .obs_template > .col-md-8 img,
.node.full-html.full .obs_template > .col-md-8 p > img,
.solution.full .obs_template > .col-md-8 img,
.solution.full .obs_template > .col-md-8 p > img,
.industry.full .obs_template > .col-md-8 img,
.industry.full .obs_template > .col-md-8 p > img,
.region.full .obs_template > .col-md-8 img,
.region.full .obs_template > .col-md-8 p > img,
.country.full .obs_template > .col-md-8 img,
.country.full .obs_template > .col-md-8 p > img{
    max-width: 833px;
}
.obs_template > .col-md-6 img,
.obs_template > .col-md-6 p > img {
    max-width: 355px;
    width: 100%;
    height: auto;
}
.node.full-html.full .obs_template > .col-md-6 img,
.node.full-html.full .obs_template > .col-md-6 p > img,
.solution.full .obs_template > .col-md-6 img,
.solution.full .obs_template > .col-md-6 p > img,
.industry.full .obs_template > .col-md-6 img,
.industry.full .obs_template > .col-md-6 p > img,
.region.full .obs_template > .col-md-6 img,
.region.full .obs_template > .col-md-6 p > img,
.country.full .obs_template > .col-md-6 img,
.country.full .obs_template > .col-md-6 p > img{
    max-width: 620px;
}
.obs_template > .col-md-4 img,
.obs_template > .col-md-4 p > img {
    max-width: 230px;
    width: 100%;
    height: auto;
}
.node.full-html.full .obs_template > .col-md-4 img,
.node.full-html.full .obs_template > .col-md-4 p > img,
.solution.full .obs_template > .col-md-4 img,
.solution.full .obs_template > .col-md-4 p > img,
.industry.full .obs_template > .col-md-4 img,
.industry.full .obs_template > .col-md-4 p > img,
.region.full .obs_template > .col-md-4 img,
.region.full .obs_template > .col-md-4 p > img,
.country.full .obs_template > .col-md-4 img,
.country.full .obs_template > .col-md-4 p > img{
    max-width: 407px;
}
.obs_template > .col-md-3 img,
.obs_template > .col-md-3 p > img {
    max-width: 170px;
    width: 100%;
    height: auto;
}
.node.full-html.full .obs_template > .col-md-3 img,
.node.full-html.full .obs_template > .col-md-3 p > img,
.solution.full .obs_template > .col-md-3 img,
.solution.full .obs_template > .col-md-3 p > img,
.industry.full .obs_template > .col-md-3 img,
.industry.full .obs_template > .col-md-3 p > img,
.region.full .obs_template > .col-md-3 img,
.region.full .obs_template > .col-md-3 p > img,
.country.full .obs_template > .col-md-3 img,
.country.full .obs_template > .col-md-3 p > img{
    max-width: 300px;
}
.obs_template .small-image{
    width: auto !important;
}
.cke_editable .obs_template > .col-md-8 img,
.cke_editable .obs_template > .col-md-8 p > img,
.cke_editable .obs_template > .col-md-6 img,
.cke_editable .obs_template > .col-md-6 p > img,
.cke_editable .obs_template > .col-md-4 img,
.cke_editable .obs_template > .col-md-4 p > img,
.cke_editable .obs_template > .col-md-3 img,
.cke_editable .obs_template > .col-md-3 p > img{
    max-width: 100%;
}

.obs_template.one_column li > p,
.obs_template.two_columns_33_66 li > p,
.obs_template.two_columns_66_33 li > p,
.obs_template.three_columns li > p,
.obs_template.four_columns li > p,
.obs_template.two_columns li > p
{
  padding: 0px;
}

.node.custom-page.full .obs_template > .col-md-8 img,
.node.custom-page.full .obs_template > .col-md-6 img,
.node.custom-page.full .obs_template > .col-md-4 img,
.node.custom-page.full .obs_template > .col-md-3 img,
.node.custom-page.full .obs_template > .col-md-2 img{
    max-width: 100%;
}

/**
    Mis en commentaire : Semble poser problème
    La suppression des paddings des 1ères et dernières colonnes augmente par
    conséquence leur taille disponible à l'intérieur.
    Exmple pour le 3 columns :
      |  Col 1  |  Col 2  |  Col 3  |
      |  234px  |  223px  |  234px  |
    A voir si cela pose problème ailleurs
 */
/*.obs_template div[class*=" col-"]:first-child{
    padding-left: 0;
}
.obs_template div[class*=" col-"]:last-child{
    padding-right: 0;
}*/

/*
    Ajout d'un margin bottom lorsque les contenus passe en col-sm-12
 */
@media (max-width: 767px) {
    .obs_template .col-sm-12 p {
        margin-bottom: 2rem;
    }
}

.obs_template.obs_background_orange ul li:before {
    color: black !important;
}
.obs_template.obs_background_orange a:hover {
    color: black !important;
    text-decoration: none;
}

/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

.ckeditor-embed-video .modal-lg {
  width: 900px; /* remise modal à taille large (bootstrap original) */
}

.ckeditor-embed-video .btn-primary {
  margin-right: 0rem;
}
