{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *
 * @ingroup templates
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bg bg-direct-bar">
      <div class="container" id="slider_direct_access">
      {% for item in items %}

        {% set link_target = item.url.options.target ? '_blank' : '_self'  %}
        {% set link_icon = item.url.options.icon %}
        <div class="item-direct-access nopadding text-align-center">
          <div class="div_direct_access border-right">
            {% set link_text %}<i class="glyphicon icon {{ link_icon }} link_direct_access"><span class="text_direct_access" >{{  item.title }}</span></i>{% endset %}
            {{ link(link_text, hub_getHubSubhomeUrl(item.url), {'target': link_target, 'onmousedown': 'utag_link(utag_data.titre_page, \'Footer\', \'Images thèmes\', \'' ~ item.title ~ '\');'}) }}
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  {% endif %}
{% endmacro %}