
<!DOCTYPE html>
<html>
<head>
  <style>
    .header-pdf {
      display: -webkit-box;
      -webkit-box-pack: justify;
      padding-top: 15px;
    }
    .logo-obs > img {
      height: 40px;
      width: auto;
    }
    .header-pdf-text {
      margin: 15px 0;
      color: #555;
      font-size: 16px;
      font-weight: bold;
    }
  </style>
</head>
<body>
<div class="header-pdf">
  <div class="logo-obs">
    <img src="../img/Orange_Business_Small_Logo_Black.png" alt="logo ob">
  </div>
  <div class="header-pdf-text">Orange Business</div>
</div>
</body>
</html>
