<!DOCTYPE html>
<html>
<head>
  <style>
    * {
      box-sizing: border-box;
    }
    body{
      font-family: HelvNeueOrange,helvetica,arial,sans-serif;
      line-height: 1.42857143;
      color: #000;
    }

    h2 {
      font-size: 3rem;
      letter-spacing: -.06rem;
      font-weight: 700;
      line-height: 1.1;
      color: #000;
      padding-bottom: 1rem;
      margin-bottom: 2rem;
      margin-top: 2rem;
    }
    h2::after {
      position: absolute;
      content: "";
      width: 2.875rem;
      height: 0.575rem;
      bottom: 0;
      left: 0;
      background: #ff7900;
    }

    ul{
      list-style: none;
      padding-left: 2rem;
      margin-bottom: 0px !important;
      padding-bottom: 1rem;
      font-size: 1.6rem;
      line-height: 2.6rem;
      margin-top: 0;
      box-sizing: border-box;
      font-weight: 400;
      color: #000;
    }
    li::before {
      content: "";
      position: absolute;
      left: 0;
      border-radius: 50%;
      background-color: #f16e00;
      display: block;
      height: 9px;
      width: 9px;
      top: 1rem;
      font-size: 1.6rem;
    }
  </style>

</head>
<body>
  <div{{ content_attributes }}>
    {{ content }}
  </div>
</body>
</html>
