.page-menu-category-block {
  &.sticky {
    z-index: 1019;
    position: sticky;
  }

  @include media-breakpoint-up(lg) {
    margin-top: 25px;

    .ob1-menu-page > ul {
      justify-content: space-around;
    }
  }
}
