.oab-synomia-search-header-block-form {
  .top-block-search-form {
    margin-right: 2.5rem;
    .search-textfield {
      border: 0 none;
      color: $white;
      border-bottom: 2px;
      border-color: $white;
      border-style: solid;
      margin-top: 0;
      padding-top: 0;
      padding-bottom: 0;

      &:focus{
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    .form-text {
      background-color: $black;
    }

    .form-item-mot {
      padding: 0;
      height: 45px;
    }
  }

  .top-btn-search {
    &,
    i,
    .search-link {
      position: absolute;
      font-size: 29px;
      font-weight: bold;

      &.btn {
        left: 9rem;
        top: -2.3rem;
        padding-left: 10px;
        padding-right: 28px;

        &:hover {
          color: $orange1;
        }
      }
    }

    .search-icon{
      top: -2rem;
      right: -11.4rem;
      cursor: pointer;
      margin-left: 0;
    }
  }
}

.block {
  .share-icon {
    position: relative;
    top: 0.4rem;
    font-size: 1.58rem;
  }
}

#block-theme-one-i-socialshareblock {
  width: 100%;
  right: 0;
  left: 0;
  z-index: 1021;
  transition: all $header_transition_time linear;

  #social-share {
    background-color: $white;
    margin-left: -20px;

    #sharebar {
      margin-right: -60px;
      padding-right: 10px;

      #counterlabel {
        display: none;
      }

      a {
        &.visited {
          background-color: $white;
          border-color: $black;
        }

        &.visited * {
          fill: $black;
        }
      }
    }
  }
}
