.block.page-menu-modular-product.sticky {
  z-index: 300;
  position: sticky;

  .ob1-menu-page .o-nav-light > .nav-item > .nav-link {
    @include media-breakpoint-down(md) {
      padding-bottom: 0.9375rem;
    }
  }
}
