.hub_menu_top_right_navbar {
  display: inline-block;
}

#block-siuhellouserblockonei {
  display: inline-block;


  .siu-hello-user-block {
    color: #fff;
    display: inline-block;
    .link_icon{
      font-size: 1.5rem;
      font-weight: bold;
      color: #fff;
    }
    .text-hello {
      position: relative;
      top: -6px;
      font-size: .75rem;
      line-height: 1;
    }

  }


}
