<div class="banner-linked-content bg bg_darkergrey">
    <div class="description width-lg-4 width-md-6 width-sm-6 width-xs-10 width-xxs-10">
        <p><span class="black">Orange Business Services améliore la performance des services cloud disponibles sur Business VPN Galerie avec la technologie Riverbed</span></p>

        <p><a class="btn btn-primary" href="">Lorem ipsum</a></p>
    </div>

    <div class="img-popout img-popout-background width-lg-10 width-md-10 width-sm-10 width-xs-10 hidden-sm">
        <drupal-entity data-embed-button="media_browser" data-entity-embed-display="entity_reference:entity_reference_entity_view" data-entity-embed-settings="{&quot;view_mode&quot;:&quot;default&quot;}" data-entity-type="media" data-entity-uuid="c96b7fae-97a3-4b5d-bd1e-f1f165d09710"></drupal-entity>
    </div>
</div>
