<div class="banner row bg bg_darkergrey">
    <div class="icon-frame-security frame-icon-rel inline text_orange">
        <h2 class="frame-text title text_white">Security</h2>
    </div>

    <div class="description width-lg-5 width-md-5 width-sm-6 width-xs-8 width-xxs-9">
        <p>Orange protects your critical systems, customer and employee data</p>
    </div>

    <div class="img-popout width-lg-3 width-md-5 width-sm-4 width-xs-4">
        <drupal-entity data-embed-button="media_browser" data-entity-embed-display="entity_reference:entity_reference_entity_view" data-entity-embed-settings="{&quot;view_mode&quot;:&quot;default&quot;}" data-entity-type="media" data-entity-uuid="986c4dca-668b-49ca-9720-1a10e417aae7"></drupal-entity>
    </div>
</div>
