<div class="col col-md-12 nopadding module_telechargement">
    <div class="col col-md-6 nopadding image">
        <drupal-entity data-embed-button="media_browser" data-entity-embed-display="entity_reference:entity_reference_entity_view" data-entity-embed-settings="{&quot;view_mode&quot;:&quot;default&quot;}" data-entity-type="media" data-entity-uuid="5b013994-fe7f-4306-ad13-75986356f75d"></drupal-entity>
    </div>

    <div class="col col-md-6 padding20">
        <p class="titre text_orange2">Quel rôle pour la Fonction Ressources Humain en 2020-2025 ?</p>

        <p class="intro">Face aux nouvelles formes de travail qui se développent et à l'avènement du collaboratif en entreprise, quelles sont les missions de la fonction RH pour construire une véritable expérience salarié ?</p>
        <a class="btn btn-primary noborder" href="">Télécharger le livre blanc</a></div>
</div>