<div class="banner-topzone-pwp container">
    <div class="topzonebg">
        <div class="col">
            <div class="col col-lg-2 nopadding col-md-3 col-sm-4 col-xs-6 leftcol">
                <div class="icon-frame-connectivity frame-icon-rel inline text_orange">
                    <h2 class="frame-text title text_white"><span class="white"><span class="black">Connectivité</span></span></h2>
                </div>
            </div>

            <div class="col col-lg-2 col-md-3 col-sm-4 col-xs-6 nopadding rightcol">
                <div class="icon-popout-connectivity frame-icon-rel inline text_black">
                    <h2 class="frame-text title text_white"><span class="white">Mon réseau local</span></h2>
                </div>
            </div>

            <div class="col col-lg-8"><span class="white"></span></div>
        </div>

        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 nopadding">
                <h1 class="titre1"><span class="white">Bâtir ou étendre mon réseau local d'entreprise</span></h1>

                <div class="titre3"><span class="white">Lorem ipsum dolor sit amet<br />
Lorem ipsum dolor sit amet</span></div>
            </div>
        </div>
    </div>
</div>
