<div class="banner-topzone col">
    <div class="col col-md-2">
        <div class="icon-frame-teamwork frame-icon-rel inline text_orange">
            <h2 class="frame-text title text_white"><span class="black">Connectivité</span></h2>
        </div>
    </div>
    <div class="col col-md-2">
        <div class="titre3">Bâtir ou étendre mon réseau local d'entreprise</div>
    </div>
    <div class="col col-md-6"></div>
    <div class="col col-md-2">
        <div class="icon-popout-home frame-icon-rel inline">
            <h2 class="frame-text title text_white"><span class="white">Mon réseau local</span></h2>
        </div>
    </div>
</div>
