<div class="banner-topzone container">
    <div class="topzonebg">
        <div class="col col-lg-2 nopadding col-md-3 col-sm-4 col-xs-7 leftcol">
            <div class="icon-frame-connectivity frame-icon-rel inline text_orange">
                <h2 class="frame-text title text_white"><span class="black">Connectivité</span></h2>
            </div>
        </div>
        <div class="col col-lg-4 col-md-5 col-sm-8 col-xs-10">
            <div class="titre3 titre-insight"><span>Bâtir ou étendre mon réseau local d'entreprise</span></div>
        </div>
        <div class="col col-lg-4 col-md-1"></div>
        <div class="col col-lg-2 col-md-3 hidden-sm hidden-xs rightcol nopadding">
            <div class="icon-popout-connectivity frame-icon-rel inline text_black">
                <h2 class="frame-text title text_white"><span class="white">Mon réseau local</span></h2>
            </div>
        </div>
    </div>
</div>
