<div class="banner-topzone-pwp container">
    <div class="topzonebg">
        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 nopadding">
                <h1 class="titre1"><span class="white">Bâtir ou étendre mon réseau local d'entreprise</span></h1>

                <div class="titre3"><span class="white">Lorem ipsum dolor sit amet<br />
Lorem ipsum dolor sit amet</span></div>
            </div>
        </div>
    </div>
</div>
