<a class="btn btn-dafult row wrapper_numero" href="tel:{{ element.0['#title'] |replace({' ': ''}) }}">
  <strong class=" col-xs-6 numero">{{ element.0['#title'] }}</strong>
  <span class="col-xs-6 helper_numero">
    <span class="icon icon-Play"></span>
    Service & appel <br> gratuits
  </span>
</a>
