<a class="btn btn-dafult row wrapper_numero" href="tel:{{ element.0['#title'] |replace({' ': ''}) }}"
   onmousedown="utag_link({'track_page':utag_data.titre_page,'track_zone':'contact button','track_nom':'Card',
                           'track_cible':'{{ element.0['#title'] }}','track_type_evt':'clic'})">
  <strong class=" col-xs-6 numero">{{ element.0['#title'] }}</strong>
  <span class="col-xs-6 helper_numero">
    <span class="icon icon-Play"></span>
    Service & appel <br> gratuits
  </span>
</a>
