<div {{ attributes.addClass('block', 'page-menu-modular-product', 'sticky-top', 'mt-lg-2') }}>
  {% if content.children_items is not empty %}
    <nav class="ob1-menu-page sub_local_menu col bg-white">
      <ul class="nav o-nav-light site-width ">
        {% for child in content.children_items %}
          <li class="nav-item">
            <a class="nav-link"
               onmousedown="utag_link(utag_data.titre_page,'navigation','localnav','{{ child.label }}')"
               href="#{{ child.id }}" >{{ child.label }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  {% endif %}

</div>

