<div {{ attributes.addClass('block', 'page-menu-category-block', 'sticky-top') }}>
      {% if content.children_items is not empty %}
      <nav class="ob1-menu-page sub_local_menu col bg-white">
        <ul class="nav o-nav-light site-width ">
      {% for child in content.children_items %}
        <li class="nav-item">
          <a class="nav-link" href="#{{ replaceSpacesAndSpecialChars(child.label) }}"
             onmousedown="utag_link(utag_data.titre_page, 'categ_page_menu', '{{ child.label|lower }}', '');">{{ child.label }}</a>
        </li>
      {% endfor %}
      </ul>
      </nav>
    {% endif %}

</div>
