<div class="banner-essentiel bg bg_white">
    <div class="col col-md-6 col-sm-12">
        <div class="img-popout img-popout-background width-lg-10 width-md-10 width-sm-10 width-xs-10">
            <drupal-entity data-embed-button="media_browser" data-entity-embed-display="entity_reference:entity_reference_entity_view" data-entity-embed-settings="{&quot;view_mode&quot;:&quot;default&quot;}" data-entity-type="media" data-entity-uuid="3e8a3b0a-a304-401e-96e3-9cebe7e84c15"></drupal-entity>
        </div>

        <div class="icon-frame-teamwork frame-icon-rel inline text_orange">
            <h2 class="frame-text title text_white"><span class="black">Lorem ipsum</span></h2>
        </div>
    </div>

    <div class="col col-md-6 col-sm-12 description">
        <p><span class="black">Orange Business Services améliore la performance des services cloud disponibles sur Business VPN Galerie avec la technologie Riverbed</span></p>

        <p><a class="btn btn-primary" href="">Lorem ipsum</a></p>
    </div>
</div>
