<div class="col col-md-12 bg bg_orange nopadding">
    <div class="col col-md-6 bg">
        <p class="callToAction highlight">Balancing social media with legal risk - best for customers, best for business</p>

        <p class="date">February 28,2013 in <a href="">Opinion</a></p>

        <p>Share this post</p>

        <p><a class="facebook" href="http://www.facebook.com"><span class="fa-lg fa-stack text_white"> <i class="fa fa-circle-thin fa-stack-2x"></i> <i class="fa fa-facebook fa-stack-1x"></i> </span> </a>
            <a class="twitter" href="http://www.twitter.com"> <span class="fa-lg fa-stack text_white"> <i class="fa fa-circle-thin fa-stack-2x"></i> <i class="fa fa-twitter fa-stack-1x"></i> </span> </a>
            <a class="linkedin" href="http://www.linkedin.com"> <span class="fa-lg fa-stack text_white"> <i class="fa fa-circle-thin fa-stack-2x"></i> <i class="fa fa-linkedin fa-stack-1x"></i> </span> </a>
            <a class="newsletter" href="/"><span class="fa-lg fa-stack text_white"> <i class="fa fa-circle-thin fa-stack-2x"></i> <i class="fa fa-envelope fa-stack-1x"></i> </span> </a></p>
    </div>

    <div class="col col-md-6 nopadding image">
        <drupal-entity data-embed-button="media_browser" data-entity-embed-display="entity_reference:entity_reference_entity_view" data-entity-embed-settings="{&quot;view_mode&quot;:&quot;default&quot;}" data-entity-type="media" data-entity-uuid="5a1c7ea0-7722-4044-8c2d-4f3d4ed5673b"></drupal-entity>
    </div>
</div>
