<div class="col-md-12 bg bg_orange">
    <p class="callToAction highlight">Find out how our security services can help your business. Contact our experts today.
    </p>
    <p>
        <a class="btn btn-primary" href=""><i class="fa fa-comment"></i>  Chat</a>
        <a class="btn btn-primary" href=""><i class="fa fa-envelope"></i>  Email</a>
        <a class="btn btn-primary" href=""><i class="fa fa-phone"></i>  Call</a>
    </p>
</div>