<div class="container">
    <a href="/modules/custom/oab_orange_business_lounge/images/CDC_API_BU_MOBILE.pdf" download="CDC_API_BU">
        <button type="button" class="btn btn-primary" style="color:black; margin-top: 100px; margin-left: 10px;"> Télécharger au format pdf </button>
    </a>
</div>

<br/>

<div class="container">

    <div class="col-md-9 col-lg-9 col-sm-9 order-2">

      <table border="1" width="100%">
        <thead style="background: #F6F6F6">
        <tr>
          <th scope="col">Destination</th>
          <th scope="col">Zone <a href="#footnote-1"><sup>(1)</sup></a></th>
          <th scope="col">Opérateur</th>
        </tr>
        </thead>

        <tbody>
        {% for country in countriesWithOperators %}
          <tr>
            <td> {{ country['label'] }} </td>
            <td> {{ country['zoneId']  }} </td>

            <td>
              {% for myoperator in country['operators'] %}
                {{ myoperator['name']  }}
                <br/>
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

    </div>

    <div class="col-md-3 col-lg-3 col-sm-3 order-1">
      <div class="container obl-search-accord-by-country" style="background-color:#DDDDDD;color:black;padding:15px;margin-bottom:50%;">
          {{ mon_form }}
      </div>
    </div>

</div>

<br/>
<p id="footnote-1">(1) Here is my first footnote.</p>
