<div class="container">
    <a href="/modules/custom/oab_orange_business_lounge/images/CDC_API_BU_MOBILE.pdf" download="CDC_API_BU">
        <button type="button" class="btn btn-primary" style="color:black; margin-top: 100px; margin-left: 10px;"> Télécharger au format pdf </button>
    </a>
</div>

<br/>

<div class="container">

    <div class="col-md-9 col-lg-9 col-sm-9 order-2">
      <table border="1" width="100%" id="table-accord-roaming">
        <thead style="background: #F6F6F6" class="thead-table-accord-romaing">
            <th scope="col">Destination</th>
            <th scope="col">Zone <a href="#footnote-1"><sup>(1)</sup></a></th>
            <th scope="col">Opérateur</th>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>

    <div>
      {{ drupal_entity('block','searchaccordspricebycountryobl', check_access=false) }}
    </div>

</div>

<br/>
<p id="footnote-1">(1) Here is my first footnote.</p>
