<style type="text/css">
  .btn_print_accords_obl {
    color:black;
    margin-top: 100px;
    margin-left: 10px;
  }
  .obl_accords_techno_selected {
    visibility: hidden;
  }

  @media print {
    .obl_accords_techno_selected {
      display: block;
      visibility: visible;
      font-size: 3rem;
      margin-left: 2rem;
    }
    .btn_print_accords_obl {
      display: none;
    }
    .path-reseau-mobile .dialog-off-canvas-main-canvas .region-prefooter  {
      display: none;
    }
    .path-reseau-mobile #block-topzoneoblpageaccords {
      display: none;
    }
    .path-reseau-mobile .searchaccordspricebycountryobl {
      display: none;
    }
    #table-accord-roaming {
      border: 1px solid;
      margin-bottom: 130%;
      width: 130%;
    }
    #table-accord-roaming .accords_obl_label {
      width: 20%;
    }
    #table-accord-roaming .accords_obl_zone_id {
      width: 20%;
    }
    #table-accord-roaming td {
      padding:2rem
    }
    #table-accord-roaming th {
      padding:2rem
    }
  }

</style>

<div class="container">
  <button class="btn_print_accords_obl btn btn-primary"> Imprimer au format pdf </button>
</div>

{# for print #}
<span class="obl_accords_techno_selected"></span>

<br/>

<div class="container">

    <div class="col-md-9 col-lg-9 col-sm-9 order-2">
      <table border="1" width="100%" id="table-accord-roaming">
        <thead style="background: #F6F6F6" class="thead-table-accord-romaing">
            <th scope="col">Destination</th>
            <th scope="col">Zone <a href="#footnote-1"><sup>(1)</sup></a></th>
            <th scope="col">Opérateur</th>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>

    <div class="searchaccordspricebycountryobl">
      {{ drupal_entity('block','searchaccordspricebycountryobl', check_access=false) }}
    </div>

</div>

<br/>
<p id="footnote-1">(1) Here is my first footnote.</p>
