.bg {
  top: 2.5rem;
  position: relative;
}

.location-bar-direct-access {
  border-right: 1px solid;
  border-right-color: $gray3;
  height: 4.5rem;

  &:last-child {
    border: 0;
  }

  @include media-breakpoint-up(md) {
    height: 6.5rem;
  }
}

.link_direct_access {
  font-size: 1.5rem;

  @include media-breakpoint-up(md) {
     font-size: 2rem;
   }
}

.text_direct_access {
  font-size: 0.7rem;

  @include media-breakpoint-up(md) {
    font-size: 1rem;
  }
}
