header#navbar.sticky-top.is-sticky {

  .main_nav.navbar {
    padding-bottom: 0;

    div.navbar-brand {
      height: 1.875rem;
      margin: 0.9375rem 3.75rem 0.9375rem 0;
    }

    .navbar-brand img.medium-logo {
      width: auto;
      height: 30px;
    }

    .navbar-right {
      margin-top: revert;
    }

    .mega-menu-desktop {
      .nav-link {
        padding-bottom: 0.9375rem;

        &[role="menuitem"]:hover {
          padding-bottom: 0.625rem;
        }

        &[aria-expanded="true"] {
          padding-bottom: 0.625rem;
        }
      }
      .item_mega_menu {
        margin: -40px auto 0;
      }

      @media (min-width: 1600px) {
        .item_mega_menu {
          max-width: 1560px;
          margin: -40px auto 0;
        }
      }
    }

    .oab-synomia-search-header-block-form .top-block-search-form {
      input {
        height: 30px;
      }
    }
  }
}

.main_nav.navbar {
  padding: 0;
  div.navbar-brand {
    height: 2.5rem;
    margin: 1.25rem 3.75rem 1.25rem 0;

    @include media-breakpoint-up(xl){
      height: 3.125rem;
      margin: 1.5625rem 5.625rem 1.5625rem 0;
    }

    a.logo {
      margin-right: 0;

      img {
        transition: width .2s ease-in-out;
        margin-bottom: 0;
        height: 2.5rem;
        width: 100%;

        @include media-breakpoint-up(xl) {
          height: 3.125rem;
        }
      }
    }
  }

  .navbar-right {
    margin-top: 4px;

    @include media-breakpoint-up(xl) {
      margin-top: 14px;
    }
  }

  .nav_item_dropdown {
    border-top: none;

    a[aria-expanded="false"] {
      color: $white;

      &:hover{
        color: $orange1;
      }
    }
    }

  .mega-menu-desktop {
    & > nav,
    & > nav > ul.navbar-nav > li.nav-item {
      position: initial
    }

    ul.navbar-nav > li:first-child a.nav-link {
      margin-left: 0;
    }

    .nav-link {
      padding-bottom: 1.5rem;

      @include media-breakpoint-up(xl) {
        padding-bottom: 1.9375rem;
      }

      &[role="menuitem"]::before {
        color: $orange1;

        @include media-breakpoint-up(md) {
              display: none;
        }
      }

      &[role="menuitem"]:hover {
        color: $orange1;
        padding-bottom: 1.1875rem;
        border-bottom: 5px solid $orange1;

        @include media-breakpoint-up(xl) {
          padding-bottom: 1.625rem;
        }
      }

      &[aria-expanded="true"] {
        color: $white;
        padding-bottom: 1.1875rem;
        border-bottom: 5px solid $orange1;

        @include media-breakpoint-up(xl) {
          padding-bottom: 1.625rem;
        }
      }

      &.sous_items {
        padding-bottom: 0;
      }
    }

    .item_mega_menu {
      background-color: $white;
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
      padding: 0;
      border-top: $white;
      max-height: 27rem;
      overflow: hidden;
      right: 0;

      @include media-breakpoint-down(xl) {
        margin-top: -20px;
      }

      li {
        margin-bottom: 1rem;
      }

      .nav-pills {
        .nav-link {
          &.active {
            color: $orange1;
            font-weight: bold;
            background-color: transparent;
          }

          &:hover {
            cursor: pointer;
            background-color: transparent;
          }

        }
      }

      .item {
        color: $black;
        font-weight: normal;
        display: unset;

        &:focus {
          background-color: transparent;
          color: $orange1;
          font-weight: bold
        }

        &:hover {
          color: $orange1;
          font-weight: bold
        }
      }

      .sous-items {
        border-color: transparent;
        padding-left: 59px;
        padding-top: 0;
        padding-bottom: 0;

        span {
          font-weight: normal;
          color: $black;
          padding-top: 0.5rem;
          padding-bottom: 0;

          &:hover {
            color: $orange1;
          }
        }

        a {
          color: $black;
          padding-bottom: 0;

          &:hover {
            color: $orange1;
            .nav-link{
              color: $orange1;
            }
          }
        }

        .en_ce_moment {
          font-size: 20px;
        }

        a.all_product_link {
          text-align: right;
          text-decoration: none;
          margin-left: 8rem;
          padding: 0;
        }
      }

      .item_megamenu_list {
        padding-left: 1.875rem;
      }

      .title_megamenu {
        font-size: 1.25rem; //20px
        font-weight: bold;
      }

      .sous_items {
        color: $black;
        font-weight: normal;

        &:hover {
          color: $orange1;
          font-weight: bold;
        }
      }
    }
    @media (min-width: 1600px) {
      .mega-menu-global-link {
        margin-right: 1.825rem;
      }

      .item_mega_menu {
        max-width: 1560px;
        margin: 0 auto;

        .mega-menu-container {
          padding: 0 15px;
          margin-right: 1.875rem;
          margin-left: 3.5rem;
        }

        .item_megamenu_list {
          padding-left: 5.625rem;
        }
      }
    }
  }
}

