header#navbar.sticky-top.is-sticky {

  .main_nav.navbar {
    padding-bottom: 0;

    .navbar-brand img {
      width: 112px;
      height: auto;
      padding-bottom: 0.9375rem;
    }

    .navbar-right {
      padding-bottom: 0.9375rem;
    }

    .mega-menu-desktop {
      .item_mega_menu {
        margin: -12px auto 0;
      }

      @media (min-width: 1600px) {
        .item_mega_menu {
          max-width: 1560px;
          margin: -12px auto 0;
        }
      }
    }
  }
}

.main_nav.navbar {
  padding-bottom: 0;
  .navbar-brand img {
    width: 140px;
    height: auto;
    transition: width .2s ease-in-out;
    padding-bottom: 0.9375rem;
  }

  .navbar-right {
    padding-bottom: 0.9375rem;
  }

  .nav_item_dropdown {
    border-top: none;

    a[aria-expanded="false"] {
      color: $white;

      &:hover{
        color: $orange1;
      }
    }
    }

  .mega-menu-desktop {
    & > nav,
    & > nav > ul.navbar-nav > li.nav-item {
      position: initial
    }

    .nav-link {
      padding-bottom: 0.9375rem;

      &[role="menuitem"]::before {
        color: $orange1;

        @include media-breakpoint-up(md) {
              display: none;
        }
      }

      &[role="menuitem"]:hover {
        color: $orange1;
        padding-bottom: 0.625rem;
        border-bottom: 5px solid $orange1;
      }

      &[aria-expanded="true"] {
        color: $white;
        padding-bottom: 0.625rem;
        border-bottom: 5px solid $orange1;
      }

      &.sous_items {
        padding-bottom: 0;
      }
    }

    .item_mega_menu {
      background-color: $white;
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
      padding: 0;
      margin-top: -2px;
      border-top: $white;
      max-height: 27rem;
      overflow: hidden;
      right: 0;

      li {
        margin-bottom: 1rem;
      }

      .nav-pills {
        .nav-link {
          &.active {
            color: $orange1;
            font-weight: bold;
            background-color: transparent;
          }

          &:hover {
            cursor: pointer;
            background-color: transparent;
          }

        }
      }

      .item {
        color: $black;
        font-weight: normal;
        display: unset;

        &:focus {
          background-color: transparent;
          color: $orange1;
          font-weight: bold
        }

        &:hover {
          color: $orange1;
          font-weight: bold
        }
      }

      .sous-items {
        border-color: transparent;
        padding-left: 59px;
        padding-top: 0;
        padding-bottom: 0;

        span {
          font-weight: normal;
          color: $black;
          padding-top: 0.5rem;
          padding-bottom: 0;

          &:hover {
            color: $orange1;
          }
        }

        a {
          color: $black;
          padding-bottom: 0;

          &:hover {
            color: $orange1;
            .nav-link{
              color: $orange1;
            }
          }
        }

        .en_ce_moment {
          font-size: 20px;
        }

        a.all_product_link {
          text-align: right;
          text-decoration: none;
          margin-left: 8rem;
          padding: 0;
        }
      }

      .item_megamenu_list {
        padding-left: 1.875rem;
      }

      .title_megamenu {
        font-size: 1.25rem; //20px
        font-weight: bold;
      }

      .sous_items {
        color: $black;
        font-weight: normal;

        &:hover {
          color: $orange1;
          font-weight: bold;
        }
      }
    }
    @media (min-width: 1600px) {
      .item_mega_menu {
        max-width: 1560px;
        margin: -2px auto 0;

        .mega-menu-container {
          padding: 0 15px;
        }

        .item_megamenu_list {
          padding-left: 5.625rem;
        }
      }
    }
  }
}

