header#navbar.sticky-top.is-sticky {

  .main_nav.navbar {
    .navbar-brand img {
      width: 112px;
      height: auto;
    }
  }
}

.main_nav.navbar {
  .navbar-brand img {
    width: 140px;
    height: 3.125rem;
    transition: width .2s ease-in-out;
  }

  .nav_item_dropdown {
    border-top: none;

    a[aria-expanded="false"] {
      color: $white;
    }
    }

  .mega-menu-desktop {
    & > nav,
    & > nav > ul.navbar-nav > li.nav-item {
      position: initial
    }

    .nav-link {
      &[role="menuitem"]::before {
        color: $orange1;

        @include media-breakpoint-up(md) {
              display: none;
        }
      }
    }

    .item_mega_menu {
      background-color: $white;
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
      padding: 0;
      margin-top: -5px;
      border-top: $white;

      li {
        margin-bottom: 1rem;
      }

      .nav-pills {
        .nav-link {
          &.active {
            color: $orange1;
            font-weight: bold;
            background-color: transparent;
          }

          &:hover {
            cursor: pointer;
            background-color: transparent;
          }

        }
      }

      .item {
        color: $black;
        font-weight: normal;
        display: unset;

        &:focus {
          background-color: transparent;
          color: $orange1;
          font-weight: bold
        }

        &:hover {
          color: $orange1;
          font-weight: bold
        }
      }

      .sous-items {
        border-color: transparent;
        padding-left: 59px;
        padding-top: 0;

        span {
          font-weight: normal;
          color: $black;
          padding-top: 0.5rem;

          &:hover {
            color: $orange1;
          }
        }

        a {
          color: $black;

          &:hover {
            color: $orange1;
            .nav-link{
              color: $orange1;
            }
          }
        }

        .en_ce_moment {
          font-size: 20px;
        }

        a.all_product_link {
          text-align: right;
          text-decoration: none;
          margin-left: 8rem;
          padding: 0;
        }
      }

      .title_megamenu {
        margin-top: 30px;
        letter-spacing: -.07rem;
        color: $gray3;
        font-size: 1.2rem;
      }

      .sous_items {
        color: $black;
        font-weight: normal;

        &:hover {
          color: $orange1;
          font-weight: bold;
        }
      }
    }
  }
}


