@include media-breakpoint-up(lg) {
  .root-navbar-mobile {
    display: none;
  }
}

@include media-breakpoint-down(md) {
  header#navbar.sticky-top {
    z-index: 2002;

    &.is-sticky{
      z-index: 2002;
    }
  }

  #main_nav_mobile.navbar {
    height: 50px;
    overflow: hidden;

    .navbar-brand {
      margin-top: 4px;
      margin-right: 0;

      .logo-mobile-one-i {
        width: 112px;
        height: auto;
        margin-bottom: 0;
      }
    }

    .sandwich-button {
      padding: 0;
      font-size: 2rem;
      border: none;
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 13px;

      &.navbar-toggler:hover .navbar-toggler-icon,
      &.navbar-toggler:focus .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3csvg viewBox='0 0 1024 1024' width='20px' height='20px' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='%23fff' d='M106.906 754.176c-10.957-2.15-21.299-10.65-26.419-21.402-2.765-6.042-3.174-7.782-3.174-15.974 0-8.397 0.307-9.83 3.379-16.077 4.301-8.704 10.138-14.541 18.637-18.637l6.656-3.174h812.032l6.656 3.174c8.397 4.096 14.848 10.445 18.637 18.432 9.114 19.456 1.024 41.574-18.637 50.995l-6.656 3.174-403.456 0.102c-221.901 0.102-405.402-0.205-407.654-0.614zM105.37 497.766c-10.65-2.867-19.251-10.035-24.678-20.582-2.97-5.53-3.277-7.066-3.277-15.872-0.102-8.806 0.205-10.342 3.072-16.384 3.994-8.397 10.342-14.746 18.842-18.842l6.656-3.174h812.032l6.656 3.277c7.475 3.686 9.216 5.018 14.438 11.571 5.53 6.861 7.578 13.312 7.578 23.552 0 7.578-0.41 9.523-3.174 15.36-3.994 8.499-10.342 14.848-18.842 18.842l-6.656 3.174-403.968 0.205c-317.85 0.102-404.992-0.102-408.678-1.126zM104.96 241.766c-11.366-3.584-19.354-10.547-24.474-21.094-2.765-5.939-3.174-7.68-3.174-15.872s0.41-9.933 3.174-15.872c3.994-8.397 10.342-14.746 18.842-18.842l6.656-3.174h812.032l6.656 3.174c8.499 3.994 14.848 10.342 18.842 18.842 2.867 5.939 3.174 7.68 3.174 15.872s-0.307 9.933-3.174 15.872c-3.994 8.397-10.342 14.746-18.842 18.842l-6.656 3.174-404.48 0.205c-324.915 0.102-405.299-0.102-408.576-1.126z'/%3e%3c/svg%3e");
      }

      &.icomoon-ob1-cross {
        font-size: 1rem;
      }

      span {
        background-size: 1.9rem;
        margin-bottom: 3px;
        height: 24px;
        display: inline-block;

        &.icomoon-ob1-cross {
          font-size: 20px;
        }
      }

      &:hover, &:focus {
        background-color: transparent;
      }
    }

    .menu-xs {
      align-self: flex-start;
      margin-top: 4px;

      i {
        font-size: 1.3rem;
        color: white;
        margin-top: 12px;
        margin-right: 15px;
        padding: 0;
        height: 24px;

        &:hover {
          color: $orange1;
        }
      }

      .menu-loupe-xs {
        li {
          border-top: none;
          border-bottom: none;

          .search-icon {
            font-size: 1.3rem;
            margin-bottom: 20px;
            margin-right: 15px;
            height: 24px;
          }
        }
      }
    }
  }

  #megamenu_mobile {
    background-color: $white;
    border-left: 3rem solid $gray3;

    .mega-menu {
      height: 100% !important;
      overflow-y: auto;
    }
    hr {
      margin-left: 0.7rem;
      margin-bottom: 1rem;
    }

    li {
      border: none;

      a {
        cursor: pointer;
        font-size: 1rem;
      }

      .global-link-mobile:after {
        margin-top: -0.0625rem;
      }

      .items_list_link {

        .items_list_link_container{
          padding: 0 15px;
          margin-bottom: 15px;

          .items_list_link_title {
            margin: 0;
            padding: 0;

            a {
              border-top: 1px solid $gray4;
              padding: 1.875rem 0 1rem;
              font-size: 1.25rem;
              font-weight: bold;
            }
          }
        }

        a {
          color: $black;
          font-weight: normal;
          padding-left: 0;

          &:hover, &:active {
            color: $orange2;
          }
        }
      }
    }

    .chevron-black {
      .nav-link[role="menuitem"]::before {
        color: black;
      }
    }

    .items-level-2 {
      margin-right: 1rem;

      .all-product-link-mobile {
        text-decoration: none;
        margin-left: 0.7rem;
        font-weight: bold;
        font-size: 1rem;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: normal;
        padding-top: 1.1875rem;
        padding-bottom: 0.4375rem;
      }

      .en-ce-moment-mobile {
        margin-left: 0.7rem;
        font-size: 20px;
      }

      .top-back-zone {
        border-bottom: solid $gray4 ;

        .nav-link[role="menuitem"]::before {
          float: left;
          margin-right: 2rem;
          color: $orange1 ;
        }
      }
    }

    .items-level-3 {
      font-size: 0.8rem;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;

      p {
        font-size: 0.9rem;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: normal;
      }
    }

    // Display - Transition
    &.collapsing, &.show {
      position: fixed;
      overflow-y: auto;
      top: 50px;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      > div {
        flex: 1;
      }
    }


    .nav-link[role="menuitem"]::before {
      float: right;
      font-family: icon-orange;
      font-size: $font-size-sm;
      font-weight: $font-weight-normal;
      color: $orange1;
      content: "\e93e";
      border: none;
    }

    .welcome-text {
      font-weight: normal;
      font-size: 0.9rem;
      margin-left: 0.7rem;
      letter-spacing: normal;
      font-stretch: normal;
    }

    .join-text {
      font-weight: bold;
      font-size: 1rem;
      margin-left: 0.7rem;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
    }


    .top-navbar-mobile {
      background-color: $black;

      li {
        border: none;
      }

      .navbar-fr {
        font-size: 0.9rem;
      }

      .navbar-en {
        font-size: 0.9rem;
      }
    }

    .nav-menu-mobile {
      background-color: $white;
      padding-bottom: 2.8125rem;
    }

  }
}



