.padding-side-20{
    padding-right: 20px !important;
    padding-left: 20px !important;
}
#navbar-collapse-mega .glyphicon{
    position: relative;
    top: 20px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    font-size: 25px;
    margin-left: 20px;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.node-preview-container{
    background-color: lightgrey;
    padding-bottom: 0;
}
#node-preview-form-select{
    padding: 0;
}
.node-preview-container .form-preview{
    width: 100%;
}
.node-preview-container .form-preview .node-preview-backlink {
    display: inline-block;
    margin-top: 3px;
    vertical-align: top;
    text-decoration: underline;
}
.node-preview-container .form-preview .container{
    margin-left: 30px;
}
.node-preview-container .form-preview .form-item-view-mode{
    margin-top: 5px;
    margin-right: 5px;
}
.node-preview-container .form-preview .form-item-view-mode label,
.node-preview-container .form-preview #edit-view-mode{
    font-size: 1.4rem;
}
.node-preview-container .form-preview #edit-view-mode{
    width: auto;
    display: inline-block;
    height: 3rem;
    padding: 0;
}

article .field--type-text-long ul,
article .content .field--type-text-long ul,
article.product .node-axiome-know-more ul{
    list-style: none;
    padding-left: 2rem;
    margin-bottom: 0px !important;
    padding-bottom: 1rem;
}
article.product .node-axiome-know-more ul{
    padding-left: 0;
}
article .field--type-text-long ul li,
article .content .field--type-text-long ul li,
article.product .node-axiome-know-more ul li{
    position: relative;
    font-size: 1.6rem;
}
article .field--type-text-long ul li:before,
article .content .field--type-text-long ul li:before{
    content: "■";
    color: #FF7900;
    position: absolute;
    left: -20px;
}

.view-subhomes .display-subhomes{
    background-color: #eee;
    margin-right: 2rem;
    height: 30rem;
    max-height: 30rem;
    margin-bottom: 2rem;
}
.display-subhomes .encart{
    background: white;
    padding: 2rem;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    max-height: 12.5rem;
    height: 12.5rem;
    display: flex;
}
.display-subhomes .txt{
    margin-top: 1.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

.display-subhomes .encart-image{
    padding:0;
    text-align: center;
    display: block;
    overflow: hidden;
}
.view-display-id-page_partners .display-subhomes .encart-image,
.view-display-id-page_customer .display-subhomes .encart-image{
    display: flex;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.display-subhomes .encart-image img{
    width: 100%;
}

.view-display-id-page_partners img,
.view-display-id-page_customer img{
    max-width: 10rem;
}

.view-display-id-page_document img{
    width: auto !important;
}

.display-subhomes .bigKey{
    font-size: 7rem;
    font-weight: bold;
    margin: auto;
    line-height: 4rem;
}
.display-subhomes .lowKey{
    font-weight: inherit;
    font-size: 3rem;
    line-height: 3rem;
    margin: auto;
}
.display-subhomes .txt span{
    font-size: 1.2rem;

}

.display-subhomes .txt div{
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 3rem;
    line-height: 1.5rem;
}

.view-display-id-page_document .txt div{
    margin-top: 1rem;
}

.link-subhomes > .display-subhomes .border{
    border-top: 3px solid #ededed;
}

.link-subhomes:hover > .display-subhomes{
    background-color: #F16e00;
    color: #fff;
}
.link-subhomes:hover > .display-subhomes > .encart{
    background-color: #F16e00;
    color: #fff;
    border-color: #F16e00;
    /*border-bottom: 3px solid #fff;*/
}
.link-subhomes:hover > .display-subhomes .border{
    border-top: 1px solid #fff;

}


a.link-subhomes:hover .encart-image.subhome-image {
    background-color: white;
}

.view-display-id-page_partners .display-subhomes .encart-image img,
.view-display-id-page_customer .display-subhomes .encart-image img{
    margin: auto;
}

.date-subhome {
    color: grey;
}

.content a {
    text-decoration: underline;
}

.content a:hover {
    color: #F16e00;
}
.content a.btn {
    text-decoration: none !important;
}
.margin-right-5{
    margin-right: 5px;
}
.environnement-info{
    padding: 3px 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 100;
}

.atlwdg-trigger.atlwdg-SUBTLE {
    z-index: 200;
}

.view-subhomes .form-group{
    margin-bottom: 40px;
}
.view-subhomes .subhomes-filterbar select{
    margin-right: 20px;
}

.view-subhomes ul.pager{
    text-align: right;
    margin-right: 20px;
}

.view-subhomes .pager__item .button{
    background-color: #000;
    color: #fff;
    margin-bottom: 20px;
}
.view-subhomes .pager__item .button:hover{
    background-color: #fff;
    color: #000;
    border-color: #000;
}

.view-subhomes .pager__item .button:active{
    background-color: #F16E00;
    color: #FFFFFF;
    border-color: #F16E00;
}
.view-subhomes .pager__item .button:disabled{
    background-color: #CCCCCC;
    color: #FFFFFF;
    border-color: #CCCCCC;
}

.view-subhomes .views-row .views-col {
    padding: 0;
}

.block-card-container{
    margin: auto;
    max-width: 1180px;
    margin-top: -70px;
}

@media (min-width: 1200px) {
    .block-card-container {
        display: flex;
    }
}

@media (max-width: 1200px) {
    .block-card{
        margin-bottom: 20px;
    }
}

.block-card{
    max-width: 380px;
    margin-left: 10px !important;
    margin-right: 10px !important;
    padding: 0 !important;

}

.block-card a {
    padding-bottom: 20px !important;
    display: block;
    overflow: hidden;
}

.block-card .news-title{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 2.4rem;
    padding-right: 10px;
    padding-left: 10px;
}

.page-node-type-homepage section.left-column > .region,
.page-node-type-homepage aside.right-column > .region{
    background: none;
    padding-left: 0px;
    padding-right: 0px;
}
.page-node-type-homepage .region .page-header{
    display: none;
}
.top-banner,
.corporate-banner,
.solution-banner{
    height: 450px;
}

.banner-bg{
    background-repeat: no-repeat !important;
    background-position: top center !important;
}

.section-title-top-zone .title{
    font-size: 5rem;
    line-height: 5rem;
    font-weight: bold;
    margin-top: 40px;
}
.section-title-top-zone .subhead-title{
    font-size: 2.4rem;
    line-height: 2.4rem;
    font-weight: bold;
    margin-top: 50px;
}
.solution-banner .title,
.solution-banner .highlight-solution{
    color: white;
}
.carousel-solution .left-zone .row:after,
.carousel-solution .left-zone .row:before,
.carousel-solution .right-zone .row:after,
.carousel-solution .right-zone .row:before,
.carousel-solution .slick-track:after,
.carousel-solution .slick-track:before
{
    display:none;
}

.navigation_arrow_homepage{
    width: 20px;
    height: 20px;
    float: left;
    background: black;
    color: white;
    font-weight: bold;
    font-size: 1.45rem;
    line-height: 2rem;
    text-align: center;
    cursor: pointer;
}

.navigation_arrow_homepage.next_arrow {
    margin-left: 5px;
}

@media (min-width: 768px) and (max-width:980px ) {
    .title-solution-banner .col-md-3.slider-nav {
        padding-right: 0px !important;
        padding-left: 0px! important;
    }
}



.section-title-corporate {
    margin-left: -10px;
}

.section-title-corporate .title,
.section-title-solution .title{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 3rem;
}
.menu-right .menu-title{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 2rem;
}
.section-title-solution .highlight-solution, .section-title-corporate .highlight-corporate{
    font-size: 2rem;
    font-weight: bold;
}
.solution-homepage {
    margin-top: 85px;
}
.solution-homepage .carousel-solution{
    margin-top: -180px;
}
.section-title-top-zone,
.section-title-solution{
    max-width: 1080px;
    margin: auto;
    margin-top: 45px;
    color: #fff;
}

.section-title-solution {
    padding-left: 20px;
}

.section-solution{
    display: inline-block;
}
.solution-homepage .carousel-solution .table{
    background: none;
    border-collapse: separate;
    border-spacing: 10px;
    table-layout: fixed;
    width: 100%;
}
.homepage-banner-container {
    padding: 0 20px;
}
@media (max-width:786px ) {
    .homepage-banner-container {
        padding: 0;
    }

    .block-infography {
        padding-bottom: 2rem;
    }

    .homepage-banner.partner-banner .tabpanel-partner .views-element-container {
        overflow: hidden;
    }
    .homepage-banner.partner-banner .tabpanel-partner .views-element-container .view-homepage-partner {
        overflow-x: scroll;
    }
    .homepage-banner.partner-banner .tabpanel-partner .views-element-container .view-homepage-partner .views-view-grid horizontal {
        width: 1000px;

    }
}

.corporate-infography-banner .infography .description {
    font-weight: bold;
}

.solution-homepage .carousel-solution td.left-zone,
.solution-homepage .carousel-solution td.right-zone{
    padding: 50px 45px;
    background-color: white;
}

.left-zone,
.right-zone{
    background-color: white;
}

.slider-nav{
    margin-top: 7px;
}

/*.solution-homepage .carousel-solution .left-zone{*/
    /*margin-right: 10px;*/
/*}*/
/*.solution-homepage .carousel-solution .right-zone{*/
    /*margin-left: 10px;*/
/*}*/
/*.solution-homepage .carousel-solution .left-zone .row,*/
/*.solution-homepage .carousel-solution .right-zone .row{*/
    /*background-color: white;*/
    /*margin-left: 0px;*/
/*}*/
.title-solution-banner .title{
    font-size: 2.5rem;
    font-weight: bold;
}

.carousel-solution .content {
    border-top: 1px solid #ccc;
    padding-top: 20px !important;
    margin-top: 10px;
}
.carousel-solution .content .title-content{
    font-size: 2rem;
    font-weight: bold;
}
.carousel-solution .content .text-content{
    font-size: 1.6rem;
    margin-bottom: 2rem;
    font-family: HelvNeueOrange, Arial, sans-serif;
    font-weight: 700;
    line-height: 2rem;
}
.homepage-banner{
    background-color: white;
    padding: 60px 45px;
    margin-top: 20px;
}
.homepage-banner .title{
    padding-bottom: 30px;
    padding-left: 40px;
    font-size: 3rem;
    font-weight: bold;
}

#tab-expertise-banner li {
    background-color: #eee;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

#tab-expertise-banner li a{
    color: #999;
    text-align: center;
    padding: 3rem;
    border: none;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.8rem;
    display: block;
    height: 100%;
    width: 100%;
}
#tab-expertise-banner li a:hover {
    background-color: #eee;
}


.corporate-infography-banner{
    margin-top: -40px;
    background: #fff;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
    margin-left: -10px;
}
.corporate-infography-banner{
    margin-bottom: 5.5rem;
}

#tab-expertise-banner li a span.icon-expertise{
    font-size: 3rem;
    vertical-align: text-top;
}

#tab-expertise-banner li.active {
    color: #F16E00;
    background-color: #fff;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #fff;
}

#tab-expertise-banner li.active a:hover {
    background-color: #fff;
}

#tab-expertise-banner div.tab-title {
    text-align: left;
}

.paragraph--type--homepage-banner-experience{
    padding-top: 30px;
    padding-bottom: 30px;
}

.tabpanel-expertise{
    margin-left: 40px !important;
    margin-right: 40px !important;
}
.tabpanel-expertise .tab-content{
    padding: 0em;
    border: none;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.field--name-field-content-title{
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.paragraph--type--homepage-banner-experience {
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 30px;
    padding-right: 30px;
    display: table;
}
.homepage-banner-expertise-image{
    width: 345px;
    overflow: hidden;
    display: table-cell;
    vertical-align: top;
}
.homepage-banner-expertise-content{
    padding-left: 20px;
    display: table-cell;
}
.btn-homepage {
    margin-right: 4rem !important;
}
.btn-homepage a{
    color: #fff !important;
}
.btn-homepage:hover{
    background-color: #fff;
    color: #f16e00 !important;
}
.partner-banner .views-view-grid .views-row{
    display: table;
    border-spacing:10px;
    margin-right: 10px;

}
.partner-banner .views-view-grid .views-col{
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #595959;
    display: table-cell;
    vertical-align: middle;
    float: none;
}
.partner-banner .views-view-grid .views-col:hover{
    border: 1px solid #F16E00;
}

.partner-banner .views-view-grid .views-col .field--item{
    padding: 20px;
    text-align: center;
}
.partner-banner .views-view-grid .views-col .field--item img{
    width: 100px;
    height: auto;
}

.section-corporate{
    max-width: 1080px;
    margin: auto;
    padding-left: -10px;
    color: #fff;
}
.section-corporate .title{
    margin-top: 45px;
}

.menu-right{
    background: white;
    margin: 0;
    padding: 40px;
    color: #000;
    font-weight: bold;
    width: 25%;
    float: right;
}

.menu-right ul.menu {
    font-weight: bold;
    width: 100%;
}
.menu-right ul.menu li i.link_icon{
    font-family: "icon-orange" !important;
    color: black;
    font-size: 1rem;
    font-style: normal;
    float: right;
}
.menu-right ul.menu li i.link_icon:before {
    content: "\e93e";
}

.menu-right ul.menu li{
    float: none;
    padding: 10px 0px 5px 0px !important;
    border-bottom: 1px #ccc solid;
}
.menu-right ul.menu .link_icon_items a:focus,
.menu-right ul.menu .link_icon_items a:hover{
    background: none !important;
}
.menu-right ul.menu .link_icon_items a{
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 95%;
}

.corporate-banner{
    margin-top:85px;
    background: #FFF;
}
.infography{
    background-repeat: no-repeat !important;
    background-size: contain !important;
    height: 70px;
}
.infography .key_figure{
    color: #F16E00;
    font-size: 3rem;
    line-height: 3.0rem;
    font-weight: bold;
    padding-top: 30px;
}
.infography .description{
    color: #000;
    font-size: 1.4rem;
}
.slick-dots li{
    margin: 0;
}
.slick-dots li.slick-active button:before{
    color: #F16E00 !important;
    opacity: 1;
}
.slick-dots li button:before{
    color: #000 !important;
    opacity: 1;
}
.nav-tabs-dropdown {
    display: none !important;
    width: 100%;
    text-align: left;
}




@media screen and (min-width: 768px) {
    #tab-expertise-banner {
       display: block!important;
    }
}
@media (max-width: 767px) {
    .o-footer-bottom > ul > li :not(.hidden-xs):not(.hidden-sm) {
        display: block !important;
    }
    .o-footer-bottom ul li {
        margin-right: 0px !important;
    }

    footer .navbar-nav {
        margin: auto;
    }
    footer .navbar-nav > li > a {
        padding-left: 1rem !important;
    }

    .sandwich-button {
         margin-top: 0 !important;
     }

    .menu-loupe-xs {
        display: inline-block;
        margin-right: 2rem;
    }

    .menu-loupe-xs .glyphicon {
        font-size: 3rem;
        margin-top: 22px;   //Pour bloquer le margin 22px de glyphicon
    }

    .footer-div-border {
        border-top:1px solid #999999;
        margin-top:10px
    }

    .footer-div-border > p {
        margin-top: 1rem;
    }

    .menu-xs {
        padding: 1rem;
        margin-right: 0px !important;
    }

    .paragraph--type--homepage-banner-experience {
        display: block;
    }
    .homepage-banner-expertise-image img{ width: 100%;  height : auto;}
    .homepage-banner-expertise-content{
        padding-left: 0px;
    }
    .homepage-banner-expertise-image{
        width: 100%;
        display: block;
    }

    .section-title-top-zone,
    .section-title-solution{
        max-width: none;
        margin: 0;
        margin-top: 45px;
    }
    .banner-bg{
        background-position: top right !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .block-card{
        margin-bottom: 20px;
    }
    .block-card img{
        width: 100%;
    }
    .news-chapo{
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    .block-card .news-title {
        padding-left: 20px;
    }
    .solution-homepage .carousel-solution .left-zone, .solution-homepage .carousel-solution .right-zone {
        padding: 25px 25px;
    }
    .solution-homepage .carousel-solution .left-zone{
        margin-right: 0px;
    }
    .solution-homepage .carousel-solution .right-zone{
        margin-left: 0px;
        margin-top: 20px;
    }
    .section-solution,
    .carousel-solution{
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    .nav-tabs-dropdown {
        display: block !important;
        height: 40px;
    }
    #tab-expertise-banner {
        display: none;
        text-align: center;
        border-bottom: 1px solid rgb(204, 204, 204);
    }
    .homepage-banner{
        padding: 40px 45px;
    }
    .homepage-banner .title{
        padding-left: 25px;
        padding-right: 25px;
        font-size: 2.5rem;
    }
    .tabpanel-expertise {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    #tab-expertise-banner li a span.icon-expertise{
        display: none;
    }
    #tab-expertise-banner li a,
    #tab-expertise-banner li.active a{
        border: none;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        text-align: left;
        padding: 10px;
        background-color: #FFF;
    }
    .tabpanel-expertise .nav-tabs>li+li,
    .tabpanel-expertise .nav-tabs.nav-justified>li>a{
        margin: 0;
    }
    .tabpanel-expertise .tab-content{
        border: none;
    }

    .section-corporate .menu-right{
        width: 100%;
    }
    .solution-homepage,
    .infography-banner{
        margin-top: 20px;
    }
    .corporate-banner {
        margin-top: 20px;
        height: auto!important;
        min-height: 450px !important;
    }
    .menu-right .navbar-nav{
        margin: 0 !important;
    }
    .menu-right{
        padding-left: 25px !important;
        padding-right: 25px !important;
        margin-top: -25px;
    }
    .infography-container{
        padding: 0px 25px;
    }
    .corporate-infography-banner {
        margin-top: 0px;
        padding-top: 40px;
        padding-bottom: 40px;
        margin-bottom: 85px;
    }
    .infography{
        height: auto;
        background-repeat: no-repeat !important;
        background-size: 70px !important;
    }
    .block-infography .key_figure,
    .block-infography .description{
        padding-left: 15px;
    }

    .partner-banner .views-view-grid .views-row {
        margin-left: -20px;
    }
}

.rebond article, .block-mediatheque, #block-promoactublock {
    margin: 2rem 2rem 0 2rem;
    padding: 3rem 2rem;
}

.rebond .form-group {
    margin-bottom: 0;
}

@media (max-width: 767px) {
    .rebond article, .block-mediatheque {
        padding: 3rem 1rem;
    }

    .display-subhomes .txt span{
        font-size: 1.6rem;
    }


}

@media (max-width: 480px) {
    .view-subhomes .views-exposed-form .form-submit {
        margin-top: 2rem;
    }
}

.rebond-document article{
    border: 1px solid #000000;
}

.rebond-page-site-1 article{
    background-color: #4BB4E6;
}

.rebond-page-site-2 article{
    background-color: #FFD200;
}

.rebond-product article {
    background-color: #000000;
    color: #FFFFFF;
}

.rebond h4 {
    line-height: 2rem;
}

.rebond-page-site-1 h4, .rebond-page-site-2 h4 {
    margin-top: 0;
}

.rebond-block-title h2 {
    font-size: 3rem;
    margin-top: 0;
    margin-left: 1.5rem;
    margin-bottom: 0;
    display: inline-block;
    color: inherit;
}

.rebond-block-title .glyphicon {
    font-size: 5rem;
    color: #FF7900;
}

.rebond-doc-title {
    font-size: 1.6rem;
    font-weight: bold;
}

.rebond-product .rebond-block-title h2 {
    margin-left: 0;
}

.rebond-link, .block-link , .homepage-solution-button {
    border: 2px solid #000000;
    padding-right: 3rem;
    padding-left: 3rem;
    line-height: 4rem;
    display: inline-block;
    font-weight: bold;
    font-size: 1.6rem;
    margin-top: 4px;
}

.rebond-link:hover {
    color: #FFFFFF;
    background-color: #000000;
}


.rebond-link:active {
    color: #FFFFFF;
    background-color: #F16E00;
    border-color:#F16E00 ;
}

.rebond-link.rebond-doc-inactif, .rebond-link.rebond-doc-inactif:hover,
.rebond-link.rebond-doc-inactif:active {
    color: #CCCCCC;
    border-color: #CCCCCC;
}


.rebond-product .rebond-link {
    color: #FFFFFF;
    border-color: #F16E00;
    background-color: #F16E00;
}
.rebond-product .rebond-link:hover {
    color: #000000;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}
.rebond-product .rebond-link:active {
    color: #FFFFFF;
    background-color: #000000;
    border-color: #FFFFFF;
}


.homepage-solution-button-color {
    color: #FFFFFF;
    border-color: #F16E00;
    background-color: #F16E00;
    text-decoration: none;
}

.homepage-solution-button-color:hover {
    color: #FFFFFF !important;
    border-color: #000000;
    background-color: #000000;
    text-decoration: none;
}

.homepage-solution-button-color:active {
    color: #000000;
    border-color: #000000;
    background-color: #ffffff;
    text-decoration: none;
}

.btn-homepage-partners {
    color: #FFFFFF;
    background-color: #000000;
    border-color: #000000;
}

.btn-homepage-partners:hover {
    color: #000000 !important;
    background-color: #FFFFFF;
    border-color: #000000;
}

.btn-homepage-partners:active {
    color: #FFFFFF !important;
    background-color: #F16E00;
    border-color: #F16E00;
}



.rebond-product .rebond-product-text {
    margin-top: 2rem;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 2rem;
}

.rebond-product-text p {
    margin: 0;
}

.rebond-product-link {
    margin-top: 2rem;
}

.rebond-product-link a {
    margin: 0;
}

.div-profile-teaser-name {
    line-height: 2rem;

}


.webform-button--submit, .webform-button--draft {
    margin-top: 1rem;
}

.webform-confirmation {
    padding: 1rem;
}

.div-display-table {
    display: table;

}

.div-display-table-cell {
    display: table-cell;
    vertical-align: top;
    padding-left: 10px;
}

.webform-button--submit, .webform-button--draft {
    margin-top: 1rem;
}
.webform-confirmation {
    padding: 1rem;
}
.page-node-type-solution .titre1,
.page-node-type-industry .titre1,
.page-node-type-country .titre1,
.page-node-type-region .titre1 {
    padding-top: 6rem;
    margin-top: 0;
}

#arrow-back-to-filter {

    background-color:  #000000;
    position: fixed;

    /* Gestion de la position fixed pour Chrome... */
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);


    right: 0;
    bottom: 25%;
    z-index: 1000;
    height: 6rem;
    width: 6rem;
}

#arrow-back-to-filter a {
    text-align: center;
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 1.5rem;
    margin: auto;
}

#arrow-back-to-filter a .glyphicon {
    color: #FFFFFF;
    font-size: 3rem;
    text-align: center;
    position: relative;
    top: 0px;
    left: 1px;
}

.block-mediatheque {
   background-color: #DDDDDD;
}

.block-mediatheque p {
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 2rem;
    color: #000000;
}

.block-mediatheque .block-title {
    margin-top: 0;
    margin-bottom: 2rem;
}

.block-mediatheque .block-title img {
    vertical-align: bottom;
    height: 5rem;
    margin-right: .5rem;
}

.block-mediatheque .rebond-link {
    margin-top: 10px;
}

.block-mediatheque .rebond-link {
    margin-top: 10px;
}

.homepage-title-white {
    color: white;
}

.homepage-title-black {
    color: black;
}

.path-webform .region-content form .container{
    padding-bottom: 1rem;
}

.path-webform .region-content form #edit-actions{
    padding: 1rem 0;
}

#block-localnav #local_nav{
    z-index: 1;
}

.rebond-product-link-create {
    margin-top: 2rem;
}

.rebond-product-link-create a {
    color: white;
    text-decoration: underline;
    font-size: 1.4rem;
}

.rebond-product-link-create a:hover,
.rebond-product-link-create a:active {
    text-decoration: underline;
}
