#navbar-collapse-mega .glyphicon{
    position: relative;
    top: 20px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    font-size: 25px;
    margin-left: 20px;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.node-preview-container{
    background-color: lightgrey;
    padding-bottom: 0;
}
#node-preview-form-select{
    padding: 0;
}
.node-preview-container .form-preview{
    width: 100%;
}
.node-preview-container .form-preview .node-preview-backlink {
    display: inline-block;
    margin-top: 3px;
    vertical-align: top;
    text-decoration: underline;
}
.node-preview-container .form-preview .container{
    margin-left: 30px;
}
.node-preview-container .form-preview .form-item-view-mode{
    margin-top: 5px;
    margin-right: 5px;
}
.node-preview-container .form-preview .form-item-view-mode label,
.node-preview-container .form-preview #edit-view-mode{
    font-size: 1.4rem;
}
.node-preview-container .form-preview #edit-view-mode{
    width: auto;
    display: inline-block;
    height: 3rem;
    padding: 0;
}

article .content .field--type-text-long ul{
    list-style: none;
    padding-left: 2rem;
    margin-bottom: 0px !important;
}
article .content .field--type-text-long ul li{
    position: relative;
}
article .content .field--type-text-long ul li:before{
    content: "■";
    color: #FF7900;
    position: absolute;
    left: -20px;
}

.view-subhomes .display-subhomes{
    background-color: #eee;
    margin-right: 2rem;
    height: 30rem;
    max-height: 30rem;
    margin-bottom: 2rem;
}
.display-subhomes .encart{
    background: white;
    padding: 2rem;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    max-height: 12.5rem;
    height: 12.5rem;
    display: flex;
}
.display-subhomes .txt{
    margin-top: 1.5rem;
}

.display-subhomes .encart-image{
    padding:0;
}

.display-subhomes .encart-image img{
    max-height: 12.5rem;
    width: 100%;
}
.display-subhomes .bigKey{
    font-size: 7rem;
    font-weight: bold;
    margin: auto;
    line-height: 4rem;
}
.display-subhomes .lowKey{
    font-weight: inherit;
    font-size: 3rem;
    line-height: 3rem;
    margin: auto;
}
.display-subhomes .txt span{
    font-size: 1.2rem;
}
.display-subhomes .txt div{
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.link-subhomes > .display-subhomes > .border{
    border-top: 3px solid #ededed;
}
.link-subhomes:hover > .display-subhomes{
    background-color: #F16e00;
    color: #fff;
}
.link-subhomes:hover > .display-subhomes > .encart{
    background-color: #F16e00;
    color: #fff;
    border-color: #F16e00;
    /*border-bottom: 3px solid #fff;*/
}
.link-subhomes:hover > .display-subhomes > .border{
    border-top: 3px solid #fff;
}

.date-subhome {
    color: grey;
}

.content a {
    text-decoration: underline !important;
}
.content a:hover {
    color: #F16e00;
}

.margin-right-5{
    margin-right: 5px;
}
.environnement-info{
    padding: 3px 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 100;
}

.atlwdg-trigger.atlwdg-SUBTLE {
    z-index: 200;
}

.view-subhomes .form-group{
    margin-bottom: 40px;
}
.view-subhomes .subhomes-filterbar select{
    margin-right: 20px;
}
.view-subhomes .pager__item .button{
    background-color: #000;
    color: #fff;
    margin-bottom: 20px;
}
.view-subhomes .pager__item .button:hover,
.view-subhomes .pager__item .button:active{
    background-color: #fff;
    color: #000;
    border-color: #000;
}