#navbar-collapse-mega .glyphicon{
    position: relative;
    top: 20px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    font-size: 25px;
    margin-left: 20px;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.node-preview-container{
    background-color: lightgrey;
    padding-bottom: 0;
}
#node-preview-form-select{
    padding: 0;
}
.node-preview-container .form-preview{
    width: 100%;
}
.node-preview-container .form-preview .node-preview-backlink {
    display: inline-block;
    margin-top: 3px;
    vertical-align: top;
    text-decoration: underline;
}
.node-preview-container .form-preview .container{
    margin-left: 30px;
}
.node-preview-container .form-preview .form-item-view-mode{
    margin-top: 5px;
    margin-right: 5px;
}
.node-preview-container .form-preview .form-item-view-mode label,
.node-preview-container .form-preview #edit-view-mode{
    font-size: 1.4rem;
}
.node-preview-container .form-preview #edit-view-mode{
    width: auto;
    display: inline-block;
    height: 3rem;
    padding: 0;
}

article .content .field--type-text-long ul{
    list-style: none;
    padding-left: 2rem;
}
article .content .field--type-text-long ul li{
    position: relative;
}
article .content .field--type-text-long ul li:before{
    content: "■";
    color: #FF7900;
    position: absolute;
    left: -20px;
}