/**
 * Add spacing to bottom of pages
 */
.page-content {
  margin-bottom: 80px;
}

.form-item-field-rendering-model-markup{
    font-size: 1.5em;
}
.form-item-field-rendering-model-markup label{
    font-size: 0.65em;
}

#edit-field-content-field-wrapper .draggable td{
    padding-bottom: 25px;
    padding-top: 25px;
}

body.cke_editable.cke_editable_themed {
    vertical-align: top !important;
}