<div class="container-fluid">
	<div class="row obs_template two_columns_33_66">
		<div class="col-md-4 col-sm-12">
	  		<p>Put the text of the first column here</p>
		</div>
		<div class="col-md-8 col-sm-12">
	  		<p>Put the text of the second column here</p>
		</div>
  	</div>
</div>
<div></div>
