@import "../variables/*.scss";

.vertical-tabs__menu {
  &-link {
    &:hover {
      color: $orange;
    }
    &:focus::after {
      border: 3px solid $orange;
    }
  }

  &-item {
    .vertical-tabs__menu-link:hover {
      color: $orange;
    }

    &.is-selected {
      .vertical-tabs__menu-link {
        color: $orange;

        &:hover {
          color: $orange;
        }

        &::before {
          border-left-color: $orange;
          border-right-color: $orange;
        }
      }
    }
  }
}

.js .vertical-tabs .vertical-tabs__item {
  overflow: visible;
}
