
{% block paragraph %}
    {% block content %}
       <div class="home-carrousel-item" data-background="{{ paragraph.field_background[0].entity.id }}">
            {{  paragraph.field_home_accroche[0].value | raw}}
            {{ content.field_button }}
        </div>
{% endblock %}
{% endblock paragraph %}
