
<article class="paragraph_block_rebond">
    <div class="rebond-block-title">
        <h2>{{ content.field_title.0 }}</h2>
    </div>
    <div class="rebond-description">
        <p >
            {{ content.field_description.0 }}
        </p>
    </div>
    <a href="{{ content.field_link_button[0]['#url'] }}" target="_blank" class="rebond-link">
        {{ content.field_link_button[0]['#title'] }}
    </a>
</article>