{%
  set classes = [
  'field',
  'field--name-' ~ field_name|clean_class,
  'field--type-' ~ field_type|clean_class,
  'field--label-' ~ label_display,
]
%}

{% set have_video_class = "row no-gutters justify-content-between px-1 px-md-4" %}

<div class="bg-gray2 mx--1 mx-md-0 pt-5 pb-3 py-md-4">
  <img class="d-none d-md-block testimonial-right-img"
       src="/themes/theme_one_i/assets/image/Illustrations-temoignages-2.png"
       alt="illustration temoignage right"
  >

  <img class="d-block d-md-none testimonial-left-img"
       src="/themes/theme_one_i/assets/image/Illustrations-temoignagnes.png"
       alt="illustration temoignage left">

  <div class="row no-gutters overflow-auto testimonial-item-container slider-container">
    {% for key, item in items %}
      <div class="col-11 col-md-12 align-self-md-center"
           data-target="{{ key + 1 }}">
        <div class="{{ item.content["#paragraph"].field_video.value is not empty ? have_video_class : "" }}">
          {{ item.content }}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
