<div {{ attributes.addClass("accordion") }} id="faqAccordion">
  {% for item in items %}
    <div {{ item.attributes.addClass('card', 'multi', 'row', 'mx-0') }}>{{ item.content }}</div>
  {% endfor %}
</div>
