<div class="row partners-container slider-container pb-2 pr-0">
  {% for item in items %}
    <div {{ item.attributes.addClass('col-5', 'col-md-3', 'pr-0') }}>{{ item.content }}</div>
  {% endfor %}
</div>
