<div class="d-flex flex-column">
  {% for item in items %}

    {% set classes = loop.first ? "pb-2 pb-md-3" : loop.last ? "pt-2 pt-md-3" : "py-2 py-md-3" %}

    <div class="list-item {{ classes }}">
      <div class="h4 d-flex py-0 mb-0">
          <div class="text-gray3 mr-1 mr-md-2"> {{ "%02d"|format(loop.index) }} </div>
          <div> {{ item.content['#paragraph'].field_title.value }} </div>
      </div>
      {% if item.content['#paragraph'].field_highlight.value is not empty %}
        <p class="lead py-0 mt-1 mb-0">{{ item.content['#paragraph'].field_highlight.value }}</p>
      {% endif %}
    </div>

    {% if not loop.last %} <hr class="separator separator--gray4 w-100"> {% endif %}

  {% endfor %}
</div>
