<div class="font-weight-bold mt-1">{{ label }}</div>
<div class="liste-offres my-1 pl-1 row">
  <ul class="list ob1-list-tick mb-0 col-12 col-md-6">
    {% for item in items %}
      {% if loop.index0%2 == 0 %}
        <li>{{ item.content }}</li>
      {% endif %}
    {% endfor %}
  </ul>
  <ul class="list ob1-list-tick pl-0 pl-md-1 mb-0 col-12 col-md-6">
    {% for item in items %}
      {% if loop.index0%2 != 0 %}
      <li>{{ item.content }}</li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
