{%
  set classes = [
  'field',
  'field--name-' ~ field_name|clean_class,
  'field--type-' ~ field_type|clean_class,
  'field--label-' ~ label_display,
]
%}
<div {{ attributes.addClass(classes) }}>
  <ul class="list ob1-list-tick">
  {% for item in items[:3] %}
      <li class="ml-0">
        {{ item.content }}
      </li>
  {% endfor %}
  </ul>

</div>
