{% if 1 == items|length %}
  {% for item in items %}
    <div class="field-items-modules">{{ item.content }}</div>
  {% endfor %}
{% else %}
  <div class="field-items-modules slider-container row">
    {% for item in items %}
        <div class="item-detail-offre col-12 col-md-4 {% if items|length > 3 %} col-3-5 {% endif %}mb-1 mb-md-0">{{ item.content }}</div>
    {% endfor %}
  </div>
{% endif %}

