.double-color {
  display: flex;
  flex-direction: column;

  &:not(.bg-gray2) {
    margin-top: 1.875rem;
  }

  @include media-breakpoint-up('md') {
    flex-direction: initial;

    &:not(.bg-gray2) {
      margin-top: 4rem;
    }
  }

  @mixin panel {
    display: flex;
    width: 100%;
    @include media-breakpoint-up('md') {
      width: 50%;
    }
    & > div {
      // Half site-width
      max-width: 720px;
      margin: 0 auto;
    }
  }

  .left-panel {
    @include panel;
    & > div {
      margin-right: 0;
      width: 100%;
    }
  }

  .right-panel {
    @include panel;
    & > div {
      margin-left: 0;
      width: 100%;
    }
  }

  &.light-double-color {
    .left-panel {
      background-color: $greige;
    }
  }

  &.dark-double-color {
    .left-panel {
      background-color: $gray3;
    }
    .right-panel {
      background-color: $black;
    }

    div, p, span {
      color: $white;
    }
    a {
      @extend .o-link-reverse
    }
  }
}
