.sticky-top {
  z-index: 1000;

  &.page-menu-modular-product, .page-menu-category-block {
    z-index: 1010;
  }

  @include media-breakpoint-down(md){
    position: initial;

    &.page-menu-modular-product,  .page-menu-category-block {
      position: sticky;
    }
  }
}

/**
 * Do something on hover on an element. 
 *
 * @code 
 * .myclass {
 *   @include hover {
 *     background: nicecolor;
 *   }
 * }
 *
 * @endcode
 */
@mixin hover {
  &:hover,
  &:focus {
    @content;
  }
}

/**
 * Do something on hover on an element. 
 *
 * @see node--domain--teaser.html.twig
 * @endcode
 */
@mixin fullclick($element: 'a', $wrapper: '') {
  position: relative;

  & > #{$wrapper} #{$element}:first-of-type:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
}