<div class="module_key_figures_2 col col-md-12 bg nopadding">
    <div class="col-md-6 bg bg_blue">
        <div class="key_figure_small"><span class="black">71%</span></div>
        <div class="titre3"><span class="black">C'est la quantité de conférences où au moins un des participants s'est connecté depuis un terminal mobile</span></div>
        <div class="key_source"><span class="black">source : lorem ipsum tadadoum</span></div>
    </div>
    <div class="col-md-6 bg bg_darkergrey">
        <div class="key_figure_small">3,6x</div>
        <div class="titre3">connexions en plus sur un ordinateur</div>
        <div class="key_source">source : lorem ipsum tadadoum</div>
    </div>
</div>
