<div class="module_key_figures_3 col col-md-12 bg bg_orange nopadding">
    <div class="col-md-4 bg">
        <div class="key_figure_big"><span class="black">201</span></div>
        <div class="titre3"><span class="black">millions de clients</span></div>
    </div>
    <div class="col-md-4 bg">
        <div class="key_figure_big"><span class="black">18,1</span></div>
        <div class="titre3"><span class="black">millions de clients dans le monde</span></div>
    </div>
    <div class="col-md-4 bg">
        <div class="key_figure_big"><span class="black">18</span></div>
        <div class="titre3"><span class="black">millions de clients 4G en Europe</span></div>
    </div>
</div>
