<table class="table o-responsive-table">
    <caption>Responsive Table</caption>
    <thead class="cf">
    <tr>
        <th scope="col" class="header">header1</th>
        <th scope="col" class="header">header2</th>
        <th scope="col" class="header">header3</th>
        <th scope="col" class="header">header4</th>
        <th scope="col" class="header">header5</th>
        <th scope="col" class="header">header6</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope='row'>row1</th>
        <td>table cell data</td>
        <td>table cell data</td>
        <td>table cell data</td>
        <td>table cell data</td>
        <td>table cell data</td>
    </tr>
    <tr>
        <th scope='row'>row2</th>
        <td>table cell data</td>
        <td>table cell data</td>
        <td>table cell data</td>
        <td>table cell data</td>
        <td>table cell data</td>
    </tr>
    <tr>
        <th scope='row'>row3</th>
        <td>table cell data</td>
        <td>table cell data</td>
        <td>table cell data</td>
        <td>table cell data</td>
        <td>table cell data</td>
    </tr>
    <tr>
        <th scope='row'>row4</th>
        <td>table cell data</td>
        <td>table cell data</td>
        <td>table cell data</td>
        <td>table cell data</td>
        <td>table cell data</td>
    </tr>
    </tbody>
</table>