#navtop {
  background: black;
}
#top_navbar {
  padding: 0;
}
#top-navbar-collapse {
  padding: 0;
}
#top-navbar-collapse a {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0;
}
#top-navbar-collapse a:hover {
  color: rgb(255, 121, 0);
}
#navtop .navbar-nav {
  margin: 0;
}

#main_nav .navbar-right {
  margin-left: 0 !important;
  margin-top: 15px;
  padding-bottom: 15px;
}

#navtop .navbar-right .navbar-nav > li > a {
  padding-left: 2rem;
  padding-right: 0;
}

.navbar-header {
  padding-left: 0;
  padding-bottom: 20px;
  margin: 0 !important;
}

#main_nav .logo img {
  transition: all .1s ease-in-out;
  width: 140px;
}

.icon-share {
  font-family: 'icon-orange' !important;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-size: 2.8rem;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  margin-left: 0;
  margin-top: 10px;
  padding: 16px 0 0 16px;
  speak: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-email {
  font-family: 'icon-orange' !important;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-size: 2.6rem !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  margin-top: 30px;
  margin-left: 20px;
  speak: none;
  /*   Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-control_centre:hover,
.icon-email:hover,
#navbar-collapse-mega .glyphicon:hover,
.icon-share:hover {
  color: rgb(255, 121, 0);
  cursor: pointer;
}
#navbar-collapse-mega .glyphicon {
  position: relative;
  top: 20px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-size: 2.6rem;
  /*margin-left: 20px;*/
  margin-right: 40px;
  margin-top: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#navbar-collapse-mega .glyphicon,
.icon-share {
  margin-right: 0px;
  margin-left: 30px;
  margin-top: 3px;
}

.navbar #navbar-collapse-mega {
  padding-top: 5px;
}

.navbar-fixed #navbar-collapse-mega {
  padding-top: 0px;
}

.navbar {
  margin-bottom: 0;
  min-height: inherit;
}

.subnav {
  margin: 0;
  top: 0px;
  /*z-index: 1020;*/
  border-bottom: 1px solid #e1e1e1;
  padding: 25px 0 0;
  border-color: black;
  border-top: 1px solid grey;
}


.subnav.navbar-fixed {

  border-color: black;
  padding: 20px 0 0;
}
header#navbar{
  transition: opacity 0.15s linear;
  opacity: 1;
  z-index: 3000;
  position: sticky;
}
header#navbar > div {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 400;
}

header#navbar.top-band-hidden{
  opacity: 0;
}

#main_nav.navbar-fixed .navbar-right {
  transition: all .1s ease-in-out;
  margin-top: 10px;
}

#main_nav.navbar-fixed .nav > li > a {
  transition: all .1s ease-in-out;
  padding-top: -9px;
}

#block-topnavbarmenu .navbar-nav > li > a {
  font-size: 1.4rem;
  font-weight: bold;
}

#block-topnavbarmenu .navbar-nav > li > a:hover,
#block-topnavbaren .navbar-nav > li > a:hover {
  color: rgb(255, 121, 0);
}

#block-topnavbaren,
.hub_menu_top_navbar {
  color: white;
  margin-top: 2rem !important;
  display: inline;
}

.menu .nav {
  color: white;
}

.menu-xs {
  margin: 0;
  padding: 5px 0 0;
}

.menu-xs .sandwich-button {
  margin-bottom: 0;
}

.mega-menu.navbar .nav > li > a:hover {
  color: #f16e00;
  border-bottom: 5px solid #f16e00;
  padding-bottom: 11px;
}

.mega-menu.navbar .nav > li[role="presentation"] > a:hover {
  color: #f16e00;
  border: none !important;
}

.mega-menu.navbar.navbar-fixed .nav > li > a:hover {
  color: #f16e00;
  border: none;
  border-bottom: 5px solid #f16e00;
  padding-bottom: 14px;
}

.mega-menu.navbar .nav > li > a:focus {
  color: white;
}

.mega-menu.navbar .nav > li > a {
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 28px;
  padding: 0;
  margin-right: 2rem;
}

.mega-menu.navbar.navbar-fixed .nav > li > a {
  margin-top: 20px;
}

.mega-menu.navbar .nav > li.open > a {
  color: white;
  border: none;
  border-bottom: 5px solid #f16e00 !important;
  padding-bottom: 11px;
}

.mega-menu.navbar.navbar-fixed .nav > li.open > a {
  color: white;
  border: none;
  border-bottom: 5px solid #f16e00 !important;
  padding-bottom: 14px;
}

#block-menuducomptedelutilisateur .navbar-nav > li > a {
  font-size: 1.125em;
  color: white;
}

.navbar-header .logo img {
  vertical-align: middle;
}
#main_nav .navbar-right a {
  color: white;
}

#block-socialshareblock,
#block-theme-oab-hub-socialshareblock {
  width: 100%;
  padding: 0;
  z-index: 1;
}
#block-theme-oab-hub-socialshareblock #social-share,
#block-socialshareblock #social-share {
  text-align: right;
}
#block-socialshareblock #social-share #sharebar,
#block-theme-oab-hub-socialshareblock #social-share #sharebar {
  padding-right: 10px;
}
#block-socialshareblock #social-share #counterlabel,
#block-theme-oab-hub-socialshareblock #social-share #counterlabel {
  display: none;
}

#block-socialshareblock #social-share #sharebar a.visited,
#block-theme-oab-hub-socialshareblock #social-share #sharebar a.visited {
  background-color: white;
  border-color: black;
}
#block-socialshareblock #social-share #sharebar a.visited *,
#block-theme-oab-hub-socialshareblock #social-share #sharebar a.visited * {
  fill: black;
}

#block-main-navigation-en,
#block-main-navigation-fr,
#block-main-navigation-ru {
  position: static;
}

.navbar-nav > .contextual-region {
  position: static;
}

.dropdown-menu {
  top: auto !important;
}

.mega_menu_soft_header {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 36px !important;
}

.mega_menu_soft_header h4 {
  margin-top: 0;
}

#items_megamenu.container {
  margin-right: auto;
}

#items_megamenu.container > .item_soft_col {
  padding-left: 0;
  padding-right: 0;

}

#items_megamenu {
  margin-right: 0;
}

#items_megamenu .sous-items li {
  padding-bottom: 15px;
}

#items_megamenu h2 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: bold;
  color: white;
  font-size: 2.4rem;
}

#items_megamenu .title_megamenu {
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 10px;
  font-weight: bold;
  color: #555;
  font-size: 1.9rem;
  letter-spacing: -.06rem;
}

#items_megamenu span {
  color: white;
  margin: 0;
  padding-bottom: 15px;
  display: block;
}

#items_megamenu .mega_menu_global_link {
  font-weight: bold;
  text-align: end;
  padding-right: 0;
}

#items_megamenu a {
  font-weight: normal;
  font-size: 1.6rem;
  color: black;
  padding-left: 0;
}

#items_megamenu a:hover {
  color: rgb(255, 121, 0);
  font-weight: bold;
}

#items_megamenu {
  color: white;
  padding-bottom: 30px;
}

.mega-menu .nav-item.dropdown .dropdown-menu {
  background-color: white;
  max-height: 432px;
  overflow: hidden;
}

#main_nav .container,
#top_navbar .container {
  padding-right: 0;
  padding-left: 0;
}

.navbar-nav > li > a,
.navbar-nav > li:first-child > a {
  padding-left: 0;
  padding-right: 2rem;
}

/*
    padding-left: 0;
    padding-right: 2rem;
    padding-bottom: 0;
    padding-top: 2.3rem;
 */


/* barre de navigation en langue EN */
.navbar-en,
.navbar_levels {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  z-index: 9999;
  position: absolute;
  background-color: #000;
}

.navbar-en > li > a,
.navbar-en > li:first-child > a,
.navbar_levels > li > a,
.navbar_levels > li:first-child > a {
  margin: 0px;
  padding-left: 2rem;
}

.navbar-en > li >a:focus {
  background-color: black;
}

.navbar-en > li,
.navbar_levels > li {
  float: none;
  margin-left: 10px;
}

/*guidelines p.63 pour la navigation principale */
.mega-menu .nav, .mega-menu .collapse {
  position: static;
  margin-left: 0px;
  padding: 0px;
}
.mega-menu .nav, .mega-menu .collaps .nav-menu {
  margin-left: 15px;
}

.mega-menu .navbar .nav > li {
  padding-right: 20px;
  margin-top: 5px
}

#block-searchblock {
  width: 100%;
  padding: 0;
  z-index: 1;
}

.navbar-nav > li > .dropdown-menu {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

#block-theme-oab-hub-righticonblock,
#block-righticonblock {
  margin-top: -22px;
}
.li_link {
  font-family: HelvNeueOrange, Helvetica, Arial, sans-serif;
}

.link_icon {
  font-size: 2.4rem;
  font-weight: bold;
  color: #fff;
}

.glyphicon-question-sign.link_icon {
  font-size: 2.1rem;
}

.link_icon_items a {
  display: inline-block !important;
  padding: 0 !important;
  bottom: 4px;
}

.link_icon_items {
  padding-left: 2rem;
  padding-top: 0.8rem;
}

.link_icon_items a {
  top: -6px;
}


.sticky-module {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  border-color: grey;
}

.csp-subnav.sticky-module {
  position: fixed;
  z-index: 120;
}

.navbar-btn {
  margin-top: 0;
}


.sandwich-button .close-env-info {
  display: none;
  font-size: 3.2rem;
  margin-top: -0.5rem;
  color: #f16e00;
  margin-right: 2px;
}
.sandwich-button.panel-chevron-open .close-env-info {
  display: block;
}
.sandwich-button .icon-bar {
  display: block;
}

.sandwich-button.panel-chevron-open .icon-bar {
  display: none;
}
.mega-menu.navbar .navbar-toggle:hover {
  background: none;
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 6px;
}

.navbar-toggle {
  padding: 2rem 0.9rem 1rem 1rem;
}

/*
@media (min-width: 1300px) {
    .region-header .container-fluid {
        margin-left: auto;
        margin-right: auto;
        padding-left: 264px;
        padding-right: 264px;
    }
    .mega-menu .dropdown-menu .row {
        padding: 20px 5px;
    }
}

@media (min-width: 1220px) {
    .region-header .container-fluid {
        margin-left: auto;
        margin-right: auto;
        padding-left: 218px;
        padding-right: 218px;
    }
    .mega-menu .dropdown-menu .row {
        padding: 20px 5px;
    }
}
@media (min-width: 1200px) {
    .region-header .container-fluid {
        margin-left: auto;
        margin-right: auto;
        padding-left: 114px;
        padding-right: 114px;
    }
    .mega-menu .dropdown-menu .row {
        padding: 20px 5px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (max-width: 767px) {

}
*/

@media (max-width: 767px) {
  a:focus {
    outline-style: none;
    outline: none;
  }

  a:active {
    outline: none;
  }

  .o-footer .navbar-nav > li > a {
    padding-right: 0;
  }

  .navbar-header {
    padding-left: 10px;
    padding-bottom: 20px;
  }

}


@media (max-width: 979px) {
  #items_megamenu {
    padding-left: 30px;
    padding-bottom: 0px;
  }

  .mega-menu .dropdown-menu .row {
    padding-bottom: 0;
    padding-top: 0;
  }

  #items_megamenu h3 {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .mega-menu ul.menu.nav.navbar-nav > li {
    border-top: 2px solid white;
    padding: 0.5rem 0;
  }

  .navbar-nav > li.active-trail > a {
    color: #f16e00 !important;
  }

  #items_megamenu > div h3 {
    border-bottom: 1px solid white;
  }

  #items_megamenu > div li {
    border-top: 1px solid white;
  }

  #items_megamenu > div li:first-child {
    border-top: none;
  }

  #items_megamenu > div li:last-child {
    border-bottom: 1px solid white;
  }

  #items_megamenu > div:last-child li:first-child {
    border-top: 1px solid white;
  }

  #items_megamenu > div:last-child li:last-child {
    border-bottom: none;
  }

  #items_megamenu > div:last-child h3 {
    border-bottom: none;
  }


  .mega-menu .nav, .mega-menu .collapse {
    margin-left: 0;
  }

  .mega-menu .navbar-collapse {
    padding-left: 0 !important;
  }

  .mega-menu.navbar .nav > li > a {
    font-size: 1.6rem;
    padding: 10px 10px;
  }

  .iconblock .icon-email {
    margin-left: 0;
  }

  #main_nav .navbar-nav {
    overflow: hidden;
  }

  #main_nav .logo img {
    margin-top: -20px;
    height: auto;
    width: 112px;
    transition: none;
  }
/*
  #main_nav.navbar-fixed .logo img {
    transition: none;
    width: 112px;
    margin-top: -12px;
  }*/

  .subnav.navbar-fixed {
    z-index: 2002;
    height: 50px;
  }

  .subnav{
    height: 50px;
  }

  .menu-xs {
   margin-top: -29px !important;
  }

  #main_nav.navbar-fixed .menu-xs {
    margin-top: -24px !important;
  }

  #main_nav .menu-xs .sandwich-button.navbar-toggle:hover, #main_nav .menu-xs .sandwich-button.navbar-toggle:focus {
    background-color: transparent;
  }

  #main_nav .menu-xs .sandwich-button.navbar-toggle .close-menu {
    font-size: 19px;
    margin-top: -3px;
  }

  .mega-menu.navbar #navbar-collapse-mega {
    background-color: white;
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2002;
    border-left: 5rem solid #555;
  }

  .mega-menu.navbar #navbar-collapse-mega.in {
    display: flex !important;
    flex-direction: column;
  }

  .mega-menu.navbar #navbar-collapse-mega .nav.navbar-nav{
    overflow-y: auto;
  }

  .mega-menu.navbar #navbar-collapse-mega .top-navbar-mobile {
    background-color: black;
    padding: 10px 0 0px 0;
    flex: 1;
  }

  .mega-menu.navbar #navbar-collapse-mega .top-navbar-mobile > nav > ul{
    padding-left: 15px;
  }


  .mega-menu.navbar #navbar-collapse-mega .top-navbar-mobile .items-top-navbar-mobile {
    list-style: none;
    margin: 30px 0;
  }

  .mega-menu.navbar #navbar-collapse-mega .top-navbar-mobile .items-top-navbar-mobile > a {
    color: white;
    font-size: 14px;
    padding: 5px 0;
  }


  .mega-menu.navbar #navbar-collapse-mega .top-navbar-mobile .items-top-navbar-mobile .o-link-arrow::after {
    color: darkorange;
    float: right;
    margin-top: 0;
    margin-right: 10px;
    font-size: 14px ;
  }

  .mega-menu.navbar .nav .mega-menu-mobile > li > a {
    color: black;
  }

  .mega-menu.navbar .nav .mega-menu-mobile {
    justify-content: flex-start;
  }

  .mega-menu.navbar .nav .mega-menu-mobile ul {
    padding-left: 15px;
    margin-bottom: 10rem;
  }

  .mega-menu.navbar .mega-menu-mobile .welcome_text {
    margin: 40px 0 40px 0;
    color: black;
    font-weight: normal;
    letter-spacing: normal;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
  }

  .mega-menu.navbar #navbar-collapse-mega .top-navbar-mobile .join-text {
    margin: 25px 0 35px 0;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
  }

  .mega-menu.navbar .mega-menu-mobile .en-ce-moment-mobile {
    color: black;
    margin: 45px 0 39px 0;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
  }

  .mega-menu.navbar .mega-menu-mobile li {
    list-style: none;
    margin: 19px 0;
  }

  .mega-menu.navbar .mega-menu-mobile li.items-mobile-1 {
    padding: 18px 0;
    margin: 0;
  }

  .mega-menu.navbar .mega-menu-mobile a {
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    display: block;
    cursor: pointer;
    padding: 0;
  }

  .mega-menu.navbar .mega-menu-mobile .items-level-3 {
    font-size: 12px;
  }

  .mega-menu.navbar .mega-menu-mobile .field-teaser-mobile {
    font-weight: normal;
    margin: 10px 15px 5px 0;
    font-size: 14px;
  }

  .mega-menu.navbar .mega-menu-mobile .separateur {
    margin: 40px 15px 0 0;
    border-top: 1px solid #ccc;
  }

  .mega-menu.navbar .mega-menu-mobile .all-product-link-mobile {
    margin: 0 10px 0 0;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
  }
  .mega-menu.navbar .mega-menu-mobile .all-product-link-mobile::after {
    float: none !important;
    font-size: 12px !important;
  }

  .mega-menu.navbar .mega-menu-mobile .items-mobile-back {
    border-bottom: 3px solid #ccc;
    margin: 20px 0 0 -15px;
    padding: 10px 0 30px 0;
  }

  .mega-menu.navbar .mega-menu-mobile .items-mobile-back > a.o-link-arrow::after {
    display: none;
  }

  .mega-menu.navbar .mega-menu-mobile .items-mobile-back > a.o-link-arrow::before {
    color: #f16e00;
    margin-left: 15px;
    margin-right: 25px;
    font-size: 14px;
  }

  .mega-menu.navbar .mega-menu-mobile .o-link-arrow::after {
    padding: 0 10px;
    font-family: boosted;
    font-size: 14px ;
    color: #000;
    content: "\e902";
    float: right;
    margin-top: 0;
    margin-right: 10px;
  }

  .mega-menu.navbar .mega-menu-mobile .mobile_soft_list .global-link-mobile {
    margin: 30px 0;
    padding: 0;
    font-size: 16px;
    width: max-content;
  }
  .mega-menu.navbar .mega-menu-mobile .mobile_soft_list h4 {
    margin: 0;
    font-size: 20px;
  }


  .mega-menu.navbar .mega-menu-mobile .mobile_soft_list a.global-link-mobile.o-link-arrow::after {
    color: #f16e00;
    padding-top: 2px;
  }

  .mega-menu.navbar .mega-menu-mobile .mobile_soft_list .items_list_link a {
    margin: 30px 0 0 0;
    font-weight: normal;
  }

  .mega-menu.navbar .mega-menu-mobile .mobile-highlight {
    border-bottom: 1px solid #ccc;
    margin-left: -5px;
  }

  .mega-menu.navbar .mega-menu-mobile .mobile-highlight .obs_template {
    padding: 15px;
    padding-top: 6.4px;
  }

  .mega-menu.navbar .mega-menu-mobile .items_list_link_container {
    width: 95%;
  }

  .mega-menu.navbar .mega-menu-mobile .items_list_link_container  a {
    font-weight: normal;
    margin-top: 30px;
    padding: 0;
  }

  .mega-menu.navbar .mega-menu-mobile .items_list_link_container .items_list_link_title > a {
    font-size: 20px;
    font-weight: bold;
    border-top: 1px solid #ccc;
    padding-top: 30px;
    padding-bottom: 0;
  }

  .mega-menu.navbar .mega-menu-mobile .items_list_link_title > a.no-top-border {
    border: none;
    padding-top: 0;
  }

  .mega-menu.navbar .mega-menu-mobile .mobile-highlight .mega_menu_template > h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .mega-menu.navbar .mega-menu-mobile .mobile-highlight .mega_menu_template a.o-link-arrow {
    max-width: 95%;
    font-weight: normal;
    text-decoration: none;
  }

  .mega-menu.navbar .mega-menu-mobile .mobile-highlight .mega_menu_template a.o-link-arrow::after {
    color: #f16e00;
    padding-top: 7px;
    padding-right: 0;
    margin-right: 0;
  }

  .mega-menu.navbar .mega-menu-mobile .mobile-highlight .mega_menu_template .btn {
    margin-top: 0;
    padding: 13px 45px;
    margin-bottom: 15px;
  }

  .mega-menu.navbar .mega-menu-mobile .mobile-highlight .mega_menu_template p > a {
    text-decoration: underline;
  }
}


@media (max-width: 1219px) {
  .mega-menu .navbar .nav > li {
    padding-right: 10px;
  }
  .mega-menu.navbar .nav > li > a {
    padding-right: 1rem;
  }
}


@media (min-width: 480px) {
  .container-fluid-navbar {
    max-width: 468px;
    margin-right: auto;
    margin-left: auto
  }
}
@media (min-width: 767px) {
  .container-fluid-navbar {
    max-width: 744px;
    margin-right: auto;
    margin-left: auto
  }
  /*.mega-menu .dropdown-menu .row {
      padding: 20px calc((100% - 744px + 12px)/2);
  }*/
}

@media (min-width: 980px) {
  .container-fluid-navbar {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto
  }

  .mega-menu.navbar .nav > li:first-child > a {
    margin-left: 10px !important;
  }

  .mega-menu .dropdown-menu .row {
    padding: 20px calc((100% - 960px + 12px) / 2);
  }

  .mega-menu .dropdown-menu .sous_items_prod_serv .row{
    padding-bottom: 0;
  }

  .mega-menu .nav-item.dropdown .dropdown-menu > .row {
    margin-left: -15px;
    padding-right: 15px;
  }

  .mega-menu .nav-link {
    margin-top: 10px;
  }
}

@media (min-width: 1220px) {
  .container-fluid-navbar {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto
  }
  .mega-menu .dropdown-menu .row {
    padding: 20px calc((100% - 1200px + 12px) / 2);
  }

  .mega-menu .dropdown-menu .sous_items_prod_serv .row {
    padding-bottom: 0;
  }
}
@media (min-width: 1380px) {
  .container-fluid-navbar {
    max-width: 1320px;
    margin-right: auto;
    margin-left: auto
  }
  .mega-menu .dropdown-menu .row {
    padding: 20px calc((100% - 1320px + 12px) / 2);
  }

  .mega-menu .dropdown-menu .sous_items_prod_serv .row {
    padding-bottom: 0;
  }

  .mega-menu .nav-item.dropdown .dropdown-menu {
    max-width: 1440px;
    margin: 0 auto;
  }
}


@media (min-width: 768px) and (max-width: 979px) {
  .open > .dropdown-menu {
    /*position: relative;
    display: block;
    width: 100%;*/
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    border: 0;
    box-shadow: none;
  }
}

nav .menu.navbar-nav a:active,
nav .menu.navbar-nav a:focus {
  outline: none;
}


.navbar-header.logo .logo.navbar-btn {
  margin-top: 0;
}

#top_navbar .navbar-nav > li:first-child {
  margin-left: 0;
}

#main_nav .navbar-nav .nav-item.dropdown span.caret,
#navtop .navbar-nav .dropdown span.caret {
  display: none;
}

.mega-menu.navbar .items_prod_serv {
  padding-top: 37px;
  padding-bottom: 70px;
  border-right: 2px;
  border-right: #ccc;
  border-right-style: solid;
  border-right-width: 1px;
  min-height: 210px;
}

.mega-menu.navbar .items_wysiwyg_part {
  padding: 0;
  border-right: 2px;
  border-right: #ccc;
  border-right-style: solid;
  border-right-width: 1px;
  min-height: 210px;
}

.mega-menu.navbar .items_prod_serv > ul > li {
  margin-bottom: 16px;
}

.mega-menu.navbar .items_prod_serv > ul > li > a:focus {
  background-color: transparent;
  color: rgb(255, 121, 0);
  font-weight: bold;
}

.mega-menu.navbar .items_prod_serv .items {
  font-weight: normal;
  color: black;
  padding-top: 13px;
  margin-left: 10px;
  margin-top: 0px;
  background-color: transparent;
  display: unset;
}

.mega-menu.navbar .items_prod_serv > ul > li > a:hover {
  background-color: transparent;
  font-weight: bold;
}

.mega-menu .tab-content.sous_items_prod_serv {
  font-size: 1.6rem;
  border-color: transparent;
  padding-left: 59px;
  padding-bottom: 0;
  padding-right: 65px;
}

.mega-menu.navbar .tab-content.sous_items_prod_serv .en_ce_moment {
  color: black;
  font-size: 20px;
}

.mega-menu .tab-content.sous_items_prod_serv .sous-items > a {
  padding-left: 0;
}

.mega-menu .tab-content.sous_items_prod_serv .sous-items .teaser {
  color: black;
  font-size: 14px;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 30px;
}

.mega-menu .tab-content.sous_items_prod_serv .sous-items.col-xs-6 {
  height: 89px;
  margin: 10px 0 15px;
  padding: 0 10px;
}

.mega-menu .tab-content.sous_items_prod_serv .sous-items a:hover .teaser{
  color:rgb(255,121, 0);
}

.mega-menu .tab-content.sous_items_prod_serv .all_product_glyphicon {
  font-size: 12px !important;
  margin-left: 2px !important;
  top: 1px !important;
  color: rgb(255, 121, 0) !important;
  font-weight: bold !important;
}

.mega-menu .items_list_wysiwyg_container {
  padding: 36px 15px 30px 60px;
}

.mega-menu .items_list_wysiwyg_container .title_megamenu {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}

.mega-menu .items_list_wysiwyg_container .sous-items > li > a {
  color: #000;
  font-weight: normal;
  margin-bottom: 15px;
  font-size: 1.55rem;
}

.mega-menu .items_list_wysiwyg_container .sous-items > li > a:hover {
  color: #f16e00;
  font-weight: bold;
}

.mega-menu .items_list_wysiwyg_container .sous-items > li:first-child > a {
  padding-left: 0;
}

.mega-menu .items_list_wysiwyg_container .sous-items > li {
  padding-bottom: 15px;
}

.mega-menu .items_list_wysiwyg_container {
  margin-left: 0;
}

.mega-menu .items_wysiwyg_container, .mega-menu .items_prod_container {
  margin-left: 0 !important;
  max-width: unset;
}

.mega-menu .items_wysiwyg_container > .row {
  padding: 0;
}

.mega-menu .items_wysiwyg_container .items_prod_serv {
  padding: 0;
}

.mega-menu .nav-item.dropdown .dropdown-menu .items_prod_serv ul {
  margin-left: -15px !important;
}

.mega-menu .items_prod_container > .row {
  padding: 0;
}

.mega-menu .items_prod_container .items_prod_serv {
  padding-left: 72px;
}


.mega-menu .items_wysiwyg_container .mega_menu_template {
  padding-top: 1rem;
  margin-left: -0.75rem;
  padding-left: 65px;
}

.mega-menu .items_wysiwyg_container .mega_menu_template h4 {
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
  margin-top: 0;
}

.mega-menu .items_wysiwyg_container .mega_menu_template p {
  margin-top: 0;
  margin-bottom: 1.5rem;
  padding-top: 0.7rem;
  padding-bottom: 1rem;
  font-size: 16px;
}

.mega-menu .items_wysiwyg_container .mega_menu_template p > a {
  text-decoration: underline;
  font-weight: bold;
}

.mega-menu .items_wysiwyg_container .mega_menu_template p > a.o-link-arrow {
  text-decoration: none;
  font-weight: normal;
}

.mega-menu a.o-link-arrow::after {
  color: darkorange;
}
.mega-menu a.o-link-arrow.o-link-reverse {
  color: #fff;
}


.mega-menu .items_wysiwyg_container .mega_menu_template p > .btn {
  padding: 1.3rem 4.5rem;
}
