/**
Specific HP with background in carrousel
 */

.hp-background-carousel {
  z-index: -1000;  /* Push it back in any ways */
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position-y: 50px;

  -webkit-transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
  -o-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
  opacity: 0;
}

.hp-background-carousel.active {
  opacity: 1;
}


/**
 CSS Spécifique pour adapter le style aux pages qui possèdent un background
 */

@media not screen, (max-width: 767px) {
}


/* On met un background que pour les page sur écran. Pas sur smartphone */
@media(min-width: 768px) {

    .oab_background_image .view-business-insight .view-filters {
        padding-bottom: 2rem;
    }

  /* Correctif Mep correctif mega-menu RUBYPORTAILOBS-3874 */
  .oab_background_image header {
      background-color: black;
      padding-bottom: 5px;
    }

    /* Changement de la bordure : elle ne prend plus toute la longueur, mais que la taille du navbar */
    .oab_background_image .subnav {
        /* Je supprime la bordure qui prend toute la largeur */
        border: none;

        /*Je supprime les paddings pour les transférer sur le container fluid qui a la bonne taille */
        padding: 0;
    }
  /* Correctif Mep correctif mega-menu RUBYPORTAILOBS-3874 */
    .oab_background_image .subnav.navbar-fixed {
      background-color: black;
      padding-bottom: 5px;
    }

    .oab_background_image .subnav .container-fluid-navbar {
        border-top: 2px solid grey;

        /* Je réapplique les padding supprimés precedement */
        padding: 25px 0 0;
    }

    .oab_background_image .subnav.navbar-fixed .container-fluid-navbar {
        border: none;
    }

    .oab_background_image .menu.navbar-nav .nav-item.dropdown.open > a {
        border-color: transparent;
    }

    .oab_background_image .fieldset-field-insight-type .btn,
    .oab_background_image .fieldset-field-insight-type .btn.btn-primary {
        border: none;
    }


    .oab_background_image .fieldset-field-insight-type .fieldset-legend {
        display: none;
    }


    .oab_background_image .fieldset-field-insight-type .btn label {
        font-weight: normal;
        color: #fff;
    }


    .oab_background_image .view-business-insight .btn-primary label {
        color: #f16e00;
        font-weight: bold;
    }

    .oab_background_image .view-business-insight .btn-info:hover {
        color: #fff;
    }

    .oab_background_image .view-business-insight h1 {
        color: #fff;
        font-weight: normal;
        font-size: 2.5rem;
        margin: 3rem 0;
    }

    .oab_background_image .business-insight-field-insight select.form-control {
        color: #fff;

        /* C'est la fleche, ne pas toucher !!! Il doit etre identique au :focus juste en dessous */
        background-image:
                linear-gradient(45deg, transparent 50%, #fff 50%),
                linear-gradient(135deg, #fff 50%, transparent 50%),
                linear-gradient(to right, transparent, transparent);
        background-position:
                calc(100% - 15px) .5em,
                calc(100% - 5px) .5em,
                calc(100% - .5em) .5em;
        background-size:
                10px 10px,
                10px 10px,
                1px 1.5em;
        background-repeat: no-repeat;

    }

}

.oab_background_image .view-business-insight .view-content .views-row .tile_Report {
    padding-bottom: 20px;
}

/* Refonte responsive VB */
/* Branche RUBYPORTAILOBS-3512 Eddy */

@media(max-width: 767px) {

    .oab_background_image .view-business-insight h1 {
        padding: 3rem 0rem;
        font-size: 2.9rem;
        border-bottom: solid 1px #BBB;
        color: #fff;
    }

    .oab_background_image .business-insight-field-insight select.form-control {
        background-color: #fff;
        color: #000;
        height: 35px;
        font-size: 2rem;
        width: 100%;
        padding-left: 5px;
    }

    .oab_background_image .fieldset-field-insight-type .btn {
        padding: .3rem 1.8rem 1rem 0;
    }

    .oab_background_image .view-business-insight .view-filters {
        width: 100%;
        margin: auto;
        padding: 0;
    }

    .oab_background_image .fieldset-field-insight-type {
        padding-left: 10px;
    }

    .oab_background_image .view-business-insight .view-content .views-row .tile .title_node {
        font-size: 2.7rem
    }

    .oab_background_image .view-business-insight .view-content .views-row {
        width: 100%;
        padding: 0;
    }


    .oab_background_image .business-insight-field-insight {
        padding: 0;
    }

    .oab_background_image.fieldset-field-insight-type .fieldset-wrapper {
        margin-left: 10px;
    }

    .oab_background_image .fieldset-field-insight-type .btn.btn-primary:active,
    .oab_background_image .fieldset-field-insight-type .btn{
        color: #fff;
    }

    .oab_background_image .business-insight-field-insight select.form-control {
        background-image: none;
        -webkit-appearance: menulist;
    }

    .oab_background_image .view-business-insight .btn-primary label {
        color: #f16e00;
    }

    .oab_background_image .view-business-insight .view-content .views-row .tile {
        margin-bottom: 20px;
    }
}


@media(min-width: 976px) {
  /* Correctif Mep correctif mega-menu RUBYPORTAILOBS-3874 */
  .hp-background-carousel {
    background-position-y: 90px;
  }
}

.oab_background_image .new-btn-see-all-business-insight {
  color: white;
}
