#social-share {
  /*border-top: 1px solid grey;
  padding-top: 10px;*/
  background-color: white;
  position: relative;
}


.page-node-type-homepage #block-socialshareblock,
.page-node-type-homepage #block-theme-oab-hub-socialshareblock,
.page-node-type-homepage-eclairage #block-socialshareblock {
    max-width: none;
}


.breadcrumb {
    padding-left: 0;
    padding-top: 3rem;
    padding-bottom: 0;
    margin-bottom: 0;
}
.breadcrumb .icon-home{
    font-size: 1.4rem;
}
.breadcrumb > li{
    float: none;
    display: inline;
    color: #F16000;
}

.breadcrumb > li + li::before{
    padding: 0 5px 0 5px;
    content: ">";
    font-family: "HelvNeueOrange";
    font-weight: bold;
    font-size: 1.4rem;
}

@media (max-width: 480px) {
    .container .row{
        margin: 0;
    }
}

#search-form {
    background-color: black;
    position: relative;
    padding: 20px 10px;
}
#search-form #searchbar input{
    height: 50px;
    background-color: black;
    color: white;
    width: calc(100% - 100px);
}
#search-form .search-icon {
    color: white;
    padding-left: 30px;
    font-size: 2.7em;
    vertical-align: middle;
}
#search-form h2 {
    color: white;
    padding-bottom: 10px;
    margin-top: 5px;
}

.page-header{
    margin-top: 3rem;
    line-height: 3.4rem;
    padding-bottom:0;
}
@media (max-width: 767px) {
    .page-header {
        font-size: 3.4rem;
    }
}
