
<div class="region region-content" >
    {{ regionsCountriesForm }}
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="col-lg-9 col-md-9 col-sm-12">
            {{ mapBlock }}
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 addresses-list">
            {{ officesListBlock }}
        </div>
    </div>
</div>