<div id="c2c_div" style="margin-bottom: 10px; text-align: center">
  <!-- In the span can be set optional "Call to ..." string -->
  <span></span>

  <button id="c2c_button" class="c2c_button_call" title="Click to call us on the phone">
      <svg id="c2c_svg_icon" viewBox="0 0 1 1" width="0" height="0" class="c2c_icon_call"></svg>
      <span>Call</span>
  </button>

  <!-- The span used for phone API messages -->
  <span id="c2c_span_message"></span>

  <!-- Video controls for WebRTC. Invisible for audio call -->
  <video id="c2c_local_video" style="display: none;"></video>
  <video id="c2c_remote_video" style="display: none;" autoplay=""></video>
</div>
