<div class="row" >
    <article class="page-offices-map col-md-12 col-sm-12">
        <div class="region region-content col-md-12 col-sm-12" >
            <div class='form_filter_regions_countries col col-md-12 col-sm-12'>
                {{ regionsCountriesForm }}
            </div>
            <div class="block_principal_offices_map col-lg-12 col-md-12 col-sm-12">
                <div class="block_carte col-lg-9 col-md-8 col-sm-12">
                    {{ mapBlock }}
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 addresses-list">
                    <div class="col-lg-12 col-md-12 col-sm-12 labelList">{{ labelList }}</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 list">{{ officesListBlock }}</div>
                </div>
            </div>
        </div>
    </article>
</div>