<div class="col col-md-12 col-xs-12 col-sm-12 hr_top_bottom">
    <div class="col col-xl-2 col-lg-3 col-md-4 col-sm-12 col-xs-12 logo_reperes">
        <drupal-entity data-embed-button="media_browser" data-entity-embed-display="entity_reference:media_thumbnail" data-entity-embed-display-settings="{&quot;image_style&quot;:&quot;&quot;,&quot;image_link&quot;:&quot;&quot;}" data-entity-type="media" data-entity-uuid="19ce725e-0c45-46b4-8ecb-bbb774edcfc5"></drupal-entity>
    </div>

    <div class="col col-xl-10 col-lg-9 col-md-8 col-sm-12 col-xs-12 nopadding">
        <p>Riverbed Technology provides a comprehensive WAN optimization solution to a host of performance problems preventig enterprises from sharing applications and data anywhere in the world. Riverbed has been named a leader in the Gartner MMagic quadrant for WAN optimization Controllers for six consecutives years.</p>

        <ul>
            <li><strong>WAN Optimization</strong> : Increase application performance, enable consolidation and improve visibility.</li>
            <li><strong>Performance</strong> : Make IT infrastructure faster, less expensive and more responsive.</li>
            <li><strong>Wide Portfolio</strong> : Solutions for mobile worfkers, branch offices and data centers.</li>
        </ul>
    </div>
</div>
