
stages:          # List of stages for jobs, and their order of execution
  - prepare
  - build_drupal
  - build_image


# Include job templates
include:
  - '/ci/.templates.d/sonarqube.yml'
  - project: 'obs-com/docker-dev/ci-templates'
    file: '/docker-image-build.yml'

variables:
  COMPTE_PROJET: $COMPTE_PROJET_DEV
  VAULT_ADDR: $VAULT_ADDR
  VAULT_PATH: /prj/portail-obs/compte-projet/
  VAULT_OPTS: "-tls-skip-verify=true"
  VAULT_NAMESPACE: "namespace-portail-obs"
  IMAGE_PATH: portail_obs/$CI_COMMIT_BRANCH
  IMAGE_NAME: php-fpm-nginx
  BUILD_CXT: ci/.cloud.d
  BUILD_DIR: $BUILD_PATH/build


# Sonarqube analyze on .pre
sonarqube:
  extends: .sonarqube_template
  stage: .pre

Vault:
  stage: .pre
  image: vault
  before_script:
    - apk add jq
  script:
    # Load Orange G2 certificates
    - update-ca-certificates

    # Vault variables
    - export VAULT_TOKEN="$(vault write -field=token auth/git-oab/login role=$VAULT_NAMESPACE jwt=$CI_JOB_JWT)"
    - export CP_PASSWORD="$(vault kv get -field=INTERNAL_ARTIFACTORY_TOKEN $VAULT_PATH/Devs)"
    - echo "CP_PASSWORD=$CP_PASSWORD" >> vault.env
  artifacts:
    reports:
      dotenv: vault.env
    paths:
      - privateKey.key
      - certificate.crt
    expire_in: 10 minutes


# Création d'un dossier spécifique et copie des fichiers nécessaires au build
Prepare Drupal:
  stage: prepare
  script:
    - mkdir -p $BUILD_DIR
    - cp -r modules $BUILD_DIR/
    - cp -r patches $BUILD_DIR/
    - cp -r themes $BUILD_DIR/
    - cp -r sites $BUILD_DIR/
    - cp -r scripts $BUILD_DIR/
    - cp -r config/sync $BUILD_DIR/config/
    - cp -r config/config_split $BUILD_DIR/config/
    - cp composer.* $BUILD_DIR/
    - cp load.environment.php $BUILD_DIR/

    # Copy Commit/CI info
    - echo "CI_PIPELINE_ID=$CI_PIPELINE_ID" >> $BUILD_DIR/ci-data
    - echo "CI_PIPELINE_URL=$CI_PIPELINE_URL" >> $BUILD_DIR/ci-data
    - echo "CI_COMMIT_TIMESTAMP=$CI_COMMIT_TIMESTAMP" >> $BUILD_DIR/ci-data
    - echo "CI_COMMIT_MESSAGE=$CI_COMMIT_MESSAGE" >> $BUILD_DIR/ci-data
    - echo "CI_PROJECT_URL=$CI_PROJECT_URL" >> $BUILD_DIR/ci-data
    - echo "CI_COMMIT_SHA=$CI_COMMIT_SHA" >> $BUILD_DIR/ci-data
  artifacts:
    paths:
      - $BUILD_DIR
    expire_in: 1 hour

.build_assets: &build_assets
  stage: build_drupal
  image: node
  script:
    - cd $BUILD_DIR/$THEME_DIR
    - yarn install
    - yarn build
  artifacts:
    paths:
      - $BUILD_DIR/$THEME_DIR/dist
    expire_in: 1 hour

Build assets Theme One I:
  <<: *build_assets
  variables:
    THEME_DIR: 'themes/theme_one_i'


Build assets Theme One I Hub :
  <<: *build_assets
  variables:
    THEME_DIR: 'themes/theme_oab_hub_one_i'

Build Drupal:
  stage: build_drupal
  image: php:8.1
  dependencies:
    - Prepare Drupal
  before_script:
    ## Install Composer
    - apt-get update
    - apt-get install -y git zip unzip
    - php -r "copy('https://getcomposer.org/installer', 'composer-setup.php');"
    - php composer-setup.php
    - php -r "unlink('composer-setup.php');"
    - apt-get install -y --no-install-recommends libmagickwand-dev imagemagick > /dev/null
    - pecl install imagick > /dev/null
    - docker-php-ext-enable imagick > /dev/null
    - docker-php-ext-configure gd --prefix=/usr --with-jpeg --with-freetype > /dev/null
    - docker-php-ext-install gd > /dev/null
    - docker-php-ext-enable gd > /dev/null
    - mv composer.phar $BUILD_DIR
  script:
    - cd $BUILD_DIR
    - php composer.phar install
  after_script:
    ## Clean Up Repo
    - cd $BUILD_DIR
    - rm composer.phar
    - rm -r patches INSTALL.txt .ht.router.php .eslint* .csslintrc web.config
  artifacts:
    paths:
      - $BUILD_DIR
    expire_in: 1 hour


Build Image:
  extends: .build_internal_image
  stage: build_image
  dependencies:
    - Build Drupal
    - Build assets Theme One I
    - Build assets Theme One I Hub
    - Vault
  variables:
    BUILD_PATH: $BUILD_CXT
    ARTIFACTORY_USER: $COMPTE_PROJET
    ARTIFACTORY_TOKEN: $CP_PASSWORD
    TAG: $CI_JOB_ID
    IS_LATEST: 1

