<div class="node-axiome-customer-story">
    <div class="col col-md-12 nopadding">

        <p class="highlight1"> Le stade toulousain propose une couverture WIFI à ses supporters </p>
    </div>
    <div>code embed</div>
    <div class="col col-md-12 col-xs-12 col-sm-12 nopadding">
        <div class="bubble">
            <div class="verbatim-title">Eximilia ille frui publicae omnia ut ille utilitatem properat tam frui publicae frui ille propter senator ut properat aliud tam.</div>

            <p class="verbatim-source">Daniel Marion, Directeur des Systèmes d'Information de l'UEFA</p>
        </div>
    </div>

</div>