<div class="banner-topzone container">
    <div class="col col-lg-2 col-md-3 col-sm-6 col-xs-6 leftcol">
        <div class="icon-frame-connectivity frame-icon-rel inline text_orange">
            <h2 class="frame-text title text_white"><span class="black">Connectivité</span></h2>
        </div>
    </div>
    <div class="col col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <div class="titre3">Bâtir ou étendre mon réseau local d'entreprise</div>
    </div>
    <div class="col col-lg-4 col-md-2"></div>
    <div class="col col-lg-2 col-md-3 rightcol">
        <div class="icon-popout-connectivity frame-icon-rel inline text_black">
            <h2 class="frame-text title text_white"><span class="white">Mon réseau local</span></h2>
        </div>
    </div>
</div>
