<div class="node-axiome-chapeau">
    <div class="col col-md-12 nopadding">

        <p class="highlight1"> Vous souhaitez batir ou étendre votre réseau local d'entreprise ? mon réseau local Orange Business Services est une solution clé en main destinées aux petites et moyennes entreprises.</p>
    </div>

    <div class="col col-md-12 nopadding image">
        <img src="ceci est mon image.com" class="adefinir"/>
    </div>


</div>