{% if field_header.image.url_archive|trim is not empty %}
<div class="node-axiome-chapeau">

    <div class="col col-md-12 nopadding">
        <p class="highlight1"> {{ field_header.summary|raw }} </p>
    </div>

    <div class="col col-md-12 nopadding image">
        <img src="/sites/default/files/axiome2/fiches/{{ id_fiche }}{{ field_header.image.url_archive }}" alt="{{ field_header.image.balise_alt }}" />
    </div>

</div>
{% endif %}