<div class="node-axiome-know-more">
    <div class="col col-md-12 nopadding">
        <h2 class="titre2">En savoir plus</h2>
    </div>
    <div class="col col-md-12 nopadding">
        {% for item in axiomeDocs.doc %}
            {{ item.type }}
        {% endfor %}

    </div>
</div>