<div class="node-axiome-simple-content">
    <div class="col col-md-12 nopadding">
        <h2 class="titre2">L'accompagnement de nos experts</h2>
        <p class="highlight1">Nous vous accompagnons à chaque étape de la vie de votre solution et vous garantissons contractuellement l'intervention et le temps de rétablissement</p>
        <div>visuel</div>
    </div>
</div>