<div class="node-socialbar">
    <p>
       <a
                href="#"
                class="share-button-twitter"
                target="_blank"
                title="{{ 'Share on'|trans }} twitter" >
            <span class="fa-lg fa-stack text_black"> <i class="fa fa-circle-thin fa-stack-2x"></i> <i class="fa fa-twitter fa-stack-1x"></i> </span>
        </a>

        <a
                href="#"
                class="share-button-facebook"
                target="_blank"
                title="{{ 'Share on'|trans }} facebook">
            <span class="fa-lg fa-stack text_black"> <i class="fa fa-circle-thin fa-stack-2x"></i> <i class="fa fa-facebook fa-stack-1x"></i> </span>
        </a>

        <a
                href="#"
                class="share-button-linkedin"
                target="_blank"
                title="{{ 'Share on'|trans }} linkedin">
            <span class="fa-lg fa-stack text_black"> <i class="fa fa-circle-thin fa-stack-2x"></i> <i class="fa fa-linkedin fa-stack-1x"></i> </span>
        </a>
    </p>
</div>
