<div class="bg bg_white col col-md-12 nopadding">
    <div class="col col-md-3 padding10Right bg-partner">
        <div class="align-center img">
            <drupal-entity data-align="center" data-embed-button="media_browser" data-entity-embed-display="entity_reference:media_thumbnail" data-entity-embed-display-settings="{&quot;image_style&quot;:&quot;&quot;,&quot;image_link&quot;:&quot;&quot;}" data-entity-type="media" data-entity-uuid="9ac29467-ebaa-4955-a518-1d1d3c329c16"></drupal-entity>
        </div>
    </div>
    <div class="col col-md-3 padding10Horizontal bg-partner">
        <div class="align-center img">
            <drupal-entity data-align="center" data-embed-button="media_browser" data-entity-embed-display="entity_reference:media_thumbnail" data-entity-embed-display-settings="{&quot;image_style&quot;:&quot;&quot;,&quot;image_link&quot;:&quot;&quot;}" data-entity-type="media" data-entity-uuid="9ac29467-ebaa-4955-a518-1d1d3c329c16"></drupal-entity>
        </div>
    </div>
    <div class="col col-md-3 padding10Horizontal bg-partner">
        <div class="align-center img">
            <drupal-entity data-align="center" data-embed-button="media_browser" data-entity-embed-display="entity_reference:media_thumbnail" data-entity-embed-display-settings="{&quot;image_style&quot;:&quot;&quot;,&quot;image_link&quot;:&quot;&quot;}" data-entity-type="media" data-entity-uuid="9ac29467-ebaa-4955-a518-1d1d3c329c16"></drupal-entity>
        </div>
    </div>
    <div class="col col-md-3 padding10Left bg-partner">
        <div class="align-center img">
            <drupal-entity data-align="center" data-embed-button="media_browser" data-entity-embed-display="entity_reference:media_thumbnail" data-entity-embed-display-settings="{&quot;image_style&quot;:&quot;&quot;,&quot;image_link&quot;:&quot;&quot;}" data-entity-type="media" data-entity-uuid="9ac29467-ebaa-4955-a518-1d1d3c329c16"></drupal-entity>
        </div>
    </div>
</div>