<div class="bg product_partners bg_white col col-md-12 col-xs-12 nopadding">
    <div class="col col-md-3 col-xs-6 padding10Right bg-partner">
        <div class="align-center img">
            <drupal-entity data-embed-button="media_browser" data-entity-embed-display="entity_reference:media_thumbnail" data-entity-embed-display-settings="{&quot;image_style&quot;:&quot;&quot;,&quot;image_link&quot;:&quot;&quot;}" data-entity-type="media" data-entity-uuid="19ce725e-0c45-46b4-8ecb-bbb774edcfc5"></drupal-entity>
        </div>
    </div>
    <div class="col col-md-3 col-xs-6 padding10Horizontal bg-partner">
        <div class="align-center img">
            <drupal-entity data-embed-button="media_browser" data-entity-embed-display="entity_reference:media_thumbnail" data-entity-embed-display-settings="{&quot;image_style&quot;:&quot;&quot;,&quot;image_link&quot;:&quot;&quot;}" data-entity-type="media" data-entity-uuid="19ce725e-0c45-46b4-8ecb-bbb774edcfc5"></drupal-entity>
        </div>
    </div>
    <div class="col col-md-3 col-xs-6 padding10Horizontal bg-partner">
        <div class="align-center img">
            <drupal-entity data-embed-button="media_browser" data-entity-embed-display="entity_reference:media_thumbnail" data-entity-embed-display-settings="{&quot;image_style&quot;:&quot;&quot;,&quot;image_link&quot;:&quot;&quot;}" data-entity-type="media" data-entity-uuid="19ce725e-0c45-46b4-8ecb-bbb774edcfc5"></drupal-entity>
        </div>
    </div>
    <div class="col col-md-3 col-xs-6 padding10Left bg-partner">
        <div class="align-center img">
            <drupal-entity data-embed-button="media_browser" data-entity-embed-display="entity_reference:media_thumbnail" data-entity-embed-display-settings="{&quot;image_style&quot;:&quot;&quot;,&quot;image_link&quot;:&quot;&quot;}" data-entity-type="media" data-entity-uuid="19ce725e-0c45-46b4-8ecb-bbb774edcfc5"></drupal-entity>
        </div>
    </div>
</div>