<div class="bg product_partners bg_white col col-md-12 col-xs-12 nopadding">
    <div class="col col-md-3 col-xs-6 padding10Right bg-partner">
        <div class="align-center img"><article><img alt="" src="/modules/custom/oab_ckeditor/js/plugins/templating/images/a_remplacer.jpg" /></article></div>
    </div>
    <div class="col col-md-3 col-xs-6 padding10Horizontal bg-partner">
        <div class="align-center img"><article><img alt="" src="/modules/custom/oab_ckeditor/js/plugins/templating/images/a_remplacer.jpg" /></article></div>
    </div>
    <div class="col col-md-3 col-xs-6 padding10Horizontal bg-partner">
        <div class="align-center img"><article><img alt="" src="/modules/custom/oab_ckeditor/js/plugins/templating/images/a_remplacer.jpg" /></article></div>
    </div>
    <div class="col col-md-3 col-xs-6 padding10Left bg-partner">
        <div class="align-center img"><article><img alt="" src="/modules/custom/oab_ckeditor/js/plugins/templating/images/a_remplacer.jpg" /></article></div>
    </div>
</div>