<div class="col col-md-12 bg bg_purple nopadding">
    <div class="col col-md-6 image nopadding hidden-sm">
        <drupal-entity data-embed-button="media_browser" data-entity-embed-display="entity_reference:entity_reference_entity_view" data-entity-embed-settings="{&quot;view_mode&quot;:&quot;default&quot;}" data-entity-type="media" data-entity-uuid="cde6c86a-ee84-46ff-bbaa-680d579f9529"></drupal-entity>
    </div>

    <div class="col col-md-6 bg bg_purple">
        <p class="callToAction highlight">"Orange gave us greater capability to identify and stop cyber attacks."</p>

        <p><a class="btn btn-default" href="">View the customer story</a></p>
    </div>
</div>
