<div class="col col-md-12 bg bg_green nopadding">
    <div class="col col-md-6 bg">
        <p class="callToAction highlight">"The benefit of a well-implemented social media strategy will generally outweigh the risks"</p>

        <p class="auteur">Johanna Pimentel</p>

        <p class="normal">Lead of Regulatory Affairs at Orange Business Services</p>
    </div>

    <div class="col col-md-6 nopadding image">
        <drupal-entity data-embed-button="media_browser" data-entity-embed-display="entity_reference:entity_reference_entity_view" data-entity-embed-settings="{&quot;view_mode&quot;:&quot;default&quot;}" data-entity-type="media" data-entity-uuid="4f479860-33bd-40cd-8498-083123544ca5"></drupal-entity>
    </div>
</div>
