<div class="col col-md-12 bg bg_black nopadding">
    <drupal-entity data-embed-button="media_browser" data-entity-embed-display="entity_reference:entity_reference_entity_view" data-entity-embed-settings="{&quot;view_mode&quot;:&quot;default&quot;}" data-entity-type="media" data-entity-uuid="365f1212-e2aa-405e-bfac-d1492c120da8"></drupal-entity>
    <div class="col col-md-6 image nopadding hidden-sm">
    </div>
    <div class="col col-md-6 bg bg_black">
        <p class="callToAction highlight">Orange helps your business build better relationships with your customers.</p>
        <p><a class="btn btn-white-border" href="">Explore My customers</a></p>
    </div>
</div>