<div class="col col-md-12 bg bg_white nopadding">
    <div class="col col-md-6 nopadding bg bg_white">
        <p class="callToAction highlight"><br />
            <strong>Keep your business running smoothly and safely with in-the-cloud web access protection to guard against malicious attacks</strong></p>
    </div>

    <div class="col col-md-6 nopadding image">
        <drupal-entity data-embed-button="media_browser" data-entity-embed-display="entity_reference:entity_reference_entity_view" data-entity-embed-settings="{&quot;view_mode&quot;:&quot;default&quot;}" data-entity-type="media" data-entity-uuid="e5a9a739-3ef1-428a-a8ac-9a35e59549fc"></drupal-entity>
    </div>
</div>
