<div class="col col-md-12 padding20 bg_darkergrey">
    <p class="modulecontent text_white">Eximilia ille frui publicae omnia ut ille utilitatem properat tam frui publicae frui ille propter senator ut properat aliud tam.Eximilia ille frui publicae omnia ut ille utilitatem properat tam frui publicae frui ille propter senator ut properat aliud tam.Eximilia ille frui publicae omnia ut ille utilitatem properat tam frui publicae frui ille propter senator ut properat aliud tam.</p>

    <p class="intro text_white">Francois Pignon, Directeur SI chez Orange</p>
</div>


<!-- OBSOLETE -->