<div class="col col-md-12 bg bg_darkergrey nopadding">
    <div class="col col-md-6 nopadding image">
        <drupal-entity data-embed-button="media_browser" data-entity-embed-display="entity_reference:entity_reference_entity_view" data-entity-embed-settings="{&quot;view_mode&quot;:&quot;default&quot;}" data-entity-type="media" data-entity-uuid="aec4a4fc-4859-4a26-9f2c-c1f2fe15878d"></drupal-entity>
    </div>

    <div class="col col-md-6 padding20">
        <p class="modulecontent text_white">Eximilia ille frui publicae omnia ut ille utilitatem properat tam frui publicae frui ille propter senator ut properat aliud tam.</p>

        <p class="intro text_white">Daniel Marion, Directeur des Systèmes d'Information de l'UEFA</p>
    </div>
</div>


<!-- OBSOLETE -->