<div class="bg product_modules bg_white col col-md-12 nopadding">
    <div class="col col-md-6 col-xs-12 nopadding">
        <div class="col col-md-2 col-xs-2 nopadding">
            <p><span class="solaris icon-4g" style="color:#000000; font-size:4rem;"></span></p>
        </div>
        <div class="col col-md-10 col-xs-10">
            <h4 class="highlight1">mon WiFi</h4>

            <p><b>Jusqu'à 20 bornes installées dans l'entreprise</b></p>

            <p>Les utilisateurs présents sur le site disposent d'un accès au réseau sans fil haut débit, en tout point du réseau.</p>
        </div>
    </div>
    <div class="col col-md-6 col-xs-12 nopadding">
        <div class="col col-md-2 col-xs-2 nopadding">
            <p><span class="solaris icon-aeroplane" style="color:#000000; font-size:4rem;"></span></p>
        </div>
        <div class="col col-md-10 col-xs-10">
            <h4 class="highlight1">mon coeur de réseau</h4>

            <p><b>Une gamme de switchs gigabits de 8 à 24 Ports PoE empilables</b></p>

            <p>Les équipements sont raccordés au réseau local de l'entreprise. Les flux d'information sont priorisés. Le transport de la VOIP est assuré.</p>
        </div>
    </div>
</div>