
.infoBox {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}


.gmap-popup .titre {
    padding: 9px 15px;
    font: normal 14px/18px "OrangeSans75";
    color: white;
    background-color: #ff6801;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fe8432), color-stop(100%, #ff6801));
    background: -webkit-linear-gradient(#fe8432, #ff6801);
    background: -moz-linear-gradient(#fe8432, #ff6801);
    background: -o-linear-gradient(#fe8432, #ff6801);
    background: -ms-linear-gradient(#fe8432, #ff6801);
    background: linear-gradient(#fe8432, #ff6801);
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -khtml-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.gmap-popup .close {
    position: relative;
    top: 8px;
    right: 4px;
    height: 19px;
    width: 18px;
    text-indent: -9999px;
}
.gmap-popup .fleche {
    background: url('../images/infowindow-macro-bottom.png') bottom left no-repeat;
    width: 215px;
    height: 20px;
    position: absolute;
}
.gmap-popup .adress,
.gmap-popup .adresse {
    padding: 9px 15px 0 15px;
    color: #666666;
    background-color: #fff;
}
.gmap-popup .bottom {
    padding: 0 15px 22px 15px;
    color: #666666;
    background-color: #fff;
    position: relative;
}
.gmap-popup .bottom .country_region {
    float: left;
    max-width: 100px;
    margin-top: 16px;
}
.gmap-popup .bottom .contact {
    padding: 0 5px 0 0;
    position: absolute;
    right: 0;
    bottom: 22px;
}
.gmap-popup .bottom .contact .more,
.gmap-popup .bottom .country_region .more {
    padding-right: 18px;
    position: relative;
    display: inline-block;
}
.gmap-popup .bottom .contact .more span,
.gmap-popup .bottom .country_region .more span {
    position: absolute;
    right: 0;
    top: 1px;
    border: none;
    background-position: -96px 0;
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    background-color: transparent;
    background-image: url('../../../../common_resources/images/sprite.png');
    background-repeat: no-repeat;
    font-size: 1px;
    line-height: 1px;
    vertical-align: middle;
}
.gmap-popup a {
    font-size: 0.9em;
    font-weight: bold;
    color: #333333;
}
.gmap-popup a:hover,
.gmap-popup a:active,
.gmap-popup a:focus {
    color: #ff7900;
    text-decoration: underline;
}