<style type="text/css">
  article.node.full .item a:hover {
    text-decoration: none;
  }
  .content .most_read a:hover {
    color:#000;
    text-decoration:none;
  }
  .topic-item {
    border: solid 0.07em #dddddd;
    box-shadow: 0.14em 0.14em #dddddd;
    margin: 0 2rem 0 0;
    width: 290px;
    min-height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .region-content article .description a {
    text-decoration: none;
  }
  .content .description a:hover, article.node.full .topic-item a:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .topic-item .description .glyphicon {
    float: right;
    color: #F60;
  }
  .topic-item .description {
    display: none;
  }
  .topic-item:hover {
    border: solid 0.07em #555555;
    box-shadow: 0.14em 0.14em #555555;
  }
  .topic-item:hover> .title {
    display: none;
  }
  .topic-item:hover> .description {
    display: block;
    cursor: pointer;
  }
  .one-i-card h2 {
    position: relative;
    padding-bottom: 1rem;
  }
  .one-i-card h2::after {
    position: absolute;
    content: "";
    width: 2.875rem;
    height: 0.475rem;
    bottom: 0;
    left: 0;
    background: #ff7900;
  }
</style>

<div class="one-i-card">
  <h2>Support topics</h2>
</div>

<div class="container-fluid">
  <div class="row obs_template four_columns">
    <div class="col-md-3 col-sm-12 topic-item">
      <div class="title">
        <p class="text-align-center"><span class="solaris icon-support" style="font-size:6rem;"></span></p>

        <p class="text-align-center"><strong>Account settings</strong></p>
      </div>

      <div class="description">
        <p><a href="#" title="Account settings page"><strong>Account settings</strong></a></p>

        <p><a href="https://back.ruby-prp.multimediabs.com/en/mss-assistance/Accounts%20settings" title="Account settings page">Get support to manage your My Service Space account (login, password, profile...)</a></p>
        <a href="https://back.ruby-prp.multimediabs.com/en/mss-assistance/Accounts%20settings" title="No results"><span class="glyphicon icon-arrow-next"></span></a></div>
    </div>

    <div class="col-md-3 col-sm-12 topic-item">
      <div class="title">
        <p class="text-align-center"><span class="solaris icon-new" style="font-size:6rem;"></span></p>

        <p class="text-align-center"><strong>Solutions</strong></p>
      </div>

      <div class="description">
        <p><a href="#"><strong>Solutions</strong></a></p>

        <p><a href="#">Get help to manage your solutions, learn how to use reports and inventory features.</a></p>
        <a href="#"><span class="glyphicon icon-arrow-next"></span></a></div>
    </div>

    <div class="col-md-3 col-sm-12 topic-item">
      <div class="title">
        <p class="text-align-center"><span class="solaris icon-orange_corporate" style="font-size:6rem;"></span></p>

        <p class="text-align-center"><strong>Reporting</strong></p>
      </div>

      <div class="description">
        <p><a href="#"><strong>Reporting</strong></a></p>

        <p><a href="#">Learn how to access your statistic reports</a></p>
        <a href="#"><span class="glyphicon icon-arrow-next"></span></a></div>
    </div>

    <div class="col-md-3 col-sm-12 topic-item">
      <div class="title">
        <p class="text-align-center"><span class="solaris icon-setup_and_repair" style="font-size:6rem;"></span></p>

        <p class="text-align-center"><strong>Maintenance</strong></p>
      </div>

      <div class="description">
        <p><a href="#"><strong>Maintenance</strong></a></p>

        <p><a href="#">Check your maintenance dashboard, and learn how to activate notifications.</a></p>
        <a href="#"><span class="glyphicon icon-arrow-next"></span> </a></div>
    </div>
  </div>
</div>

