<article class="page-synomia-search-results">
<div class="region region-content" >
    <div class='search_form col col-md-12 col-sm-12'>
        {{ searchForm }}
    </div>
    <div class="block_principal_results col-lg-12 col-md-12 col-sm-12">
            {{ searchResults }}
    </div>
</div>
</article>