<div class="col col-md-12 bg bg_orange">
    <div class="col col-md-6">
        <p class="callToAction highlight">Discover how we can help your business</p>
    </div>
    <div class="col col-md-6">
        <p class="normal">Our advisors are ready to talk with you about the challenges that you ar facing as a business. If you have any questions or need assistance, please don't hesitate to contact us today</p>
        <p><a class="btn btn-primary" href="">Speak to an expert</a></p>
    </div>
</div>