<div class="container" id="contact_module">
    <div class="row">
<div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 bg bg_greyblack nopadding">
    <h3 class="text_white contact_margin">Contactez-nous</h3>
</div>

<div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 bg bg_greyblack nopadding">
    <div class="col col-md-7 nopadding visible-md visible-lg hidden-sm hidden-xs">
        <div class="contact_margin">
            <span>
                <i class="glyphicon icon icon-email"></i>
                <a class="text_white contact_link" href="">Par email</a>
                <i class="glyphicon icon icon-control_centre"></i>
                <a class="text_white contact_link" href="">Par téléphone</a>
            </span>
        </div>
    </div>

    <div class="col col-md-7 col-sm-12 col-xs-12 nopadding visible-sm visible-xs hidden-md hidden-lg">
        <div class="separator">&nbsp;</div>
        <div class="contact_margin">
            <a class="text_white contact_link" href="">Par email<span class="pull-right contact_chevron">&gt;</span></a>
        </div>
        <div class="separator">&nbsp;</div>
        <div class="contact_margin">
            <a class="text_white contact_link" href="">Par téléphone<span class="pull-right contact_chevron">&gt;</span></a>
        </div>
        <div class="separator">&nbsp;</div>
    </div>

    <div class="col col-md-5 col-sm-12 col-xs-12">
        <div class="col col-md-7 col-sm-12 col-xs-12">
            <blockquote class="contact_blockquote">Tous les mois les tendances sur la transformation digitale des entreprises</blockquote>
        </div>

        <div class="col col-md-2 col-sm-12 col-xs-12">
            <div class="col col-sm-8 col-xs-8"><a class="btn btn-primary noborder contact_button" href="">Recevoir la newsletter</a></div>

            <div class="col col-sm-4 col-xs-4 visible-sm visible-xs hidden-md hidden-lg"><span class="pull-right center contact_anchorlink"><a class="text_white" href="#">Haut de page</a></span></div>
        </div>
    </div>
</div>
        </div>
    </div>
