<div class="container" id="contact_module">
    <div class="row">
<div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 bg bg_greyblack nopadding">
    <h3 class="text_white contact_margin">Suivez-nous</h3>
</div>

<div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 bg bg_greyblack nopadding">
    <div class="col col-md-7 nopadding">
        <div class="contact_margin contact_icons">
            <span>
                <span class="fa-lg fa-stack">
                    <a class="twitter text_white" href="http://www.twitter.com">
                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x"></i>
                    </a>
                </span>
                <span class="fa-lg fa-stack">
                    <a class="linkedin text_white" href="http://www.linkedin.com">
                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                        <i class="fa fa-linkedin fa-stack-1x"></i>
                    </a>
                </span>
                <span class="fa-lg fa-stack">
                    <a class="mail text_white" href="mail">
                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                        <i class="fa fa-envelope fa-stack-1x"></i>
                    </a>
                 </span>
            </span>
        </div>
    </div>

    <div class="col col-md-5 col-sm-12 col-xs-12">
        <div class="col col-md-7 col-sm-12 col-xs-12">
            <blockquote class="contact_blockquote">Un projet Internet of Things en cours de réflexion ?</blockquote>
        </div>

        <div class="col col-md-2 col-sm-12 col-xs-12">
            <div class="col col-sm-8 col-xs-8"><a class="btn btn-primary noborder contact_button" href="">Décrivez-nous votre projet</a></div>

            <div class="col col-sm-4 col-xs-4 visible-sm visible-xs hidden-md hidden-lg">
                <span class="pull-right center contact_anchorlink">
                    <a class="text_white" href="#">Haut de page</a>
                </span>
            </div>
        </div>
    </div>
</div>
        </div>
    </div>

